openapi: 3.2.0
info:
  description: This is the interface for interacting with the Asana Platform. Our API reference is generated from our [OpenAPI spec] (https://raw.githubusercontent.com/Asana/openapi/master/defs/asana_oas.yaml).
  x-public-description: This is the interface for interacting with the [Asana Platform](https://developers.asana.com). Our API reference is generated from our [OpenAPI spec] (https://raw.githubusercontent.com/Asana/openapi/master/defs/asana_oas.yaml).
  title: Asana Custom Fields API
  termsOfService: https://asana.com/terms
  contact:
    name: Asana Support
    url: https://asana.com/support
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: '1.0'
  x-docs-schema-whitelist:
  - AsanaResource
  - AsanaNamedResource
  - AuditLogEvent
  - AttachmentResponse
  - AttachmentCompact
  - BatchResponse
  - CustomFieldSettingResponse
  - CustomFieldSettingCompact
  - CustomFieldResponse
  - CustomFieldCompact
  - EnumOption
  - EventResponse
  - ErrorResponse
  - GoalResponse
  - GoalCompact
  - GoalMembershipCompact
  - GoalMembershipBase
  - GoalMembershipResponse
  - GoalRelationshipResponse
  - GoalRelationshipCompact
  - JobResponse
  - JobCompact
  - OrganizationExportResponse
  - OrganizationExportCompact
  - PortfolioMembershipResponse
  - PortfolioMembershipCompact
  - PortfolioResponse
  - PortfolioCompact
  - ProjectBriefResponse
  - ProjectBriefCompact
  - ProjectMembershipCompactResponse
  - ProjectMembershipNormalResponse
  - ProjectMembershipCompact
  - ProjectResponse
  - ProjectCompact
  - ProjectStatusResponse
  - ProjectStatusCompact
  - ProjectTemplateCompact
  - ProjectTemplateResponse
  - RuleTriggerResponse
  - SectionResponse
  - SectionCompact
  - StatusUpdateResponse
  - StatusUpdateCompact
  - StoryResponse
  - StoryCompact
  - TagResponse
  - TagCompact
  - TaskResponse
  - TaskCompact
  - TaskCountResponse
  - TeamMembershipResponse
  - TeamMembershipCompact
  - TeamResponse
  - TeamCompact
  - TimePeriodResponse
  - TimePeriodCompact
  - UserTaskListResponse
  - UserTaskListCompact
  - UserResponse
  - UserCompact
  - WebhookFilter
  - WebhookResponse
  - WebhookCompact
  - WorkspaceMembershipResponse
  - WorkspaceMembershipCompact
  - WorkspaceResponse
  - WorkspaceCompact
servers:
- url: https://app.asana.com/api/1.0
  description: Main endpoint.
security:
- personalAccessToken: []
- oauth2: []
tags:
- name: Custom Fields
  description: '_Note: Custom fields are a premium feature.'
paths:
  /custom_fields:
    parameters:
    - $ref: '#/components/parameters/pretty'
    post:
      summary: Asana Create a custom field
      description: 'Creates a new custom field in a workspace. Every custom field is required

        to be created in a specific workspace, and this workspace cannot be

        changed once set.


        A custom field’s name must be unique within a workspace and not conflict

        with names of existing task properties such as `Due Date` or `Assignee`.

        A custom field’s type must be one of `text`, `enum`, `multi_enum`, `number`,

        `date`, or `people`.


        Returns the full record of the newly created custom field.'
      tags:
      - Custom Fields
      operationId: createCustomField
      parameters:
      - name: opt_fields
        in: query
        description: This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.
        required: false
        example:
        - asana_created_field
        - created_by
        - created_by.name
        - currency_code
        - custom_label
        - custom_label_position
        - date_value
        - date_value.date
        - date_value.date_time
        - description
        - display_value
        - enabled
        - enum_options
        - enum_options.color
        - enum_options.enabled
        - enum_options.name
        - enum_value
        - enum_value.color
        - enum_value.enabled
        - enum_value.name
        - format
        - has_notifications_enabled
        - id_prefix
        - is_formula_field
        - is_global_to_workspace
        - is_value_read_only
        - multi_enum_values
        - multi_enum_values.color
        - multi_enum_values.enabled
        - multi_enum_values.name
        - name
        - number_value
        - people_value
        - people_value.name
        - precision
        - representation_type
        - resource_subtype
        - text_value
        - type
        schema:
          type: array
          items:
            type: string
            enum:
            - asana_created_field
            - created_by
            - created_by.name
            - currency_code
            - custom_label
            - custom_label_position
            - date_value
            - date_value.date
            - date_value.date_time
            - description
            - display_value
            - enabled
            - enum_options
            - enum_options.color
            - enum_options.enabled
            - enum_options.name
            - enum_value
            - enum_value.color
            - enum_value.enabled
            - enum_value.name
            - format
            - has_notifications_enabled
            - id_prefix
            - is_formula_field
            - is_global_to_workspace
            - is_value_read_only
            - multi_enum_values
            - multi_enum_values.color
            - multi_enum_values.enabled
            - multi_enum_values.name
            - name
            - number_value
            - people_value
            - people_value.name
            - precision
            - representation_type
            - resource_subtype
            - text_value
            - type
        style: form
        explode: false
      requestBody:
        description: The custom field object to create.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/CustomFieldRequest'
      responses:
        201:
          description: Custom field successfully created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CustomFieldResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
      x-readme:
        code-samples:
        - language: java
          install: <dependency><groupId>com.asana</groupId><artifactId>asana</artifactId><version>1.0.0</version></dependency>
          code: "import com.asana.Client;\n\nClient client = Client.accessToken(\"PERSONAL_ACCESS_TOKEN\");\n\nCustomField result = client.customfields.createCustomField()\n    .data(\"field\", \"value\")\n    .data(\"field\", \"value\")\n    .option(\"pretty\", true)\n    .execute();"
        - language: node
          install: npm install asana
          code: "const Asana = require('asana');\n\nlet client = Asana.ApiClient.instance;\nlet token = client.authentications['token'];\ntoken.accessToken = '<YOUR_ACCESS_TOKEN>';\n\nlet customFieldsApiInstance = new Asana.CustomFieldsApi();\nlet body = {\"data\": {\"<PARAM_1>\": \"<VALUE_1>\", \"<PARAM_2>\": \"<VALUE_2>\",}}; // Object | The custom field object to create.\nlet opts = { \n    'opt_fields': \"asana_created_field,created_by,created_by.name,currency_code,custom_label,custom_label_position,date_value,date_value.date,date_value.date_time,description,display_value,enabled,enum_options,enum_options.color,enum_options.enabled,enum_options.name,enum_value,enum_value.color,enum_value.enabled,enum_value.name,format,has_notifications_enabled,id_prefix,is_formula_field,is_global_to_workspace,is_value_read_only,multi_enum_values,multi_enum_values.color,multi_enum_values.enabled,multi_enum_values.name,name,number_value,people_value,people_value.name,precision,representation_type,resource_subtype,text_value,type\"\n};\ncustomFieldsApiInstance.createCustomField(body, opts).then((result) => {\n    console.log('API called successfully. Returned data: ' + JSON.stringify(result.data, null, 2));\n}, (error) => {\n    console.error(error.response.body);\n});"
          name: node-sdk-v3
        - language: node
          install: npm install asana@1.0.5
          code: "const asana = require('asana');\n\nconst client = asana.Client.create().useAccessToken('PERSONAL_ACCESS_TOKEN');\n\nclient.customfields.createCustomField({field: \"value\", field: \"value\", pretty: true})\n    .then((result) => {\n        console.log(result);\n    });"
          name: node-sdk-v1
        - language: python
          install: pip install asana
          code: "import asana\nfrom asana.rest import ApiException\nfrom pprint import pprint\n\nconfiguration = asana.Configuration()\nconfiguration.access_token = '<YOUR_ACCESS_TOKEN>'\napi_client = asana.ApiClient(configuration)\n\n# create an instance of the API class\ncustom_fields_api_instance = asana.CustomFieldsApi(api_client)\nbody = {\"data\": {\"<PARAM_1>\": \"<VALUE_1>\", \"<PARAM_2>\": \"<VALUE_2>\",}} # dict | The custom field object to create.\nopts = {\n    'opt_fields': \"asana_created_field,created_by,created_by.name,currency_code,custom_label,custom_label_position,date_value,date_value.date,date_value.date_time,description,display_value,enabled,enum_options,enum_options.color,enum_options.enabled,enum_options.name,enum_value,enum_value.color,enum_value.enabled,enum_value.name,format,has_notifications_enabled,id_prefix,is_formula_field,is_global_to_workspace,is_value_read_only,multi_enum_values,multi_enum_values.color,multi_enum_values.enabled,multi_enum_values.name,name,number_value,people_value,people_value.name,precision,representation_type,resource_subtype,text_value,type\", # list[str] | This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.\n}\n\ntry:\n    # Create a custom field\n    api_response = custom_fields_api_instance.create_custom_field(body, opts)\n    pprint(api_response)\nexcept ApiException as e:\n    print(\"Exception when calling CustomFieldsApi->create_custom_field: %s\\n\" % e)"
          name: python-sdk-v5
        - language: python
          install: pip install asana==3.2.3
          code: 'import asana


            client = asana.Client.access_token(''PERSONAL_ACCESS_TOKEN'')


            result = client.custom_fields.create_custom_field({''field'': ''value'', ''field'': ''value''}, opt_pretty=True)'
          name: python-sdk-v3
        - language: php
          install: composer require asana/asana
          code: '<?php

            require ''vendor/autoload.php'';


            $client = Asana\Client::accessToken(''PERSONAL_ACCESS_TOKEN'');


            $result = $client->customfields->createCustomField(array(''field'' => ''value'', ''field'' => ''value''), array(''opt_pretty'' => ''true''))'
        - language: ruby
          install: gem install asana
          code: "require 'asana'\n\nclient = Asana::Client.new do |c|\n    c.authentication :access_token, 'PERSONAL_ACCESS_TOKEN'\nend\n\nresult = client.custom_fields.create_custom_field(field: \"value\", field: \"value\", options: {pretty: true})"
  /custom_fields/{custom_field_gid}:
    parameters:
    - $ref: '#/components/parameters/custom_field_path_gid'
    - $ref: '#/components/parameters/pretty'
    get:
      summary: Asana Get a custom field
      description: 'Get the complete definition of a custom field’s metadata.


        Since custom fields can be defined for one of a number of types, and

        these types have different data and behaviors, there are fields that are

        relevant to a particular type. For instance, as noted above, enum_options

        is only relevant for the enum type and defines the set of choices that

        the enum could represent. The examples below show some of these

        type-specific custom field definitions.'
      tags:
      - Custom Fields
      operationId: getCustomField
      parameters:
      - name: opt_fields
        in: query
        description: This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.
        required: false
        example:
        - asana_created_field
        - created_by
        - created_by.name
        - currency_code
        - custom_label
        - custom_label_position
        - date_value
        - date_value.date
        - date_value.date_time
        - description
        - display_value
        - enabled
        - enum_options
        - enum_options.color
        - enum_options.enabled
        - enum_options.name
        - enum_value
        - enum_value.color
        - enum_value.enabled
        - enum_value.name
        - format
        - has_notifications_enabled
        - id_prefix
        - is_formula_field
        - is_global_to_workspace
        - is_value_read_only
        - multi_enum_values
        - multi_enum_values.color
        - multi_enum_values.enabled
        - multi_enum_values.name
        - name
        - number_value
        - people_value
        - people_value.name
        - precision
        - representation_type
        - resource_subtype
        - text_value
        - type
        schema:
          type: array
          items:
            type: string
            enum:
            - asana_created_field
            - created_by
            - created_by.name
            - currency_code
            - custom_label
            - custom_label_position
            - date_value
            - date_value.date
            - date_value.date_time
            - description
            - display_value
            - enabled
            - enum_options
            - enum_options.color
            - enum_options.enabled
            - enum_options.name
            - enum_value
            - enum_value.color
            - enum_value.enabled
            - enum_value.name
            - format
            - has_notifications_enabled
            - id_prefix
            - is_formula_field
            - is_global_to_workspace
            - is_value_read_only
            - multi_enum_values
            - multi_enum_values.color
            - multi_enum_values.enabled
            - multi_enum_values.name
            - name
            - number_value
            - people_value
            - people_value.name
            - precision
            - representation_type
            - resource_subtype
            - text_value
            - type
        style: form
        explode: false
      responses:
        200:
          description: Successfully retrieved the complete definition of a custom field’s metadata.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CustomFieldResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
      x-readme:
        code-samples:
        - language: java
          install: <dependency><groupId>com.asana</groupId><artifactId>asana</artifactId><version>1.0.0</version></dependency>
          code: "import com.asana.Client;\n\nClient client = Client.accessToken(\"PERSONAL_ACCESS_TOKEN\");\n\nCustomField result = client.customfields.getCustomField(customFieldGid)\n    .option(\"pretty\", true)\n    .execute();"
        - language: node
          install: npm install asana
          code: "const Asana = require('asana');\n\nlet client = Asana.ApiClient.instance;\nlet token = client.authentications['token'];\ntoken.accessToken = '<YOUR_ACCESS_TOKEN>';\n\nlet customFieldsApiInstance = new Asana.CustomFieldsApi();\nlet custom_field_gid = \"12345\"; // String | Globally unique identifier for the custom field.\nlet opts = { \n    'opt_fields': \"asana_created_field,created_by,created_by.name,currency_code,custom_label,custom_label_position,date_value,date_value.date,date_value.date_time,description,display_value,enabled,enum_options,enum_options.color,enum_options.enabled,enum_options.name,enum_value,enum_value.color,enum_value.enabled,enum_value.name,format,has_notifications_enabled,id_prefix,is_formula_field,is_global_to_workspace,is_value_read_only,multi_enum_values,multi_enum_values.color,multi_enum_values.enabled,multi_enum_values.name,name,number_value,people_value,people_value.name,precision,representation_type,resource_subtype,text_value,type\"\n};\ncustomFieldsApiInstance.getCustomField(custom_field_gid, opts).then((result) => {\n    console.log('API called successfully. Returned data: ' + JSON.stringify(result.data, null, 2));\n}, (error) => {\n    console.error(error.response.body);\n});"
          name: node-sdk-v3
        - language: node
          install: npm install asana@1.0.5
          code: "const asana = require('asana');\n\nconst client = asana.Client.create().useAccessToken('PERSONAL_ACCESS_TOKEN');\n\nclient.customfields.getCustomField(customFieldGid, {param: \"value\", param: \"value\", opt_pretty: true})\n    .then((result) => {\n        console.log(result);\n    });"
          name: node-sdk-v1
        - language: python
          install: pip install asana
          code: "import asana\nfrom asana.rest import ApiException\nfrom pprint import pprint\n\nconfiguration = asana.Configuration()\nconfiguration.access_token = '<YOUR_ACCESS_TOKEN>'\napi_client = asana.ApiClient(configuration)\n\n# create an instance of the API class\ncustom_fields_api_instance = asana.CustomFieldsApi(api_client)\ncustom_field_gid = \"12345\" # str | Globally unique identifier for the custom field.\nopts = {\n    'opt_fields': \"asana_created_field,created_by,created_by.name,currency_code,custom_label,custom_label_position,date_value,date_value.date,date_value.date_time,description,display_value,enabled,enum_options,enum_options.color,enum_options.enabled,enum_options.name,enum_value,enum_value.color,enum_value.enabled,enum_value.name,format,has_notifications_enabled,id_prefix,is_formula_field,is_global_to_workspace,is_value_read_only,multi_enum_values,multi_enum_values.color,multi_enum_values.enabled,multi_enum_values.name,name,number_value,people_value,people_value.name,precision,representation_type,resource_subtype,text_value,type\", # list[str] | This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.\n}\n\ntry:\n    # Get a custom field\n    api_response = custom_fields_api_instance.get_custom_field(custom_field_gid, opts)\n    pprint(api_response)\nexcept ApiException as e:\n    print(\"Exception when calling CustomFieldsApi->get_custom_field: %s\\n\" % e)"
          name: python-sdk-v5
        - language: python
          install: pip install asana==3.2.3
          code: 'import asana


            client = asana.Client.access_token(''PERSONAL_ACCESS_TOKEN'')


            result = client.custom_fields.get_custom_field(custom_field_gid, {''param'': ''value'', ''param'': ''value''}, opt_pretty=True)'
          name: python-sdk-v3
        - language: php
          install: composer require asana/asana
          code: '<?php

            require ''vendor/autoload.php'';


            $client = Asana\Client::accessToken(''PERSONAL_ACCESS_TOKEN'');


            $result = $client->customfields->getCustomField($custom_field_gid, array(''param'' => ''value'', ''param'' => ''value''), array(''opt_pretty'' => ''true''))'
        - language: ruby
          install: gem install asana
          code: "require 'asana'\n\nclient = Asana::Client.new do |c|\n    c.authentication :access_token, 'PERSONAL_ACCESS_TOKEN'\nend\n\nresult = client.custom_fields.get_custom_field(custom_field_gid: 'custom_field_gid', param: \"value\", param: \"value\", options: {pretty: true})"
    put:
      summary: Asana Update a custom field
      description: 'A specific, existing custom field can be updated by making a PUT request on the URL for that custom field. Only the fields provided in the `data` block will be updated; any unspecified fields will remain unchanged

        When using this method, it is best to specify only those fields you wish to change, or else you may overwrite changes made by another user since you last retrieved the custom field.

        A custom field’s `type` cannot be updated.

        An enum custom field’s `enum_options` cannot be updated with this endpoint. Instead see “Work With Enum Options” for information on how to update `enum_options`.

        Locked custom fields can only be updated by the user who locked the field.

        Returns the complete updated custom field record.'
      tags:
      - Custom Fields
      operationId: updateCustomField
      parameters:
      - name: opt_fields
        in: query
        description: This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.
        required: false
        example:
        - asana_created_field
        - created_by
        - created_by.name
        - currency_code
        - custom_label
        - custom_label_position
        - date_value
        - date_value.date
        - date_value.date_time
        - description
        - display_value
        - enabled
        - enum_options
        - enum_options.color
        - enum_options.enabled
        - enum_options.name
        - enum_value
        - enum_value.color
        - enum_value.enabled
        - enum_value.name
        - format
        - has_notifications_enabled
        - id_prefix
        - is_formula_field
        - is_global_to_workspace
        - is_value_read_only
        - multi_enum_values
        - multi_enum_values.color
        - multi_enum_values.enabled
        - multi_enum_values.name
        - name
        - number_value
        - people_value
        - people_value.name
        - precision
        - representation_type
        - resource_subtype
        - text_value
        - type
        schema:
          type: array
          items:
            type: string
            enum:
            - asana_created_field
            - created_by
            - created_by.name
            - currency_code
            - custom_label
            - custom_label_position
            - date_value
            - date_value.date
            - date_value.date_time
            - description
            - display_value
            - enabled
            - enum_options
            - enum_options.color
            - enum_options.enabled
            - enum_options.name
            - enum_value
            - enum_value.color
            - enum_value.enabled
            - enum_value.name
            - format
            - has_notifications_enabled
            - id_prefix
            - is_formula_field
            - is_global_to_workspace
            - is_value_read_only
            - multi_enum_values
            - multi_enum_values.color
            - multi_enum_values.enabled
            - multi_enum_values.name
            - name
            - number_value
            - people_value
            - people_value.name
            - precision
            - representation_type
            - resource_subtype
            - text_value
            - type
        style: form
        explode: false
      requestBody:
        description: The custom field object with all updated properties.
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/CustomFieldRequest'
      responses:
        200:
          description: The custom field was successfully updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CustomFieldResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
      x-readme:
        code-samples:
        - language: java
          install: <dependency><groupId>com.asana</groupId><artifactId>asana</artifactId><version>1.0.0</version></dependency>
          code: "import com.asana.Client;\n\nClient client = Client.accessToken(\"PERSONAL_ACCESS_TOKEN\");\n\nCustomField result = client.customfields.updateCustomField(customFieldGid)\n    .data(\"field\", \"value\")\n    .data(\"field\", \"value\")\n    .option(\"pretty\", true)\n    .execute();"
        - language: node
          install: npm install asana
          code: "const Asana = require('asana');\n\nlet client = Asana.ApiClient.instance;\nlet token = client.authentications['token'];\ntoken.accessToken = '<YOUR_ACCESS_TOKEN>';\n\nlet customFieldsApiInstance = new Asana.CustomFieldsApi();\nlet custom_field_gid = \"12345\"; // String | Globally unique identifier for the custom field.\nlet opts = { \n    'body': {\"data\": {\"<PARAM_1>\": \"<VALUE_1>\", \"<PARAM_2>\": \"<VALUE_2>\",}}, \n    'opt_fields': \"asana_created_field,created_by,created_by.name,currency_code,custom_label,custom_label_position,date_value,date_value.date,date_value.date_time,description,display_value,enabled,enum_options,enum_options.color,enum_options.enabled,enum_options.name,enum_value,enum_value.color,enum_value.enabled,enum_value.name,format,has_notifications_enabled,id_prefix,is_formula_field,is_global_to_workspace,is_value_read_only,multi_enum_values,multi_enum_values.color,multi_enum_values.enabled,multi_enum_values.name,name,number_value,people_value,people_value.name,precision,representation_type,resource_subtype,text_value,type\"\n};\ncustomFieldsApiInstance.updateCustomField(custom_field_gid, opts).then((result) => {\n    console.log('API called successfully. Returned data: ' + JSON.stringify(result.data, null, 2));\n}, (error) => {\n    console.error(error.response.body);\n});"
          name: node-sdk-v3
        - language: node
          install: npm install asana@1.0.5
          code: "const asana = require('asana');\n\nconst client = asana.Client.create().useAccessToken('PERSONAL_ACCESS_TOKEN');\n\nclient.customfields.updateCustomField(customFieldGid, {field: \"value\", field: \"value\", pretty: true})\n    .then((result) => {\n        console.log(result);\n    });"
          name: node-sdk-v1
        - language: python
          install: pip install asana
          code: "import asana\nfrom asana.rest import ApiException\nfrom pprint import pprint\n\nconfiguration = asana.Configuration()\nconfiguration.access_token = '<YOUR_ACCESS_TOKEN>'\napi_client = asana.ApiClient(configuration)\n\n# create an instance of the API class\ncustom_fields_api_instance = asana.CustomFieldsApi(api_client)\ncustom_field_gid = \"12345\" # str | Globally unique identifier for the custom field.\nopts = {\n    'body': {\"data\": {\"<PARAM_1>\": \"<VALUE_1>\", \"<PARAM_2>\": \"<VALUE_2>\",}}, # dict | The custom field object with all updated properties.\n    'opt_fields': \"asana_created_field,created_by,created_by.name,currency_code,custom_label,custom_label_position,date_value,date_value.date,date_value.date_time,description,display_value,enabled,enum_options,enum_options.color,enum_options.enabled,enum_options.name,enum_value,enum_value.color,enum_value.enabled,enum_value.name,format,has_notifications_enabled,id_prefix,is_formula_field,is_global_to_workspace,is_value_read_only,multi_enum_values,multi_enum_values.color,multi_enum_values.enabled,multi_enum_values.name,name,number_value,people_value,people_value.name,precision,representation_type,resource_subtype,text_value,type\", # list[str] | This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.\n}\n\ntry:\n    # Update a custom field\n    api_response = custom_fields_api_instance.update_custom_field(custom_field_gid, opts)\n    pprint(api_response)\nexcept ApiException as e:\n    print(\"Exception when calling CustomFieldsApi->update_custom_field: %s\\n\" % e)"
          name: python-sdk-v5
        - language: python
          install: pip install asana==3.2.3
          code: 'import asana


            client = asana.Client.access_token(''PERSONAL_ACCESS_TOKEN'')


            result = client.custom_fields.update_custom_field(custom_field_gid, {''field'': ''value'', ''field'': ''value''}, opt_pretty=True)'
          name: python-sdk-v3
        - language: php
          install: composer require asana/asana
          code: '<?php

            require ''vendor/autoload.php'';


            $client = Asana\Client::accessToken(''PERSONAL_ACCESS_TOKEN'');


            $result = $client->customfields->updateCustomField($custom_field_gid, array(''field'' => ''value'', ''field'' => ''value''), array(''opt_pretty'' => ''true''))'
        - language: ruby
          install: gem install asana
          code: "require 'asana'\n\nclient = Asana::Client.new do |c|\n    c.authentication :access_token, 'PERSONAL_ACCESS_TOKEN'\nend\n\nresult = client.custom_fields.update_custom_field(custom_field_gid: 'custom_field_gid', field: \"value\", field: \"value\", options: {pretty: true})"
    delete:
      summary: Asana Delete a custom field
      description: 'A specific, existing custom field can be deleted by making a DELETE request on the URL for that custom field.

        Locked custom fields can only be deleted by the user who locked the field.

        Returns an empty data record.'
      tags:
      - Custom Fields
      operationId: deleteCustomField
      responses:
        200:
          description: The custom field was successfully deleted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/EmptyResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
      x-readme:
        code-samples:
        - language: java
          install: <dependency><groupId>com.asana</groupId><artifactId>asana</artifactId><version>1.0.0</version></dependency>
          code: "import com.asana.Client;\n\nClient client = Client.accessToken(\"PERSONAL_ACCESS_TOKEN\");\n\nJsonElement result = client.customfields.deleteCustomField(customFieldGid)\n    .option(\"pretty\", true)\n    .execute();"
        - language: node
          install: npm install asana
          code: "const Asana = require('asana');\n\nlet client = Asana.ApiClient.instance;\nlet token = client.authentications['token'];\ntoken.accessToken = '<YOUR_ACCESS_TOKEN>';\n\nlet customFieldsApiInstance = new Asana.CustomFieldsApi();\nlet custom_field_gid = \"12345\"; // String | Globally unique identifier for the custom field.\n\ncustomFieldsApiInstance.deleteCustomField(custom_field_gid).then((result) => {\n    console.log('API called successfully. Returned data: ' + JSON.stringify(result.data, null, 2));\n}, (error) => {\n    console.error(error.response.body);\n});"
          name: node-sdk-v3
        - language: node
          install: npm install asana@1.0.5
          code: "const asana = require('asana');\n\nconst client = asana.Client.create().useAccessToken('PERSONAL_ACCESS_TOKEN');\n\nclient.customfields.deleteCustomField(customFieldGid)\n    .then((result) => {\n        console.log(result);\n    });"
          name: node-sdk-v1
        - language: python
          install: pip install asana
          code: "import asana\nfrom asana.rest import ApiException\nfrom pprint import pprint\n\nconfiguration = asana.Configuration()\nconfiguration.access_token = '<YOUR_ACCESS_TOKEN>'\napi_client = asana.ApiClient(configuration)\n\n# create an instance of the API class\ncustom_fields_api_instance = asana.CustomFieldsApi(api_client)\ncustom_field_gid = \"12345\" # str | Globally unique identifier for the custom field.\n\n\ntry:\n    # Delete a custom field\n    api_response = custom_fields_api_instance.delete_custom_field(custom_field_gid)\n    pprint(api_response)\nexcept ApiException as e:\n    print(\"Exception when calling CustomFieldsApi->delete_custom_field: %s\\n\" % e)"
          name: python-sdk-v5
        - language: python
          install: pip install asana==3.2.3
          code: 'import asana


            client = asana.Client.access_token(''PERSONAL_ACCESS_TOKEN'')


            result = client.custom_fields.delete_custom_field(custom_field_gid, opt_pretty=True)'
          name: python-sdk-v3
        - language: php
          install: composer require asana/asana
          code: '<?php

            require ''vendor/autoload.php'';


            $client = Asana\Client::accessToken(''PERSONAL_ACCESS_TOKEN'');


            $result = $client->customfields->deleteCustomField($custom_field_gid, array(''opt_pretty'' => ''true''))'
        - language: ruby
          install: gem install asana
          code: "require 'asana'\n\nclient = Asana::Client.new do |c|\n    c.authentication :access_token, 'PERSONAL_ACCESS_TOKEN'\nend\n\nresult = client.custom_fields.delete_custom_field(custom_field_gid: 'custom_field_gid', options: {pretty: true})"
  /workspaces/{workspace_gid}/custom_fields:
    parameters:
    - $ref: '#/components/parameters/workspace_path_gid'
    - $ref: '#/components/parameters/pretty'
    - $ref: '#/components/parameters/limit'
    - $ref: '#/components/parameters/offset'
    get:
      summary: Asana Get a workspace's custom fields
      description: Returns a list of the compact representation of all of the custom fields in a workspace.
      tags:
      - Custom Fields
      operationId: getCustomFieldsForWorkspace
      parameters:
      - name: opt_fields
        in: query
        description: This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.
        required: false
        example:
        - asana_created_field
        - created_by
        - created_by.name
        - currency_code
        - custom_label
        - custom_label_position
        - date_value
        - date_value.date
        - date_value.date_time
        - description
        - display_value
        - enabled
        - enum_options
        - enum_options.color
        - enum_options.enabled
        - enum_options.name
        - enum_value
        - enum_value.color
        - enum_value.enabled
        - enum_value.name
        - format
        - has_notifications_enabled
        - id_prefix
        - is_formula_field
        - is_global_to_workspace
        - is_value_read_only
        - multi_enum_values
        - multi_enum_values.color
        - multi_enum_values.enabled
        - multi_enum_values.name
        - name
        - number_value
        - offset
        - path
        - people_value
        - people_value.name
        - precision
        - representation_type
        - resource_subtype
        - text_value
        - type
        - uri
        schema:
          type: array
          items:
            type: string
            enum:
            - asana_created_field
            - created_by
            - created_by.name
            - currency_code
            - custom_label
            - custom_label_position
            - date_value
            - date_value.date
            - date_value.date_time
            - description
            - display_value
            - enabled
            - enum_options
            - enum_options.color
            - enum_options.enabled
            - enum_options.name
            - enum_value
            - enum_value.color
            - enum_value.enabled
            - enum_value.name
            - format
            - has_notifications_enabled
            - id_prefix
            - is_formula_field
            - is_global_to_workspace
            - is_value_read_only
            - multi_enum_values
            - multi_enum_values.color
            - multi_enum_values.enabled
            - multi_enum_values.name
            - name
            - number_value
            - offset
            - path
            - people_value
            - people_value.name
            - precision
            - representation_type
            - resource_subtype
            - text_value
            - type
            - uri
        style: form
        explode: false
      responses:
        200:
          description: Successfully retrieved all custom fields for the given workspace.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CustomFieldResponse'
                  next_page:
                    $ref: '#/components/schemas/NextPage'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
      x-readme:
        code-samples:
        - language: java
          install: <dependency><groupId>com.asana</groupId><artifactId>asana</artifactId><version>1.0.0</version></dependency>
          code: "import com.asana.Client;\n\nClient client = Client.accessToken(\"PERSONAL_ACCESS_TOKEN\");\n\nList<CustomField> result = client.customfields.getCustomFieldsForWorkspace(workspaceGid)\n    .option(\"pretty\", true)\n    .execute();"
        - language: node
          install: npm install asana
          code: "const Asana = require('asana');\n\nlet client = Asana.ApiClient.instance;\nlet token = client.authentications['token'];\ntoken.accessToken = '<YOUR_ACCESS_TOKEN>';\n\nlet customFieldsApiInstance = new Asana.CustomFieldsApi();\nlet workspace_gid = \"12345\"; // String | Globally unique identifier for the workspace or organization.\nlet opts = { \n    'limit': 50, \n    'offset': \"eyJ0eXAiOJiKV1iQLCJhbGciOiJIUzI1NiJ9\", \n    'opt_fields': \"asana_created_field,created_by,created_by.name,currency_code,custom_label,custom_label_position,date_value,date_value.date,date_value.date_time,description,display_value,enabled,enum_options,enum_options.color,enum_options.enabled,enum_options.name,enum_value,enum_value.color,enum_value.enabled,enum_value.name,format,has_notifications_enabled,id_prefix,is_formula_field,is_global_to_workspace,is_value_read_only,multi_enum_values,multi_enum_values.color,multi_enum_values.enabled,multi_enum_values.name,name,number_value,offset,path,people_value,people_value.name,precision,representation_type,resource_subtype,text_value,type,uri\"\n};\ncustomFieldsApiInstance.getCustomFieldsForWorkspace(workspace_gid, opts).then((result) => {\n    console.log('API called successfully. Returned data: ' + JSON.stringify(result.data, null, 2));\n}, (error) => {\n    console.error(error.response.body);\n});"
          name: node-sdk-v3
        - language: node
          install: npm install asana@1.0.5
          code: "const asana = require('asana');\n\nconst client = asana.Client.create().useAccessToken('PERSONAL_ACCESS_TOKEN');\n\nclient.customfields.getCustomFieldsForWorkspace(workspaceGid, {param: \"value\", param: \"value\", opt_pretty: true})\n    .then((result) => {\n        console.log(result);\n    });"
          name: node-sdk-v1
        - language: python
          install: pip install asana
          code: "import asana\nfrom asana.rest import ApiException\nfrom pprint import pprint\n\nconfiguration = asana.Configuration()\nconfiguration.access_token = '<YOUR_ACCESS_TOKEN>'\napi_client = asana.ApiClient(configuration)\n\n# create an instance of the API class\ncustom_fields_api_instance = asana.CustomFieldsApi(api_client)\nworkspace_gid = \"12345\" # str | Globally unique identifier for the workspace or organization.\nopts = {\n    'limit': 50, # int | Results per page. The number of objects to return per page. The value must be between 1 and 100.\n    'offset': \"eyJ0eXAiOJiKV1iQLCJhbGciOiJIUzI1NiJ9\", # str | Offset token. An offset to the next page returned by the API. A pagination request will return an offset token, which can be used as an input parameter to the next request. If an offset is not passed in, the API will return the first page of results. *Note: You can only pass in an offset that was returned to you via a previously paginated request.*\n    'opt_fields': \"asana_created_field,created_by,created_by.name,currency_code,custom_label,custom_label_position,date_value,date_value.date,date_value.date_time,description,display_value,enabled,enum_options,enum_options.color,enum_options.enabled,enum_options.name,enum_value,enum_value.color,enum_value.enabled,enum_value.name,format,has_notifications_enabled,id_prefix,is_formula_field,is_global_to_workspace,is_value_read_only,multi_enum_values,multi_enum_values.color,multi_enum_values.enabled,multi_enum_values.name,name,number_value,offset,path,people_value,people_value.name,precision,representation_type,resource_subtype,text_value,type,uri\", # list[str] | This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.\n}\n\ntry:\n    # Get a workspace's custom fields\n    api_response = custom_fields_api_instance.get_custom_fields_for_workspace(workspace_gid, opts)\n    for data in api_response:\n        pprint(data)\nexcept ApiException as e:\n    print(\"Exception when calling CustomFieldsApi->get_custom_fields_for_workspace: %s\\n\" % e)"
          name: python-sdk-v5
        - language: python
          install: pip install asana==3.2.3
          code: 'import asana


            client = asana.Client.access_token(''PERSONAL_ACCESS_TOKEN'')


            result = client.custom_fields.get_custom_fields_for_workspace(workspace_gid, {''param'': ''value'', ''param'': ''value''}, opt_pretty=True)'
          name: python-sdk-v3
        - language: php
          install: composer require asana/asana
          code: '<?php

            require ''vendor/autoload.php'';


            $client = Asana\Client::accessToken(''PERSONAL_ACCESS_TOKEN'');


            $result = $client->customfields->getCustomFieldsForWorkspace($workspace_gid, array(''param'' => ''value'', ''param'' => ''value''), array(''opt_pretty'' => ''true''))'
        - language: ruby
          install: gem install asana
          code: "require 'asana'\n\nclient = Asana::Client.new do |c|\n    c.authentication :access_token, 'PERSONAL_ACCESS_TOKEN'\nend\n\nresult = client.custom_fields.get_custom_fields_for_workspace(workspace_gid: 'workspace_gid', param: \"value\", param: \"value\", options: {pretty: true})"
  /custom_fields/{custom_field_gid}/enum_options:
    parameters:
    - $ref: '#/components/parameters/custom_field_path_gid'
    - $ref: '#/components/parameters/pretty'
    post:
      summary: Asana Create an enum option
      description: 'Creates an enum option and adds it to this custom field’s list of enum options. A custom field can have at most 500 enum options (including disabled options). By default new enum options are inserted at the end of a custom field’s list.

        Locked custom fields can only have enum options added by the user who locked the field.

        Returns the full record of the newly created enum option.'
      tags:
      - Custom Fields
      operationId: createEnumOptionForCustomField
      parameters:
      - name: opt_fields
        in: query
        description: This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.
        required: false
        example:
        - color
        - enabled
        - name
        schema:
          type: array
          items:
            type: string
            enum:
            - color
            - enabled
            - name
        style: form
        explode: false
      requestBody:
        description: The enum option object to create.
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/EnumOptionRequest'
      responses:
        201:
          description: Custom field enum option successfully created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/EnumOption'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
      x-readme:
        code-samples:
        - language: java
          install: <dependency><groupId>com.asana</groupId><artifactId>asana</artifactId><version>1.0.0</version></dependency>
          code: "import com.asana.Client;\n\nClient client = Client.accessToken(\"PERSONAL_ACCESS_TOKEN\");\n\nJsonElement result = client.customfields.createEnumOptionForCustomField(customFieldGid)\n    .data(\"field\", \"value\")\n    .data(\"field\", \"value\")\n    .option(\"pretty\", true)\n    .execute();"
        - language: node
          install: npm install asana
          code: "const Asana = require('asana');\n\nlet client = Asana.ApiClient.instance;\nlet token = client.authentications['token'];\ntoken.accessToken = '<YOUR_ACCESS_TOKEN>';\n\nlet customFieldsApiInstance = new Asana.CustomFieldsApi();\nlet custom_field_gid = \"12345\"; // String | Globally unique identifier for the custom field.\nlet opts = { \n    'body': {\"data\": {\"<PARAM_1>\": \"<VALUE_1>\", \"<PARAM_2>\": \"<VALUE_2>\",}}, \n    'opt_fields': \"color,enabled,name\"\n};\ncustomFieldsApiInstance.createEnumOptionForCustomField(custom_field_gid, opts).then((result) => {\n    console.log('API called successfully. Returned data: ' + JSON.stringify(result.data, null, 2));\n}, (error) => {\n    console.error(error.response.body);\n});"
          name: node-sdk-v3
        - language: node
          install: npm install asana@1.0.5
          code: "const asana = require('asana');\n\nconst client = asana.Client.create().useAccessToken('PERSONAL_ACCESS_TOKEN');\n\nclient.customfields.createEnumOptionForCustomField(customFieldGid, {field: \"value\", field: \"value\", pretty: true})\n    .then((result) => {\n        console.log(result);\n    });"
          name: node-sdk-v1
        - language: python
          install: pip install asana
          code: "import asana\nfrom asana.rest import ApiException\nfrom pprint import pprint\n\nconfiguration = asana.Configuration()\nconfiguration.access_token = '<YOUR_ACCESS_TOKEN>'\napi_client = asana.ApiClient(configuration)\n\n# create an instance of the API class\ncustom_fields_api_instance = asana.CustomFieldsApi(api_client)\ncustom_field_gid = \"12345\" # str | Globally unique identifier for the custom field.\nopts = {\n    'body': {\"data\": {\"<PARAM_1>\": \"<VALUE_1>\", \"<PARAM_2>\": \"<VALUE_2>\",}}, # dict | The enum option object to create.\n    'opt_fields': \"color,enabled,name\", # list[str] | This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.\n}\n\ntry:\n    # Create an enum option\n    api_response = custom_fields_api_instance.create_enum_option_for_custom_field(custom_field_gid, opts)\n    pprint(api_response)\nexcept ApiException as e:\n    print(\"Exception when calling CustomFieldsApi->create_enum_option_for_custom_field: %s\\n\" % e)"
          name: python-sdk-v5
        - language: python
          install: pip install asana==3.2.3
          code: 'import asana


            client = asana.Client.access_token(''PERSONAL_ACCESS_TOKEN'')


            result = client.custom_fields.create_enum_option_for_custom_field(custom_field_gid, {''field'': ''value'', ''field'': ''value''}, opt_pretty=True)'
          name: python-sdk-v3
        - language: php
          install: composer require asana/asana
          code: '<?php

            require ''vendor/autoload.php'';


            $client = Asana\Client::accessToken(''PERSONAL_ACCESS_TOKEN'');


            $result = $client->customfields->createEnumOptionForCustomField($custom_field_gid, array(''field'' => ''value'', ''field'' => ''value''), array(''opt_pretty'' => ''true''))'
        - language: ruby
          install: gem install asana
          code: "require 'asana'\n\nclient = Asana::Client.new do |c|\n    c.authentication :access_token, 'PERSONAL_ACCESS_TOKEN'\nend\n\nresult = client.custom_fields.create_enum_option_for_custom_field(custom_field_gid: 'custom_field_gid', field: \"value\", field: \"value\", options: {pretty: true})"
  /custom_fields/{custom_field_gid}/enum_options/insert:
    parameters:
    - $ref: '#/components/parameters/custom_field_path_gid'
    - $ref: '#/components/parameters/pretty'
    post:
      summary: Asana Reorder a custom field's enum
      description: 'Moves a particular enum option to be either before or after another specified enum option in the custom field.

        Locked custom fields can only be reordered by the user who locked the field.'
      tags:
      - Custom Fields
      operationId: insertEnumOptionForCustomField
      parameters:
      - name: opt_fields
        in: query
        description: This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.
        required: false
        example:
        - color
        - enabled
        - name
        schema:
          type: array
          items:
            type: string
            enum:
            - color
            - enabled
            - name
        style: form
        explode: false
      requestBody:
        description: The enum option object to create.
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/EnumOptionInsertRequest'
      responses:
        200:
          description: Custom field enum option successfully reordered.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/EnumOption'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
      x-readme:
        code-samples:
        - language: java
          install: <dependency><groupId>com.asana</groupId><artifactId>asana</artifactId><version>1.0.0</version></dependency>
          code: "import com.asana.Client;\n\nClient client = Client.accessToken(\"PERSONAL_ACCESS_TOKEN\");\n\nJsonElement result = client.customfields.insertEnumOptionForCustomField(customFieldGid)\n    .data(\"field\", \"value\")\n    .data(\"field\", \"value\")\n    .option(\"pretty\", true)\n    .execute();"
        - language: node
          install: npm install asana
          code: "const Asana = require('asana');\n\nlet client = Asana.ApiClient.instance;\nlet token = client.authentications['token'];\ntoken.accessToken = '<YOUR_ACCESS_TOKEN>';\n\nlet customFieldsApiInstance = new Asana.CustomFieldsApi();\nlet custom_field_gid = \"12345\"; // String | Globally unique identifier for the custom field.\nlet opts = { \n    'body': {\"data\": {\"<PARAM_1>\": \"<VALUE_1>\", \"<PARAM_2>\": \"<VALUE_2>\",}}, \n    'opt_fields': \"color,enabled,name\"\n};\ncustomFieldsApiInstance.insertEnumOptionForCustomField(custom_field_gid, opts).then((result) => {\n    console.log('API called successfully. Returned data: ' + JSON.stringify(result.data, null, 2));\n}, (error) => {\n    console.error(error.response.body);\n});"
          name: node-sdk-v3
        - language: node
          install: npm install asana@1.0.5
          code: "const asana = require('asana');\n\nconst client = asana.Client.create().useAccessToken('PERSONAL_ACCESS_TOKEN');\n\nclient.customfields.insertEnumOptionForCustomField(customFieldGid, {field: \"value\", field: \"value\", pretty: true})\n    .then((result) => {\n        console.log(result);\n    });"
          name: node-sdk-v1
        - language: python
          install: pip install asana
          code: "import asana\nfrom asana.rest import ApiException\nfrom pprint import pprint\n\nconfiguration = asana.Configuration()\nconfiguration.access_token = '<YOUR_ACCESS_TOKEN>'\napi_client = asana.ApiClient(configuration)\n\n# create an instance of the API class\ncustom_fields_api_instance = asana.CustomFieldsApi(api_client)\ncustom_field_gid = \"12345\" # str | Globally unique identifier for the custom field.\nopts = {\n    'body': {\"data\": {\"<PARAM_1>\": \"<VALUE_1>\", \"<PARAM_2>\": \"<VALUE_2>\",}}, # dict | The enum option object to create.\n    'opt_fields': \"color,enabled,name\", # list[str] | This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.\n}\n\ntry:\n    # Reorder a custom field's enum\n    api_response = custom_fields_api_instance.insert_enum_option_for_custom_field(custom_field_gid, opts)\n    pprint(api_response)\nexcept ApiException as e:\n    print(\"Exception when calling CustomFieldsApi->insert_enum_option_for_custom_field: %s\\n\" % e)"
          name: python-sdk-v5
        - language: python
          install: pip install asana==3.2.3
          code: 'import asana


            client = asana.Client.access_token(''PERSONAL_ACCESS_TOKEN'')


            result = client.custom_fields.insert_enum_option_for_custom_field(custom_field_gid, {''field'': ''value'', ''field'': ''value''}, opt_pretty=True)'
          name: python-sdk-v3
        - language: php
          install: composer require asana/asana
          code: '<?php

            require ''vendor/autoload.php'';


            $client = Asana\Client::accessToken(''PERSONAL_ACCESS_TOKEN'');


            $result = $client->customfields->insertEnumOptionForCustomField($custom_field_gid, array(''field'' => ''value'', ''field'' => ''value''), array(''opt_pretty'' => ''true''))'
        - language: ruby
          install: gem install asana
          code: "require 'asana'\n\nclient = Asana::Client.new do |c|\n    c.authentication :access_token, 'PERSONAL_ACCESS_TOKEN'\nend\n\nresult = client.custom_fields.insert_enum_option_for_custom_field(custom_field_gid: 'custom_field_gid', field: \"value\", field: \"value\", options: {pretty: true})"
  /enum_options/{enum_option_gid}:
    parameters:
    - name: enum_option_gid
      in: path
      required: true
      description: Globally unique identifier for the enum option.
      schema:
        type: string
      example: '124578'
    - $ref: '#/components/parameters/pretty'
    put:
      summary: Asana Update an enum option
      description: 'Updates an existing enum option. Enum custom fields require at least one enabled enum option.

        Locked custom fields can only be updated by the user who locked the field.

        Returns the full record of the updated enum option.'
      tags:
      - Custom Fields
      operationId: updateEnumOption
      parameters:
      - name: opt_fields
        in: query
        description: This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.
        required: false
        example:
        - color
        - enabled
        - name
        schema:
          type: array
          items:
            type: string
            enum:
            - color
            - enabled
            - name
        style: form
        explode: false
      requestBody:
        description: The enum option object to update
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/EnumOptionBase'
      responses:
        200:
          description: Successfully updated the specified custom field enum.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/EnumOption'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
      x-readme:
        code-samples:
        - language: java
          install: <dependency><groupId>com.asana</groupId><artifactId>asana</artifactId><version>1.0.0</version></dependency>
          code: "import com.asana.Client;\n\nClient client = Client.accessToken(\"PERSONAL_ACCESS_TOKEN\");\n\nJsonElement result = client.customfields.updateEnumOption(enumOptionGid)\n    .data(\"field\", \"value\")\n    .data(\"field\", \"value\")\n    .option(\"pretty\", true)\n    .execute();"
        - language: node
          install: npm install asana
          code: "const Asana = require('asana');\n\nlet client = Asana.ApiClient.instance;\nlet token = client.authentications['token'];\ntoken.accessToken = '<YOUR_ACCESS_TOKEN>';\n\nlet customFieldsApiInstance = new Asana.CustomFieldsApi();\nlet enum_option_gid = \"124578\"; // String | Globally unique identifier for the enum option.\nlet opts = { \n    'body': {\"data\": {\"<PARAM_1>\": \"<VALUE_1>\", \"<PARAM_2>\": \"<VALUE_2>\",}}, \n    'opt_fields': \"color,enabled,name\"\n};\ncustomFieldsApiInstance.updateEnumOption(enum_option_gid, opts).then((result) => {\n    console.log('API called successfully. Returned data: ' + JSON.stringify(result.data, null, 2));\n}, (error) => {\n    console.error(error.response.body);\n});"
          name: node-sdk-v3
        - language: node
          install: npm install asana@1.0.5
          code: "const asana = require('asana');\n\nconst client = asana.Client.create().useAccessToken('PERSONAL_ACCESS_TOKEN');\n\nclient.customfields.updateEnumOption(enumOptionGid, {field: \"value\", field: \"value\", pretty: true})\n    .then((result) => {\n        console.log(result);\n    });"
          name: node-sdk-v1
        - language: python
          install: pip install asana
          code: "import asana\nfrom asana.rest import ApiException\nfrom pprint import pprint\n\nconfiguration = asana.Configuration()\nconfiguration.access_token = '<YOUR_ACCESS_TOKEN>'\napi_client = asana.ApiClient(configuration)\n\n# create an instance of the API class\ncustom_fields_api_instance = asana.CustomFieldsApi(api_client)\nenum_option_gid = \"124578\" # str | Globally unique identifier for the enum option.\nopts = {\n    'body': {\"data\": {\"<PARAM_1>\": \"<VALUE_1>\", \"<PARAM_2>\": \"<VALUE_2>\",}}, # dict | The enum option object to update\n    'opt_fields': \"color,enabled,name\", # list[str] | This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.\n}\n\ntry:\n    # Update an enum option\n    api_response = custom_fields_api_instance.update_enum_option(enum_option_gid, opts)\n    pprint(api_response)\nexcept ApiException as e:\n    print(\"Exception when calling CustomFieldsApi->update_enum_option: %s\\n\" % e)"
          name: python-sdk-v5
        - language: python
          install: pip install asana==3.2.3
          code: 'import asana


            client = asana.Client.access_token(''PERSONAL_ACCESS_TOKEN'')


            result = client.custom_fields.update_enum_option(enum_option_gid, {''field'': ''value'', ''field'': ''value''}, opt_pretty=True)'
          name: python-sdk-v3
        - language: php
          install: composer require asana/asana
          code: '<?php

            require ''vendor/autoload.php'';


            $client = Asana\Client::accessToken(''PERSONAL_ACCESS_TOKEN'');


            $result = $client->customfields->updateEnumOption($enum_option_gid, array(''field'' => ''value'', ''field'' => ''value''), array(''opt_pretty'' => ''true''))'
        - language: ruby
          install: gem install asana
          code: "require 'asana'\n\nclient = Asana::Client.new do |c|\n    c.authentication :access_token, 'PERSONAL_ACCESS_TOKEN'\nend\n\nresult = client.custom_fields.update_enum_option(enum_option_gid: 'enum_option_gid', field: \"value\", field: \"value\", options: {pretty: true})"
components:
  parameters:
    custom_field_path_gid:
      name: custom_field_gid
      in: path
      description: Globally unique identifier for the custom field.
      required: true
      schema:
        type: string
      example: '12345'
      x-env-variable: custom_field
    limit:
      name: limit
      in: query
      description: 'Results per page.

        The number of objects to return per page. The value must be between 1 and 100.'
      example: 50
      schema:
        type: integer
        minimum: 1
        maximum: 100
    pretty:
      name: opt_pretty
      in: query
      description: 'Provides “pretty” output.

        Provides the response in a “pretty” format. In the case of JSON this means doing proper line breaking and indentation to make it readable. This will take extra time and increase the response size so it is advisable only to use this during debugging.'
      required: false
      allowEmptyValue: true
      schema:
        type: boolean
      style: form
      example: true
    offset:
      name: offset
      in: query
      description: 'Offset token.

        An offset to the next page returned by the API. A pagination request will return an offset token, which can be used as an input parameter to the next request. If an offset is not passed in, the API will return the first page of results.

        *Note: You can only pass in an offset that was returned to you via a previously paginated request.*'
      example: eyJ0eXAiOJiKV1iQLCJhbGciOiJIUzI1NiJ9
      schema:
        type: string
    workspace_path_gid:
      name: workspace_gid
      in: path
      description: Globally unique identifier for the workspace or organization.
      required: true
      schema:
        type: string
      example: '12345'
      x-env-variable: workspace
  schemas:
    NextPage:
      type:
      - object
      - 'null'
      description: '*Conditional*. This property is only present when a limit query parameter is provided in the request. When making a paginated request, the API will return a number of results as specified by the limit parameter. If more results exist, then the response will contain a next_page attribute, which will include an offset, a relative path attribute, and a full uri attribute. If there are no more pages available, next_page will be null and no offset will be provided. Note that an offset token will expire after some time, as data may have changed.'
      properties:
        offset:
          type: string
          readOnly: true
          description: Pagination offset for the request.
          example: eyJ0eXAiOJiKV1iQLCJhbGciOiJIUzI1NiJ9
        path:
          type: string
          readOnly: true
          description: A relative path containing the query parameters to fetch for next_page
          example: /tasks/12345/attachments?limit=2&offset=eyJ0eXAiOJiKV1iQLCJhbGciOiJIUzI1NiJ9
        uri:
          type: string
          format: uri
          readOnly: true
          description: A full uri containing the query parameters to fetch for next_page
          example: https://app.asana.com/api/1.0/tasks/12345/attachments?limit=2&offset=eyJ0eXAiOJiKV1iQLCJhbGciOiJIUzI1NiJ9
    Error:
      type: object
      properties:
        message:
          type: string
          readOnly: true
          description: Message providing more detail about the error that occurred, if available.
          example: 'project: Missing input'
        help:
          type: string
          readOnly: true
          description: Additional information directing developers to resources on how to address and fix the problem, if available.
          example: 'For more information on API status codes and how to handle them, read the docs on errors: https://asana.github.io/developer-docs/#errors'''
        phrase:
          type: string
          readOnly: true
          description: '*500 errors only*. A unique error phrase which can be used when contacting developer support to help identify the exact occurrence of the problem in Asana’s logs.'
          example: 6 sad squid snuggle softly
    ErrorResponse:
      description: 'Sadly, sometimes requests to the API are not successful. Failures can

        occur for a wide range of reasons. In all cases, the API should return

        an HTTP Status Code that indicates the nature of the failure,

        with a response body in JSON format containing additional information.



        In the event of a server error the response body will contain an error

        phrase. These phrases are automatically generated using the

        [node-asana-phrase

        library](https://github.com/Asana/node-asana-phrase) and can be used by

        Asana support to quickly look up the incident that caused the server

        error.'
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    CustomFieldBase:
      allOf:
      - $ref: '#/components/schemas/CustomFieldCompact'
      - type: object
        properties:
          description:
            description: '[Opt In](/docs/inputoutput-options). The description of the custom field.'
            type: string
            example: Development team priority
          enum_options:
            description: '*Conditional*. Only relevant for custom fields of type `enum`. This array specifies the possible values which an `enum` custom field can adopt. To modify the enum options, refer to [working with enum options](/reference/createenumoptionforcustomfield).'
            type: array
            items:
              $ref: '#/components/schemas/EnumOption'
          precision:
            description: 'Only relevant for custom fields of type ‘Number’. This field dictates the number of places after the decimal to round to, i.e. 0 is integer values, 1 rounds to the nearest tenth, and so on. Must be between 0 and 6, inclusive.

              For percentage format, this may be unintuitive, as a value of 0.25 has a precision of 0, while a value of 0.251 has a precision of 1. This is due to 0.25 being displayed as 25%.

              The identifier format will always have a precision of 0.'
            type: integer
            example: 2
          format:
            description: The format of this custom field.
            type: string
            enum:
            - currency
            - identifier
            - percentage
            - custom
            - duration
            - none
            example: custom
          currency_code:
            description: ISO 4217 currency code to format this custom field. This will be null if the `format` is not `currency`.
            type:
            - string
            - 'null'
            example: EUR
          custom_label:
            description: This is the string that appears next to the custom field value. This will be null if the `format` is not `custom`.
            type:
            - string
            - 'null'
            example: gold pieces
          custom_label_position:
            description: Only relevant for custom fields with `custom` format. This depicts where to place the custom label. This will be null if the `format` is not `custom`.
            type:
            - string
            - 'null'
            enum:
            - prefix
            - suffix
            - null
            example: suffix
          is_global_to_workspace:
            description: This flag describes whether this custom field is available to every container in the workspace. Before project-specific custom fields, this field was always true.
            type: boolean
            example: true
            readOnly: true
          has_notifications_enabled:
            description: '*Conditional*. This flag describes whether a follower of a task with this field should receive inbox notifications from changes to this field.'
            type: boolean
            example: true
          asana_created_field:
            description: '*Conditional*. A unique identifier to associate this field with the template source of truth.'
            type:
            - string
            - 'null'
            readOnly: true
            enum:
            - a_v_requirements
            - account_name
            - actionable
            - align_shipping_link
            - align_status
            - allotted_time
            - appointment
            - approval_stage
            - approved
            - article_series
            - board_committee
            - browser
            - campaign_audience
            - campaign_project_status
            - campaign_regions
            - channel_primary
            - client_topic_type
            - complete_by
            - contact
            - contact_email_address
            - content_channels
            - content_channels_needed
            - content_stage
            - content_type
            - contract
            - contract_status
            - cost
            - creation_stage
            - creative_channel
            - creative_needed
            - creative_needs
            - data_sensitivity
            - deal_size
            - delivery_appt
            - delivery_appt_date
            - department
            - department_responsible
            - design_request_needed
            - design_request_type
            - discussion_category
            - do_this_task
            - editorial_content_status
            - editorial_content_tag
            - editorial_content_type
            - effort
            - effort_level
            - est_completion_date
            - estimated_time
            - estimated_value
            - expected_cost
            - external_steps_needed
            - favorite_idea
            - feedback_type
            - financial
            - funding_amount
            - grant_application_process
            - hiring_candidate_status
            - idea_status
            - ids_link
            - ids_patient_link
            - implementation_stage
            - insurance
            - interview_area
            - interview_question_score
            - itero_scan_link
            - job_s_applied_to
            - lab
            - launch_status
            - lead_status
            - localization_language
            - localization_market_team
            - localization_status
            - meeting_minutes
            - meeting_needed
            - minutes
            - mrr
            - must_localize
            - name_of_foundation
            - need_to_follow_up
            - next_appointment
            - next_steps_sales
            - num_people
            - number_of_user_reports
            - office_location
            - onboarding_activity
            - owner
            - participants_needed
            - patient_date_of_birth
            - patient_email
            - patient_phone
            - patient_status
            - phone_number
            - planning_category
            - point_of_contact
            - position
            - post_format
            - prescription
            - priority
            - priority_level
            - product
            - product_stage
            - progress
            - project_size
            - project_status
            - proposed_budget
            - publish_status
            - reason_for_scan
            - referral
            - request_type
            - research_status
            - responsible_department
            - responsible_team
            - risk_assessment_status
            - room_name
            - sales_counterpart
            - sentiment
            - shipping_link
            - social_channels
            - stage
            - status
            - status_design
            - status_of_initiative
            - system_setup
            - task_progress
            - team
            - team_marketing
            - team_responsible
            - time_it_takes_to_complete_tasks
            - timeframe
            - treatment_type
            - type_work_requests_it
            - use_agency
            - user_name
            - vendor_category
            - vendor_type
            - word_count
            - null
            example: priority
    UserCompact:
      description: A *user* object represents an account in Asana that can be given access to various workspaces, projects, and tasks.
      type: object
      properties:
        gid:
          description: Globally unique identifier of the resource, as a string.
          type: string
          readOnly: true
          example: '12345'
          x-insert-after: false
        resource_type:
          description: The base type of this resource.
          type: string
          readOnly: true
          example: user
          x-insert-after: gid
        name:
          type: string
          description: '*Read-only except when same user as requester*. The user’s name.'
          example: Greg Sanchez
    EnumOptionInsertRequest:
      type: object
      required:
      - enum_option
      properties:
        enum_option:
          type: string
          description: The gid of the enum option to relocate.
          example: '97285'
        before_enum_option:
          type: string
          description: An existing enum option within this custom field before which the new enum option should be inserted. Cannot be provided together with after_enum_option.
          example: '12345'
        after_enum_option:
          type: string
          description: An existing enum option within this custom field after which the new enum option should be inserted. Cannot be provided together with before_enum_option.
          example: '12345'
    CustomFieldResponse:
      allOf:
      - $ref: '#/components/schemas/CustomFieldBase'
      - type: object
        properties:
          representation_type:
            description: This field tells the type of the custom field.
            type: string
            example: number
            readOnly: true
            enum:
            - text
            - enum
            - multi_enum
            - number
            - date
            - people
            - formula
            - custom_id
          id_prefix:
            description: This field is the unique custom ID string for the custom field.
            type:
            - string
            - 'null'
            example: ID
          is_formula_field:
            description: '*Conditional*. This flag describes whether a custom field is a formula custom field.'
            type: boolean
            example: false
          is_value_read_only:
            description: '*Conditional*. This flag describes whether a custom field is read only.'
            type: boolean
            example: false
          created_by:
            allOf:
            - $ref: '#/components/schemas/UserCompact'
            - {}
          people_value:
            description: '*Conditional*. Only relevant for custom fields of type `people`. This array of [compact user](/reference/users) objects reflects the values of a `people` custom field.'
            type: array
            items:
              $ref: '#/components/schemas/UserCompact'
    EnumOptionRequest:
      allOf:
      - $ref: '#/components/schemas/EnumOptionBase'
      - type: object
        properties:
          insert_before:
            type: string
            description: An existing enum option within this custom field before which the new enum option should be inserted. Cannot be provided together with after_enum_option.
            example: '12345'
          insert_after:
            type: string
            description: An existing enum option within this custom field after which the new enum option should be inserted. Cannot be provided together with before_enum_option.
            example: '12345'
    CustomFieldRequest:
      allOf:
      - $ref: '#/components/schemas/CustomFieldBase'
      - type: object
        required:
        - workspace
        properties:
          workspace:
            type: string
            description: '*Create-Only* The workspace to create a custom field in.'
            example: '1331'
          owned_by_app:
            type: boolean
            description: '*Allow-listed*. Instructs the API that this Custom Field is app-owned. This parameter is allow-listed to specific apps at this point in time. For apps that are not allow-listed, providing this parameter will result in a `403 Forbidden`.'
          people_value:
            description: '*Conditional*. Only relevant for custom fields of type `people`. This array of user GIDs reflects the users to be written to a `people` custom field. Note that *write* operations will replace existing users (if any) in the custom field with the users specified in this array.'
            type: array
            items:
              type: string
              description: The GID of a user.
            example:
            - '12345'
    EnumOption:
      description: 'Enum options are the possible values which an enum custom field can adopt. An enum custom field must contain at least 1 enum option but no more than 500.


        You can add enum options to a custom field by using the `POST /custom_fields/custom_field_gid/enum_options` endpoint.


        **It is not possible to remove or delete an enum option**. Instead, enum options can be disabled by updating the `enabled` field to false with the `PUT /enum_options/enum_option_gid` endpoint. Other attributes can be updated similarly.


        On creation of an enum option, `enabled` is always set to `true`, meaning the enum option is a selectable value for the custom field. Setting `enabled=false` is equivalent to “trashing” the enum option in the Asana web app within the “Edit Fields” dialog. The enum option will no longer be selectable but, if the enum option value was previously set within a task, the task will retain the value.


        Enum options are an ordered list and by default new enum options are inserted at the end. Ordering in relation to existing enum options can be specified on creation by using `insert_before` or `insert_after` to reference an existing enum option. Only one of `insert_before` and `insert_after` can be provided when creating a new enum option.


        An enum options list can be reordered with the `POST /custom_fields/custom_field_gid/enum_options/insert` endpoint.'
      type: object
      properties:
        gid:
          description: Globally unique identifier of the resource, as a string.
          type: string
          readOnly: true
          example: '12345'
          x-insert-after: false
        resource_type:
          description: The base type of this resource.
          type: string
          readOnly: true
          example: enum_option
          x-insert-after: gid
        name:
          description: The name of the enum option.
          type: string
          example: Low
        enabled:
          description: Whether or not the enum option is a selectable value for the custom field.
          type: boolean
          example: true
        color:
          description: The color of the enum option. Defaults to ‘none’.
          type: string
          example: blue
    EnumOptionBase:
      $ref: '#/components/schemas/EnumOption'
    CustomFieldCompact:
      description: 'Custom Fields store the metadata that is used in order to add user-specified information to tasks in Asana. Be sure to reference the [custom fields](/reference/custom-fields) developer documentation for more information about how custom fields relate to various resources in Asana.


        Users in Asana can [lock custom fields](https://asana.com/guide/help/premium/custom-fields#gl-lock-fields), which will make them read-only when accessed by other users. Attempting to edit a locked custom field will return HTTP error code `403 Forbidden`.'
      type: object
      properties:
        gid:
          description: Globally unique identifier of the resource, as a string.
          type: string
          readOnly: true
          example: '12345'
          x-insert-after: false
        resource_type:
          description: The base type of this resource.
          type: string
          readOnly: true
          example: custom_field
          x-insert-after: gid
        name:
          description: The name of the custom field.
          type: string
          example: Status
        resource_subtype:
          description: 'The type of the custom field. Must be one of the given values.

            '
          type: string
          readOnly: true
          example: text
          enum:
          - text
          - enum
          - multi_enum
          - number
          - date
          - people
        type:
          description: '*Deprecated: new integrations should prefer the resource_subtype field.* The type of the custom field. Must be one of the given values.

            '
          type: string
          readOnly: true
          enum:
          - text
          - enum
          - multi_enum
          - number
          - date
          - people
        enum_options:
          description: '*Conditional*. Only relevant for custom fields of type `enum`. This array specifies the possible values which an `enum` custom field can adopt. To modify the enum options, refer to [working with enum options](/reference/createenumoptionforcustomfield).'
          type: array
          items:
            $ref: '#/components/schemas/EnumOption'
        enabled:
          description: '*Conditional*. Determines if the custom field is enabled or not.'
          type: boolean
          readOnly: true
          example: true
        representation_type:
          description: This field tells the type of the custom field.
          type: string
          example: number
          readOnly: true
          enum:
          - text
          - enum
          - multi_enum
          - number
          - date
          - people
          - formula
          - custom_id
        id_prefix:
          description: This field is the unique custom ID string for the custom field.
          type:
          - string
          - 'null'
          example: ID
        is_formula_field:
          description: '*Conditional*. This flag describes whether a custom field is a formula custom field.'
          type: boolean
          example: false
        date_value:
          description: '*Conditional*. Only relevant for custom fields of type `date`. This object reflects the chosen date (and optionally, time) value of a `date` custom field. If no date is selected, the value of `date_value` will be `null`.'
          type:
          - object
          - 'null'
          properties:
            date:
              type: string
              description: A string representing the date in YYYY-MM-DD format.
              example: '2024-08-23'
            date_time:
              type: string
              description: A string representing the date in ISO 8601 format. If no time value is selected, the value of `date-time` will be `null`.
              example: '2024-08-23T22:00:00.000Z'
        enum_value:
          allOf:
          - $ref: '#/components/schemas/EnumOption'
          - type:
            - object
            - 'null'
            description: '*Conditional*. Only relevant for custom fields of type `enum`. This object is the chosen value of an `enum` custom field.'
        multi_enum_values:
          description: '*Conditional*. Only relevant for custom fields of type `multi_enum`. This object is the chosen values of a `multi_enum` custom field.'
          type: array
          items:
            $ref: '#/components/schemas/EnumOption'
        number_value:
          description: '*Conditional*. This number is the value of a `number` custom field.'
          type:
          - number
          - 'null'
          example: 5.2
        text_value:
          description: '*Conditional*. This string is the value of a `text` custom field.'
          type:
          - string
          - 'null'
          example: Some Value
        display_value:
          description: A string representation for the value of the custom field. Integrations that don't require the underlying type should use this field to read values. Using this field will future-proof an app against new custom field types.
          type:
          - string
          - 'null'
          readOnly: true
          example: blue
    EmptyResponse:
      type: object
      description: An empty object. Some endpoints do not return an object on success. The success is conveyed through a 2-- status code and returning an empty object.
  responses:
    Unauthorized:
      description: A valid authentication token was not provided with the request, so the API could not associate a user with the request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Either the request method and path supplied do not specify a known action in the API, or the object specified by the request does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: The authentication and request syntax was valid but the server is refusing to complete the request. This can happen if you try to read or write to objects or properties that the user does not have access to.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerError:
      description: There was a problem on Asana’s end. In the event of a server error the response body should contain an error phrase. These phrases can be used by Asana support to quickly look up the incident that caused the server error. Some errors are due to server load, and will not supply an error phrase.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: This usually occurs because of a missing or malformed parameter. Check the documentation and the syntax of your request and try again.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    personalAccessToken:
      type: http
      description: A personal access token allows access to the api for the user who created it. This should be kept a secret and be treated like a password.
      scheme: bearer
    oauth2:
      type: oauth2
      description: 'We require that applications designed to access the Asana API on behalf of multiple users implement OAuth 2.0.

        Asana supports the Authorization Code Grant flow.'
      flows:
        authorizationCode:
          authorizationUrl: https://app.asana.com/-/oauth_authorize
          tokenUrl: https://app.asana.com/-/oauth_token
          refreshUrl: https://app.asana.com/-/oauth_token
          scopes:
            default: Provides access to all endpoints documented in our API reference. If no scopes are requested, this scope is assumed by default.
            openid: Provides access to OpenID Connect ID tokens and the OpenID Connect user info endpoint.
            email: Provides access to the user’s email through the OpenID Connect user info endpoint.
            profile: Provides access to the user’s name and profile photo through the OpenID Connect user info endpoint.
            attachments:write: Create and modify access to attachments
            goals:read: View access to goals
            tasks:read: View access to tasks
            tasks:write: Create and modify access to tasks
            tasks:delete: Delete access to tasks
            portfolios:read: View access to portfolios
            project_templates:read: View access to project templates
            projects:delete: Delete access to projects
            projects:read: View access to projects
            projects:write: Create and modify access to projects
            users:read: View access to users
            teams:read: View access to teams
            stories:read: View access to stories
            workspaces:read: View access to workspaces
x-readme:
  proxy-enabled: false
