openapi: 3.1.0
info:
  title: Asana Allocations Projects API
  description: The Asana Allocations API allows users to manage and allocate resources within their Asana project management system. An allocation object represents how much of a resource (e.g. person, team) is dedicated to a specific work object (e.g. project, portfolio) over a specific period of time. The effort value can be a percentage or number of hours.
  version: '1.0'
  termsOfService: https://asana.com/terms
  contact:
    name: Asana Support
    url: https://asana.com/support
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://app.asana.com/api/1.0
  description: Main endpoint.
security:
- personalAccessToken: []
- oauth2: []
tags:
- name: Projects
  description: 'A project represents a prioritized list of tasks in Asana or a board with columns of tasks represented as cards. A project exists in a single workspace or organization and is accessible to a subset of users in that workspace or organization, depending on its permissions.


    Projects in organizations are shared with a single team. Currently, the team of a project cannot be changed via the API. Non-organization workspaces do not have teams and so you should not specify the team of project in a regular workspace.


    Followers of a project are a subset of the members of that project. Followers of a project will receive all updates including tasks created, added and removed from that project. Members of the project have access to and will receive status updates of the project. Adding followers to a project will add them as members if they are not already, removing followers from a project will not affect membership.


    **Note:** You can use certain project endpoints to operate on [user task lists](/reference/user-task-lists) ([My Tasks](https://asana.com/guide/help/fundamentals/my-tasks)) by substituting the `{project_gid}` with the `{user_task_list_gid}`. For example, you can perform operations on the custom fields of a user task list by using the following projects endpoints: [Add a custom field to a project](/reference/addcustomfieldsettingforproject), [Remove a custom field from a project](/reference/removecustomfieldsettingforproject) and [Get a project''s custom fields](/reference/getcustomfieldsettingsforproject)'
paths:
  /projects:
    parameters:
    - $ref: '#/components/parameters/pretty'
    get:
      summary: Asana Get multiple projects
      description: 'Returns the compact project records for some filtered set of projects. Use one or more of the parameters provided to filter the projects returned.

        *Note: This endpoint may timeout for large domains. Try filtering by team!*'
      tags:
      - Projects
      operationId: getProjects
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - name: workspace
        in: query
        description: The workspace or organization to filter projects on.
        schema:
          type: string
        example: '1331'
      - name: team
        in: query
        description: The team to filter projects on.
        schema:
          type: string
        example: '14916'
      - $ref: '#/components/parameters/archived_query_param'
      - name: opt_fields
        in: query
        description: This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.
        required: false
        example:
        - archived
        - color
        - completed
        - completed_at
        - completed_by
        - completed_by.name
        - created_at
        - created_from_template
        - created_from_template.name
        - current_status
        - current_status.author
        - current_status.author.name
        - current_status.color
        - current_status.created_at
        - current_status.created_by
        - current_status.created_by.name
        - current_status.html_text
        - current_status.modified_at
        - current_status.text
        - current_status.title
        - current_status_update
        - current_status_update.resource_subtype
        - current_status_update.title
        - custom_field_settings
        - custom_field_settings.custom_field
        - custom_field_settings.custom_field.asana_created_field
        - custom_field_settings.custom_field.created_by
        - custom_field_settings.custom_field.created_by.name
        - custom_field_settings.custom_field.currency_code
        - custom_field_settings.custom_field.custom_label
        - custom_field_settings.custom_field.custom_label_position
        - custom_field_settings.custom_field.date_value
        - custom_field_settings.custom_field.date_value.date
        - custom_field_settings.custom_field.date_value.date_time
        - custom_field_settings.custom_field.description
        - custom_field_settings.custom_field.display_value
        - custom_field_settings.custom_field.enabled
        - custom_field_settings.custom_field.enum_options
        - custom_field_settings.custom_field.enum_options.color
        - custom_field_settings.custom_field.enum_options.enabled
        - custom_field_settings.custom_field.enum_options.name
        - custom_field_settings.custom_field.enum_value
        - custom_field_settings.custom_field.enum_value.color
        - custom_field_settings.custom_field.enum_value.enabled
        - custom_field_settings.custom_field.enum_value.name
        - custom_field_settings.custom_field.format
        - custom_field_settings.custom_field.has_notifications_enabled
        - custom_field_settings.custom_field.id_prefix
        - custom_field_settings.custom_field.is_formula_field
        - custom_field_settings.custom_field.is_global_to_workspace
        - custom_field_settings.custom_field.is_value_read_only
        - custom_field_settings.custom_field.multi_enum_values
        - custom_field_settings.custom_field.multi_enum_values.color
        - custom_field_settings.custom_field.multi_enum_values.enabled
        - custom_field_settings.custom_field.multi_enum_values.name
        - custom_field_settings.custom_field.name
        - custom_field_settings.custom_field.number_value
        - custom_field_settings.custom_field.people_value
        - custom_field_settings.custom_field.people_value.name
        - custom_field_settings.custom_field.precision
        - custom_field_settings.custom_field.representation_type
        - custom_field_settings.custom_field.resource_subtype
        - custom_field_settings.custom_field.text_value
        - custom_field_settings.custom_field.type
        - custom_field_settings.is_important
        - custom_field_settings.parent
        - custom_field_settings.parent.name
        - custom_field_settings.project
        - custom_field_settings.project.name
        - custom_fields
        - custom_fields.date_value
        - custom_fields.date_value.date
        - custom_fields.date_value.date_time
        - custom_fields.display_value
        - custom_fields.enabled
        - custom_fields.enum_options
        - custom_fields.enum_options.color
        - custom_fields.enum_options.enabled
        - custom_fields.enum_options.name
        - custom_fields.enum_value
        - custom_fields.enum_value.color
        - custom_fields.enum_value.enabled
        - custom_fields.enum_value.name
        - custom_fields.id_prefix
        - custom_fields.is_formula_field
        - custom_fields.multi_enum_values
        - custom_fields.multi_enum_values.color
        - custom_fields.multi_enum_values.enabled
        - custom_fields.multi_enum_values.name
        - custom_fields.name
        - custom_fields.number_value
        - custom_fields.representation_type
        - custom_fields.resource_subtype
        - custom_fields.text_value
        - custom_fields.type
        - default_access_level
        - default_view
        - due_date
        - due_on
        - followers
        - followers.name
        - html_notes
        - icon
        - members
        - members.name
        - minimum_access_level_for_customization
        - minimum_access_level_for_sharing
        - modified_at
        - name
        - notes
        - offset
        - owner
        - path
        - permalink_url
        - privacy_setting
        - project_brief
        - public
        - start_on
        - team
        - team.name
        - uri
        - workspace
        - workspace.name
        schema:
          type: array
          items:
            type: string
            enum:
            - archived
            - color
            - completed
            - completed_at
            - completed_by
            - completed_by.name
            - created_at
            - created_from_template
            - created_from_template.name
            - current_status
            - current_status.author
            - current_status.author.name
            - current_status.color
            - current_status.created_at
            - current_status.created_by
            - current_status.created_by.name
            - current_status.html_text
            - current_status.modified_at
            - current_status.text
            - current_status.title
            - current_status_update
            - current_status_update.resource_subtype
            - current_status_update.title
            - custom_field_settings
            - custom_field_settings.custom_field
            - custom_field_settings.custom_field.asana_created_field
            - custom_field_settings.custom_field.created_by
            - custom_field_settings.custom_field.created_by.name
            - custom_field_settings.custom_field.currency_code
            - custom_field_settings.custom_field.custom_label
            - custom_field_settings.custom_field.custom_label_position
            - custom_field_settings.custom_field.date_value
            - custom_field_settings.custom_field.date_value.date
            - custom_field_settings.custom_field.date_value.date_time
            - custom_field_settings.custom_field.description
            - custom_field_settings.custom_field.display_value
            - custom_field_settings.custom_field.enabled
            - custom_field_settings.custom_field.enum_options
            - custom_field_settings.custom_field.enum_options.color
            - custom_field_settings.custom_field.enum_options.enabled
            - custom_field_settings.custom_field.enum_options.name
            - custom_field_settings.custom_field.enum_value
            - custom_field_settings.custom_field.enum_value.color
            - custom_field_settings.custom_field.enum_value.enabled
            - custom_field_settings.custom_field.enum_value.name
            - custom_field_settings.custom_field.format
            - custom_field_settings.custom_field.has_notifications_enabled
            - custom_field_settings.custom_field.id_prefix
            - custom_field_settings.custom_field.is_formula_field
            - custom_field_settings.custom_field.is_global_to_workspace
            - custom_field_settings.custom_field.is_value_read_only
            - custom_field_settings.custom_field.multi_enum_values
            - custom_field_settings.custom_field.multi_enum_values.color
            - custom_field_settings.custom_field.multi_enum_values.enabled
            - custom_field_settings.custom_field.multi_enum_values.name
            - custom_field_settings.custom_field.name
            - custom_field_settings.custom_field.number_value
            - custom_field_settings.custom_field.people_value
            - custom_field_settings.custom_field.people_value.name
            - custom_field_settings.custom_field.precision
            - custom_field_settings.custom_field.representation_type
            - custom_field_settings.custom_field.resource_subtype
            - custom_field_settings.custom_field.text_value
            - custom_field_settings.custom_field.type
            - custom_field_settings.is_important
            - custom_field_settings.parent
            - custom_field_settings.parent.name
            - custom_field_settings.project
            - custom_field_settings.project.name
            - custom_fields
            - custom_fields.date_value
            - custom_fields.date_value.date
            - custom_fields.date_value.date_time
            - custom_fields.display_value
            - custom_fields.enabled
            - custom_fields.enum_options
            - custom_fields.enum_options.color
            - custom_fields.enum_options.enabled
            - custom_fields.enum_options.name
            - custom_fields.enum_value
            - custom_fields.enum_value.color
            - custom_fields.enum_value.enabled
            - custom_fields.enum_value.name
            - custom_fields.id_prefix
            - custom_fields.is_formula_field
            - custom_fields.multi_enum_values
            - custom_fields.multi_enum_values.color
            - custom_fields.multi_enum_values.enabled
            - custom_fields.multi_enum_values.name
            - custom_fields.name
            - custom_fields.number_value
            - custom_fields.representation_type
            - custom_fields.resource_subtype
            - custom_fields.text_value
            - custom_fields.type
            - default_access_level
            - default_view
            - due_date
            - due_on
            - followers
            - followers.name
            - html_notes
            - icon
            - members
            - members.name
            - minimum_access_level_for_customization
            - minimum_access_level_for_sharing
            - modified_at
            - name
            - notes
            - offset
            - owner
            - path
            - permalink_url
            - privacy_setting
            - project_brief
            - public
            - start_on
            - team
            - team.name
            - uri
            - workspace
            - workspace.name
        style: form
        explode: false
      responses:
        200:
          description: Successfully retrieved projects.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProjectCompact'
                  next_page:
                    $ref: '#/components/schemas/NextPage'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
      security:
      - oauth2:
        - projects:read
      x-readme:
        code-samples:
        - language: java
          install: <dependency><groupId>com.asana</groupId><artifactId>asana</artifactId><version>1.0.0</version></dependency>
          code: "import com.asana.Client;\n\nClient client = Client.accessToken(\"PERSONAL_ACCESS_TOKEN\");\n\nList<Project> result = client.projects.getProjects(archived, team, workspace)\n    .option(\"pretty\", true)\n    .execute();"
        - language: node
          install: npm install asana
          code: "const Asana = require('asana');\n\nlet client = Asana.ApiClient.instance;\nlet token = client.authentications['token'];\ntoken.accessToken = '<YOUR_ACCESS_TOKEN>';\n\nlet projectsApiInstance = new Asana.ProjectsApi();\nlet opts = { \n    'limit': 50, \n    'offset': \"eyJ0eXAiOJiKV1iQLCJhbGciOiJIUzI1NiJ9\", \n    'workspace': \"1331\", \n    'team': \"14916\", \n    'archived': false, \n    'opt_fields': \"archived,color,completed,completed_at,completed_by,completed_by.name,created_at,created_from_template,created_from_template.name,current_status,current_status.author,current_status.author.name,current_status.color,current_status.created_at,current_status.created_by,current_status.created_by.name,current_status.html_text,current_status.modified_at,current_status.text,current_status.title,current_status_update,current_status_update.resource_subtype,current_status_update.title,custom_field_settings,custom_field_settings.custom_field,custom_field_settings.custom_field.asana_created_field,custom_field_settings.custom_field.created_by,custom_field_settings.custom_field.created_by.name,custom_field_settings.custom_field.currency_code,custom_field_settings.custom_field.custom_label,custom_field_settings.custom_field.custom_label_position,custom_field_settings.custom_field.date_value,custom_field_settings.custom_field.date_value.date,custom_field_settings.custom_field.date_value.date_time,custom_field_settings.custom_field.description,custom_field_settings.custom_field.display_value,custom_field_settings.custom_field.enabled,custom_field_settings.custom_field.enum_options,custom_field_settings.custom_field.enum_options.color,custom_field_settings.custom_field.enum_options.enabled,custom_field_settings.custom_field.enum_options.name,custom_field_settings.custom_field.enum_value,custom_field_settings.custom_field.enum_value.color,custom_field_settings.custom_field.enum_value.enabled,custom_field_settings.custom_field.enum_value.name,custom_field_settings.custom_field.format,custom_field_settings.custom_field.has_notifications_enabled,custom_field_settings.custom_field.id_prefix,custom_field_settings.custom_field.is_formula_field,custom_field_settings.custom_field.is_global_to_workspace,custom_field_settings.custom_field.is_value_read_only,custom_field_settings.custom_field.multi_enum_values,custom_field_settings.custom_field.multi_enum_values.color,custom_field_settings.custom_field.multi_enum_values.enabled,custom_field_settings.custom_field.multi_enum_values.name,custom_field_settings.custom_field.name,custom_field_settings.custom_field.number_value,custom_field_settings.custom_field.people_value,custom_field_settings.custom_field.people_value.name,custom_field_settings.custom_field.precision,custom_field_settings.custom_field.representation_type,custom_field_settings.custom_field.resource_subtype,custom_field_settings.custom_field.text_value,custom_field_settings.custom_field.type,custom_field_settings.is_important,custom_field_settings.parent,custom_field_settings.parent.name,custom_field_settings.project,custom_field_settings.project.name,custom_fields,custom_fields.date_value,custom_fields.date_value.date,custom_fields.date_value.date_time,custom_fields.display_value,custom_fields.enabled,custom_fields.enum_options,custom_fields.enum_options.color,custom_fields.enum_options.enabled,custom_fields.enum_options.name,custom_fields.enum_value,custom_fields.enum_value.color,custom_fields.enum_value.enabled,custom_fields.enum_value.name,custom_fields.id_prefix,custom_fields.is_formula_field,custom_fields.multi_enum_values,custom_fields.multi_enum_values.color,custom_fields.multi_enum_values.enabled,custom_fields.multi_enum_values.name,custom_fields.name,custom_fields.number_value,custom_fields.representation_type,custom_fields.resource_subtype,custom_fields.text_value,custom_fields.type,default_access_level,default_view,due_date,due_on,followers,followers.name,html_notes,icon,members,members.name,minimum_access_level_for_customization,minimum_access_level_for_sharing,modified_at,name,notes,offset,owner,path,permalink_url,privacy_setting,project_brief,public,start_on,team,team.name,uri,workspace,workspace.name\"\n};\nprojectsApiInstance.getProjects(opts).then((result) => {\n    console.log('API called successfully. Returned data: ' + JSON.stringify(result.data, null, 2));\n}, (error) => {\n    console.error(error.response.body);\n});"
          name: node-sdk-v3
        - language: node
          install: npm install asana@1.0.5
          code: "const asana = require('asana');\n\nconst client = asana.Client.create().useAccessToken('PERSONAL_ACCESS_TOKEN');\n\nclient.projects.getProjects({param: \"value\", param: \"value\", opt_pretty: true})\n    .then((result) => {\n        console.log(result);\n    });"
          name: node-sdk-v1
        - language: python
          install: pip install asana
          code: "import asana\nfrom asana.rest import ApiException\nfrom pprint import pprint\n\nconfiguration = asana.Configuration()\nconfiguration.access_token = '<YOUR_ACCESS_TOKEN>'\napi_client = asana.ApiClient(configuration)\n\n# create an instance of the API class\nprojects_api_instance = asana.ProjectsApi(api_client)\nopts = {\n    'limit': 50, # int | Results per page. The number of objects to return per page. The value must be between 1 and 100.\n    'offset': \"eyJ0eXAiOJiKV1iQLCJhbGciOiJIUzI1NiJ9\", # str | Offset token. An offset to the next page returned by the API. A pagination request will return an offset token, which can be used as an input parameter to the next request. If an offset is not passed in, the API will return the first page of results. *Note: You can only pass in an offset that was returned to you via a previously paginated request.*\n    'workspace': \"1331\", # str | The workspace or organization to filter projects on.\n    'team': \"14916\", # str | The team to filter projects on.\n    'archived': False, # bool | Only return projects whose `archived` field takes on the value of this parameter.\n    'opt_fields': \"archived,color,completed,completed_at,completed_by,completed_by.name,created_at,created_from_template,created_from_template.name,current_status,current_status.author,current_status.author.name,current_status.color,current_status.created_at,current_status.created_by,current_status.created_by.name,current_status.html_text,current_status.modified_at,current_status.text,current_status.title,current_status_update,current_status_update.resource_subtype,current_status_update.title,custom_field_settings,custom_field_settings.custom_field,custom_field_settings.custom_field.asana_created_field,custom_field_settings.custom_field.created_by,custom_field_settings.custom_field.created_by.name,custom_field_settings.custom_field.currency_code,custom_field_settings.custom_field.custom_label,custom_field_settings.custom_field.custom_label_position,custom_field_settings.custom_field.date_value,custom_field_settings.custom_field.date_value.date,custom_field_settings.custom_field.date_value.date_time,custom_field_settings.custom_field.description,custom_field_settings.custom_field.display_value,custom_field_settings.custom_field.enabled,custom_field_settings.custom_field.enum_options,custom_field_settings.custom_field.enum_options.color,custom_field_settings.custom_field.enum_options.enabled,custom_field_settings.custom_field.enum_options.name,custom_field_settings.custom_field.enum_value,custom_field_settings.custom_field.enum_value.color,custom_field_settings.custom_field.enum_value.enabled,custom_field_settings.custom_field.enum_value.name,custom_field_settings.custom_field.format,custom_field_settings.custom_field.has_notifications_enabled,custom_field_settings.custom_field.id_prefix,custom_field_settings.custom_field.is_formula_field,custom_field_settings.custom_field.is_global_to_workspace,custom_field_settings.custom_field.is_value_read_only,custom_field_settings.custom_field.multi_enum_values,custom_field_settings.custom_field.multi_enum_values.color,custom_field_settings.custom_field.multi_enum_values.enabled,custom_field_settings.custom_field.multi_enum_values.name,custom_field_settings.custom_field.name,custom_field_settings.custom_field.number_value,custom_field_settings.custom_field.people_value,custom_field_settings.custom_field.people_value.name,custom_field_settings.custom_field.precision,custom_field_settings.custom_field.representation_type,custom_field_settings.custom_field.resource_subtype,custom_field_settings.custom_field.text_value,custom_field_settings.custom_field.type,custom_field_settings.is_important,custom_field_settings.parent,custom_field_settings.parent.name,custom_field_settings.project,custom_field_settings.project.name,custom_fields,custom_fields.date_value,custom_fields.date_value.date,custom_fields.date_value.date_time,custom_fields.display_value,custom_fields.enabled,custom_fields.enum_options,custom_fields.enum_options.color,custom_fields.enum_options.enabled,custom_fields.enum_options.name,custom_fields.enum_value,custom_fields.enum_value.color,custom_fields.enum_value.enabled,custom_fields.enum_value.name,custom_fields.id_prefix,custom_fields.is_formula_field,custom_fields.multi_enum_values,custom_fields.multi_enum_values.color,custom_fields.multi_enum_values.enabled,custom_fields.multi_enum_values.name,custom_fields.name,custom_fields.number_value,custom_fields.representation_type,custom_fields.resource_subtype,custom_fields.text_value,custom_fields.type,default_access_level,default_view,due_date,due_on,followers,followers.name,html_notes,icon,members,members.name,minimum_access_level_for_customization,minimum_access_level_for_sharing,modified_at,name,notes,offset,owner,path,permalink_url,privacy_setting,project_brief,public,start_on,team,team.name,uri,workspace,workspace.name\", # list[str] | This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.\n}\n\ntry:\n    # Get multiple projects\n    api_response = projects_api_instance.get_projects(opts)\n    for data in api_response:\n        pprint(data)\nexcept ApiException as e:\n    print(\"Exception when calling ProjectsApi->get_projects: %s\\n\" % e)"
          name: python-sdk-v5
        - language: python
          install: pip install asana==3.2.3
          code: 'import asana


            client = asana.Client.access_token(''PERSONAL_ACCESS_TOKEN'')


            result = client.projects.get_projects({''param'': ''value'', ''param'': ''value''}, opt_pretty=True)'
          name: python-sdk-v3
        - language: php
          install: composer require asana/asana
          code: '<?php

            require ''vendor/autoload.php'';


            $client = Asana\Client::accessToken(''PERSONAL_ACCESS_TOKEN'');


            $result = $client->projects->getProjects(array(''param'' => ''value'', ''param'' => ''value''), array(''opt_pretty'' => ''true''))'
        - language: ruby
          install: gem install asana
          code: "require 'asana'\n\nclient = Asana::Client.new do |c|\n    c.authentication :access_token, 'PERSONAL_ACCESS_TOKEN'\nend\n\nresult = client.projects.get_projects(param: \"value\", param: \"value\", options: {pretty: true})"
    post:
      summary: Asana Create a project
      description: 'Create a new project in a workspace or team.


        Every project is required to be created in a specific workspace or

        organization, and this cannot be changed once set. Note that you can use

        the `workspace` parameter regardless of whether or not it is an

        organization.


        If the workspace for your project is an organization, you must also

        supply a `team` to share the project with.


        Returns the full record of the newly created project.'
      tags:
      - Projects
      operationId: createProject
      parameters:
      - name: opt_fields
        in: query
        description: This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.
        required: false
        example:
        - archived
        - color
        - completed
        - completed_at
        - completed_by
        - completed_by.name
        - created_at
        - created_from_template
        - created_from_template.name
        - current_status
        - current_status.author
        - current_status.author.name
        - current_status.color
        - current_status.created_at
        - current_status.created_by
        - current_status.created_by.name
        - current_status.html_text
        - current_status.modified_at
        - current_status.text
        - current_status.title
        - current_status_update
        - current_status_update.resource_subtype
        - current_status_update.title
        - custom_field_settings
        - custom_field_settings.custom_field
        - custom_field_settings.custom_field.asana_created_field
        - custom_field_settings.custom_field.created_by
        - custom_field_settings.custom_field.created_by.name
        - custom_field_settings.custom_field.currency_code
        - custom_field_settings.custom_field.custom_label
        - custom_field_settings.custom_field.custom_label_position
        - custom_field_settings.custom_field.date_value
        - custom_field_settings.custom_field.date_value.date
        - custom_field_settings.custom_field.date_value.date_time
        - custom_field_settings.custom_field.description
        - custom_field_settings.custom_field.display_value
        - custom_field_settings.custom_field.enabled
        - custom_field_settings.custom_field.enum_options
        - custom_field_settings.custom_field.enum_options.color
        - custom_field_settings.custom_field.enum_options.enabled
        - custom_field_settings.custom_field.enum_options.name
        - custom_field_settings.custom_field.enum_value
        - custom_field_settings.custom_field.enum_value.color
        - custom_field_settings.custom_field.enum_value.enabled
        - custom_field_settings.custom_field.enum_value.name
        - custom_field_settings.custom_field.format
        - custom_field_settings.custom_field.has_notifications_enabled
        - custom_field_settings.custom_field.id_prefix
        - custom_field_settings.custom_field.is_formula_field
        - custom_field_settings.custom_field.is_global_to_workspace
        - custom_field_settings.custom_field.is_value_read_only
        - custom_field_settings.custom_field.multi_enum_values
        - custom_field_settings.custom_field.multi_enum_values.color
        - custom_field_settings.custom_field.multi_enum_values.enabled
        - custom_field_settings.custom_field.multi_enum_values.name
        - custom_field_settings.custom_field.name
        - custom_field_settings.custom_field.number_value
        - custom_field_settings.custom_field.people_value
        - custom_field_settings.custom_field.people_value.name
        - custom_field_settings.custom_field.precision
        - custom_field_settings.custom_field.representation_type
        - custom_field_settings.custom_field.resource_subtype
        - custom_field_settings.custom_field.text_value
        - custom_field_settings.custom_field.type
        - custom_field_settings.is_important
        - custom_field_settings.parent
        - custom_field_settings.parent.name
        - custom_field_settings.project
        - custom_field_settings.project.name
        - custom_fields
        - custom_fields.date_value
        - custom_fields.date_value.date
        - custom_fields.date_value.date_time
        - custom_fields.display_value
        - custom_fields.enabled
        - custom_fields.enum_options
        - custom_fields.enum_options.color
        - custom_fields.enum_options.enabled
        - custom_fields.enum_options.name
        - custom_fields.enum_value
        - custom_fields.enum_value.color
        - custom_fields.enum_value.enabled
        - custom_fields.enum_value.name
        - custom_fields.id_prefix
        - custom_fields.is_formula_field
        - custom_fields.multi_enum_values
        - custom_fields.multi_enum_values.color
        - custom_fields.multi_enum_values.enabled
        - custom_fields.multi_enum_values.name
        - custom_fields.name
        - custom_fields.number_value
        - custom_fields.representation_type
        - custom_fields.resource_subtype
        - custom_fields.text_value
        - custom_fields.type
        - default_access_level
        - default_view
        - due_date
        - due_on
        - followers
        - followers.name
        - html_notes
        - icon
        - members
        - members.name
        - minimum_access_level_for_customization
        - minimum_access_level_for_sharing
        - modified_at
        - name
        - notes
        - owner
        - permalink_url
        - privacy_setting
        - project_brief
        - public
        - start_on
        - team
        - team.name
        - workspace
        - workspace.name
        schema:
          type: array
          items:
            type: string
            enum:
            - archived
            - color
            - completed
            - completed_at
            - completed_by
            - completed_by.name
            - created_at
            - created_from_template
            - created_from_template.name
            - current_status
            - current_status.author
            - current_status.author.name
            - current_status.color
            - current_status.created_at
            - current_status.created_by
            - current_status.created_by.name
            - current_status.html_text
            - current_status.modified_at
            - current_status.text
            - current_status.title
            - current_status_update
            - current_status_update.resource_subtype
            - current_status_update.title
            - custom_field_settings
            - custom_field_settings.custom_field
            - custom_field_settings.custom_field.asana_created_field
            - custom_field_settings.custom_field.created_by
            - custom_field_settings.custom_field.created_by.name
            - custom_field_settings.custom_field.currency_code
            - custom_field_settings.custom_field.custom_label
            - custom_field_settings.custom_field.custom_label_position
            - custom_field_settings.custom_field.date_value
            - custom_field_settings.custom_field.date_value.date
            - custom_field_settings.custom_field.date_value.date_time
            - custom_field_settings.custom_field.description
            - custom_field_settings.custom_field.display_value
            - custom_field_settings.custom_field.enabled
            - custom_field_settings.custom_field.enum_options
            - custom_field_settings.custom_field.enum_options.color
            - custom_field_settings.custom_field.enum_options.enabled
            - custom_field_settings.custom_field.enum_options.name
            - custom_field_settings.custom_field.enum_value
            - custom_field_settings.custom_field.enum_value.color
            - custom_field_settings.custom_field.enum_value.enabled
            - custom_field_settings.custom_field.enum_value.name
            - custom_field_settings.custom_field.format
            - custom_field_settings.custom_field.has_notifications_enabled
            - custom_field_settings.custom_field.id_prefix
            - custom_field_settings.custom_field.is_formula_field
            - custom_field_settings.custom_field.is_global_to_workspace
            - custom_field_settings.custom_field.is_value_read_only
            - custom_field_settings.custom_field.multi_enum_values
            - custom_field_settings.custom_field.multi_enum_values.color
            - custom_field_settings.custom_field.multi_enum_values.enabled
            - custom_field_settings.custom_field.multi_enum_values.name
            - custom_field_settings.custom_field.name
            - custom_field_settings.custom_field.number_value
            - custom_field_settings.custom_field.people_value
            - custom_field_settings.custom_field.people_value.name
            - custom_field_settings.custom_field.precision
            - custom_field_settings.custom_field.representation_type
            - custom_field_settings.custom_field.resource_subtype
            - custom_field_settings.custom_field.text_value
            - custom_field_settings.custom_field.type
            - custom_field_settings.is_important
            - custom_field_settings.parent
            - custom_field_settings.parent.name
            - custom_field_settings.project
            - custom_field_settings.project.name
            - custom_fields
            - custom_fields.date_value
            - custom_fields.date_value.date
            - custom_fields.date_value.date_time
            - custom_fields.display_value
            - custom_fields.enabled
            - custom_fields.enum_options
            - custom_fields.enum_options.color
            - custom_fields.enum_options.enabled
            - custom_fields.enum_options.name
            - custom_fields.enum_value
            - custom_fields.enum_value.color
            - custom_fields.enum_value.enabled
            - custom_fields.enum_value.name
            - custom_fields.id_prefix
            - custom_fields.is_formula_field
            - custom_fields.multi_enum_values
            - custom_fields.multi_enum_values.color
            - custom_fields.multi_enum_values.enabled
            - custom_fields.multi_enum_values.name
            - custom_fields.name
            - custom_fields.number_value
            - custom_fields.representation_type
            - custom_fields.resource_subtype
            - custom_fields.text_value
            - custom_fields.type
            - default_access_level
            - default_view
            - due_date
            - due_on
            - followers
            - followers.name
            - html_notes
            - icon
            - members
            - members.name
            - minimum_access_level_for_customization
            - minimum_access_level_for_sharing
            - modified_at
            - name
            - notes
            - owner
            - permalink_url
            - privacy_setting
            - project_brief
            - public
            - start_on
            - team
            - team.name
            - workspace
            - workspace.name
        style: form
        explode: false
      requestBody:
        description: The project to create.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/ProjectRequest'
      responses:
        201:
          description: Successfully retrieved projects.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ProjectResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
      security:
      - oauth2:
        - projects:write
      x-readme:
        code-samples:
        - language: java
          install: <dependency><groupId>com.asana</groupId><artifactId>asana</artifactId><version>1.0.0</version></dependency>
          code: "import com.asana.Client;\n\nClient client = Client.accessToken(\"PERSONAL_ACCESS_TOKEN\");\n\nProject result = client.projects.createProject()\n    .data(\"field\", \"value\")\n    .data(\"field\", \"value\")\n    .option(\"pretty\", true)\n    .execute();"
        - language: node
          install: npm install asana
          code: "const Asana = require('asana');\n\nlet client = Asana.ApiClient.instance;\nlet token = client.authentications['token'];\ntoken.accessToken = '<YOUR_ACCESS_TOKEN>';\n\nlet projectsApiInstance = new Asana.ProjectsApi();\nlet body = {\"data\": {\"<PARAM_1>\": \"<VALUE_1>\", \"<PARAM_2>\": \"<VALUE_2>\",}}; // Object | The project to create.\nlet opts = { \n    'opt_fields': \"archived,color,completed,completed_at,completed_by,completed_by.name,created_at,created_from_template,created_from_template.name,current_status,current_status.author,current_status.author.name,current_status.color,current_status.created_at,current_status.created_by,current_status.created_by.name,current_status.html_text,current_status.modified_at,current_status.text,current_status.title,current_status_update,current_status_update.resource_subtype,current_status_update.title,custom_field_settings,custom_field_settings.custom_field,custom_field_settings.custom_field.asana_created_field,custom_field_settings.custom_field.created_by,custom_field_settings.custom_field.created_by.name,custom_field_settings.custom_field.currency_code,custom_field_settings.custom_field.custom_label,custom_field_settings.custom_field.custom_label_position,custom_field_settings.custom_field.date_value,custom_field_settings.custom_field.date_value.date,custom_field_settings.custom_field.date_value.date_time,custom_field_settings.custom_field.description,custom_field_settings.custom_field.display_value,custom_field_settings.custom_field.enabled,custom_field_settings.custom_field.enum_options,custom_field_settings.custom_field.enum_options.color,custom_field_settings.custom_field.enum_options.enabled,custom_field_settings.custom_field.enum_options.name,custom_field_settings.custom_field.enum_value,custom_field_settings.custom_field.enum_value.color,custom_field_settings.custom_field.enum_value.enabled,custom_field_settings.custom_field.enum_value.name,custom_field_settings.custom_field.format,custom_field_settings.custom_field.has_notifications_enabled,custom_field_settings.custom_field.id_prefix,custom_field_settings.custom_field.is_formula_field,custom_field_settings.custom_field.is_global_to_workspace,custom_field_settings.custom_field.is_value_read_only,custom_field_settings.custom_field.multi_enum_values,custom_field_settings.custom_field.multi_enum_values.color,custom_field_settings.custom_field.multi_enum_values.enabled,custom_field_settings.custom_field.multi_enum_values.name,custom_field_settings.custom_field.name,custom_field_settings.custom_field.number_value,custom_field_settings.custom_field.people_value,custom_field_settings.custom_field.people_value.name,custom_field_settings.custom_field.precision,custom_field_settings.custom_field.representation_type,custom_field_settings.custom_field.resource_subtype,custom_field_settings.custom_field.text_value,custom_field_settings.custom_field.type,custom_field_settings.is_important,custom_field_settings.parent,custom_field_settings.parent.name,custom_field_settings.project,custom_field_settings.project.name,custom_fields,custom_fields.date_value,custom_fields.date_value.date,custom_fields.date_value.date_time,custom_fields.display_value,custom_fields.enabled,custom_fields.enum_options,custom_fields.enum_options.color,custom_fields.enum_options.enabled,custom_fields.enum_options.name,custom_fields.enum_value,custom_fields.enum_value.color,custom_fields.enum_value.enabled,custom_fields.enum_value.name,custom_fields.id_prefix,custom_fields.is_formula_field,custom_fields.multi_enum_values,custom_fields.multi_enum_values.color,custom_fields.multi_enum_values.enabled,custom_fields.multi_enum_values.name,custom_fields.name,custom_fields.number_value,custom_fields.representation_type,custom_fields.resource_subtype,custom_fields.text_value,custom_fields.type,default_access_level,default_view,due_date,due_on,followers,followers.name,html_notes,icon,members,members.name,minimum_access_level_for_customization,minimum_access_level_for_sharing,modified_at,name,notes,owner,permalink_url,privacy_setting,project_brief,public,start_on,team,team.name,workspace,workspace.name\"\n};\nprojectsApiInstance.createProject(body, opts).then((result) => {\n    console.log('API called successfully. Returned data: ' + JSON.stringify(result.data, null, 2));\n}, (error) => {\n    console.error(error.response.body);\n});"
          name: node-sdk-v3
        - language: node
          install: npm install asana@1.0.5
          code: "const asana = require('asana');\n\nconst client = asana.Client.create().useAccessToken('PERSONAL_ACCESS_TOKEN');\n\nclient.projects.createProject({field: \"value\", field: \"value\", pretty: true})\n    .then((result) => {\n        console.log(result);\n    });"
          name: node-sdk-v1
        - language: python
          install: pip install asana
          code: "import asana\nfrom asana.rest import ApiException\nfrom pprint import pprint\n\nconfiguration = asana.Configuration()\nconfiguration.access_token = '<YOUR_ACCESS_TOKEN>'\napi_client = asana.ApiClient(configuration)\n\n# create an instance of the API class\nprojects_api_instance = asana.ProjectsApi(api_client)\nbody = {\"data\": {\"<PARAM_1>\": \"<VALUE_1>\", \"<PARAM_2>\": \"<VALUE_2>\",}} # dict | The project to create.\nopts = {\n    'opt_fields': \"archived,color,completed,completed_at,completed_by,completed_by.name,created_at,created_from_template,created_from_template.name,current_status,current_status.author,current_status.author.name,current_status.color,current_status.created_at,current_status.created_by,current_status.created_by.name,current_status.html_text,current_status.modified_at,current_status.text,current_status.title,current_status_update,current_status_update.resource_subtype,current_status_update.title,custom_field_settings,custom_field_settings.custom_field,custom_field_settings.custom_field.asana_created_field,custom_field_settings.custom_field.created_by,custom_field_settings.custom_field.created_by.name,custom_field_settings.custom_field.currency_code,custom_field_settings.custom_field.custom_label,custom_field_settings.custom_field.custom_label_position,custom_field_settings.custom_field.date_value,custom_field_settings.custom_field.date_value.date,custom_field_settings.custom_field.date_value.date_time,custom_field_settings.custom_field.description,custom_field_settings.custom_field.display_value,custom_field_settings.custom_field.enabled,custom_field_settings.custom_field.enum_options,custom_field_settings.custom_field.enum_options.color,custom_field_settings.custom_field.enum_options.enabled,custom_field_settings.custom_field.enum_options.name,custom_field_settings.custom_field.enum_value,custom_field_settings.custom_field.enum_value.color,custom_field_settings.custom_field.enum_value.enabled,custom_field_settings.custom_field.enum_value.name,custom_field_settings.custom_field.format,custom_field_settings.custom_field.has_notifications_enabled,custom_field_settings.custom_field.id_prefix,custom_field_settings.custom_field.is_formula_field,custom_field_settings.custom_field.is_global_to_workspace,custom_field_settings.custom_field.is_value_read_only,custom_field_settings.custom_field.multi_enum_values,custom_field_settings.custom_field.multi_enum_values.color,custom_field_settings.custom_field.multi_enum_values.enabled,custom_field_settings.custom_field.multi_enum_values.name,custom_field_settings.custom_field.name,custom_field_settings.custom_field.number_value,custom_field_settings.custom_field.people_value,custom_field_settings.custom_field.people_value.name,custom_field_settings.custom_field.precision,custom_field_settings.custom_field.representation_type,custom_field_settings.custom_field.resource_subtype,custom_field_settings.custom_field.text_value,custom_field_settings.custom_field.type,custom_field_settings.is_important,custom_field_settings.parent,custom_field_settings.parent.name,custom_field_settings.project,custom_field_settings.project.name,custom_fields,custom_fields.date_value,custom_fields.date_value.date,custom_fields.date_value.date_time,custom_fields.display_value,custom_fields.enabled,custom_fields.enum_options,custom_fields.enum_options.color,custom_fields.enum_options.enabled,custom_fields.enum_options.name,custom_fields.enum_value,custom_fields.enum_value.color,custom_fields.enum_value.enabled,custom_fields.enum_value.name,custom_fields.id_prefix,custom_fields.is_formula_field,custom_fields.multi_enum_values,custom_fields.multi_enum_values.color,custom_fields.multi_enum_values.enabled,custom_fields.multi_enum_values.name,custom_fields.name,custom_fields.number_value,custom_fields.representation_type,custom_fields.resource_subtype,custom_fields.text_value,custom_fields.type,default_access_level,default_view,due_date,due_on,followers,followers.name,html_notes,icon,members,members.name,minimum_access_level_for_customization,minimum_access_level_for_sharing,modified_at,name,notes,owner,permalink_url,privacy_setting,project_brief,public,start_on,team,team.name,workspace,workspace.name\", # list[str] | This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.\n}\n\ntry:\n    # Create a project\n    api_response = projects_api_instance.create_project(body, opts)\n    pprint(api_response)\nexcept ApiException as e:\n    print(\"Exception when calling ProjectsApi->create_project: %s\\n\" % e)"
          name: python-sdk-v5
        - language: python
          install: pip install asana==3.2.3
          code: 'import asana


            client = asana.Client.access_token(''PERSONAL_ACCESS_TOKEN'')


            result = client.projects.create_project({''field'': ''value'', ''field'': ''value''}, opt_pretty=True)'
          name: python-sdk-v3
        - language: php
          install: composer require asana/asana
          code: '<?php

            require ''vendor/autoload.php'';


            $client = Asana\Client::accessToken(''PERSONAL_ACCESS_TOKEN'');


            $result = $client->projects->createProject(array(''field'' => ''value'', ''field'' => ''value''), array(''opt_pretty'' => ''true''))'
        - language: ruby
          install: gem install asana
          code: "require 'asana'\n\nclient = Asana::Client.new do |c|\n    c.authentication :access_token, 'PERSONAL_ACCESS_TOKEN'\nend\n\nresult = client.projects.create_project(field: \"value\", field: \"value\", options: {pretty: true})"
  /projects/{project_gid}:
    parameters:
    - $ref: '#/components/parameters/project_path_gid'
    - $ref: '#/components/parameters/pretty'
    get:
      summary: Asana Get a project
      description: Returns the complete project record for a single project.
      tags:
      - Projects
      operationId: getProject
      parameters:
      - name: opt_fields
        in: query
        description: This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.
        required: false
        example:
        - archived
        - color
        - completed
        - completed_at
        - completed_by
        - completed_by.name
        - created_at
        - created_from_template
        - created_from_template.name
        - current_status
        - current_status.author
        - current_status.author.name
        - current_status.color
        - current_status.created_at
        - current_status.created_by
        - current_status.created_by.name
        - current_status.html_text
        - current_status.modified_at
        - current_status.text
        - current_status.title
        - current_status_update
        - current_status_update.resource_subtype
        - current_status_update.title
        - custom_field_settings
        - custom_field_settings.custom_field
        - custom_field_settings.custom_field.asana_created_field
        - custom_field_settings.custom_field.created_by
        - custom_field_settings.custom_field.created_by.name
        - custom_field_settings.custom_field.currency_code
        - custom_field_settings.custom_field.custom_label
        - custom_field_settings.custom_field.custom_label_position
        - custom_field_settings.custom_field.date_value
        - custom_field_settings.custom_field.date_value.date
        - custom_field_settings.custom_field.date_value.date_time
        - custom_field_settings.custom_field.description
        - custom_field_settings.custom_field.display_value
        - custom_field_settings.custom_field.enabled
        - custom_field_settings.custom_field.enum_options
        - custom_field_settings.custom_field.enum_options.color
        - custom_field_settings.custom_field.enum_options.enabled
        - custom_field_settings.custom_field.enum_options.name
        - custom_field_settings.custom_field.enum_value
        - custom_field_settings.custom_field.enum_value.color
        - custom_field_settings.custom_field.enum_value.enabled
        - custom_field_settings.custom_field.enum_value.name
        - custom_field_settings.custom_field.format
        - custom_field_settings.custom_field.has_notifications_enabled
        - custom_field_settings.custom_field.id_prefix
        - custom_field_settings.custom_field.is_formula_field
        - custom_field_settings.custom_field.is_global_to_workspace
        - custom_field_settings.custom_field.is_value_read_only
        - custom_field_settings.custom_field.multi_enum_values
        - custom_field_settings.custom_field.multi_enum_values.color
        - custom_field_settings.custom_field.multi_enum_values.enabled
        - custom_field_settings.custom_field.multi_enum_values.name
        - custom_field_settings.custom_field.name
        - custom_field_settings.custom_field.number_value
        - custom_field_settings.custom_field.people_value
        - custom_field_settings.custom_field.people_value.name
        - custom_field_settings.custom_field.precision
        - custom_field_settings.custom_field.representation_type
        - custom_field_settings.custom_field.resource_subtype
        - custom_field_settings.custom_field.text_value
        - custom_field_settings.custom_field.type
        - custom_field_settings.is_important
        - custom_field_settings.parent
        - custom_field_settings.parent.name
        - custom_field_settings.project
        - custom_field_settings.project.name
        - custom_fields
        - custom_fields.date_value
        - custom_fields.date_value.date
        - custom_fields.date_value.date_time
        - custom_fields.display_value
        - custom_fields.enabled
        - custom_fields.enum_options
        - custom_fields.enum_options.color
        - custom_fields.enum_options.enabled
        - custom_fields.enum_options.name
        - custom_fields.enum_value
        - custom_fields.enum_value.color
        - custom_fields.enum_value.enabled
        - custom_fields.enum_value.name
        - custom_fields.id_prefix
        - custom_fields.is_formula_field
        - custom_fields.multi_enum_values
        - custom_fields.multi_enum_values.color
        - custom_fields.multi_enum_values.enabled
        - custom_fields.multi_enum_values.name
        - custom_fields.name
        - custom_fields.number_value
        - custom_fields.representation_type
        - custom_fields.resource_subtype
        - custom_fields.text_value
        - custom_fields.type
        - default_access_level
        - default_view
        - due_date
        - due_on
        - followers
        - followers.name
        - html_notes
        - icon
        - members
        - members.name
        - minimum_access_level_for_customization
        - minimum_access_level_for_sharing
        - modified_at
        - name
        - notes
        - owner
        - permalink_url
        - privacy_setting
        - project_brief
        - public
        - start_on
        - team
        - team.name
        - workspace
        - workspace.name
        schema:
          type: array
          items:
            type: string
            enum:
            - archived
            - color
            - completed
            - completed_at
            - completed_by
            - completed_by.name
            - created_at
            - created_from_template
            - created_from_template.name
            - current_status
            - current_status.author
            - current_status.author.name
            - current_status.color
            - current_status.created_at
            - current_status.created_by
            - current_status.created_by.name
            - current_status.html_text
            - current_status.modified_at
            - current_status.text
            - current_status.title
            - current_status_update
            - current_status_update.resource_subtype
            - current_status_update.title
            - custom_field_settings
            - custom_field_settings.custom_field
            - custom_field_settings.custom_field.asana_created_field
            - custom_field_settings.custom_field.created_by
            - custom_field_settings.custom_field.created_by.name
            - custom_field_settings.custom_field.currency_code
            - custom_field_settings.custom_field.custom_label
            - custom_field_settings.custom_field.custom_label_position
            - custom_field_settings.custom_field.date_value
            - custom_field_settings.custom_field.date_value.date
            - custom_field_settings.custom_field.date_value.date_time
            - custom_field_settings.custom_field.description
            - custom_field_settings.custom_field.display_value
            - custom_field_settings.custom_field.enabled
            - custom_field_settings.custom_field.enum_options
            - custom_field_settings.custom_field.enum_options.color
            - custom_field_settings.custom_field.enum_options.enabled
            - custom_field_settings.custom_field.enum_options.name
            - custom_field_settings.custom_field.enum_value
            - custom_field_settings.custom_field.enum_value.color
            - custom_field_settings.custom_field.enum_value.enabled
            - custom_field_settings.custom_field.enum_value.name
            - custom_field_settings.custom_field.format
            - custom_field_settings.custom_field.has_notifications_enabled
            - custom_field_settings.custom_field.id_prefix
            - custom_field_settings.custom_field.is_formula_field
            - custom_field_settings.custom_field.is_global_to_workspace
            - custom_field_settings.custom_field.is_value_read_only
            - custom_field_settings.custom_field.multi_enum_values
            - custom_field_settings.custom_field.multi_enum_values.color
            - custom_field_settings.custom_field.multi_enum_values.enabled
            - custom_field_settings.custom_field.multi_enum_values.name
            - custom_field_settings.custom_field.name
            - custom_field_settings.custom_field.number_value
            - custom_field_settings.custom_field.people_value
            - custom_field_settings.custom_field.people_value.name
            - custom_field_settings.custom_field.precision
            - custom_field_settings.custom_field.representation_type
            - custom_field_settings.custom_field.resource_subtype
            - custom_field_settings.custom_field.text_value
            - custom_field_settings.custom_field.type
            - custom_field_settings.is_important
            - custom_field_settings.parent
            - custom_field_settings.parent.name
            - custom_field_settings.project
            - custom_field_settings.project.name
            - custom_fields
            - custom_fields.date_value
            - custom_fields.date_value.date
            - custom_fields.date_value.date_time
            - custom_fields.display_value
            - custom_fields.enabled
            - custom_fields.enum_options
            - custom_fields.enum_options.color
            - custom_fields.enum_options.enabled
            - custom_fields.enum_options.name
            - custom_fields.enum_value
            - custom_fields.enum_value.color
            - custom_fields.enum_value.enabled
            - custom_fields.enum_value.name
            - custom_fields.id_prefix
            - custom_fields.is_formula_field
            - custom_fields.multi_enum_values
            - custom_fields.multi_enum_values.color
            - custom_fields.multi_enum_values.enabled
            - custom_fields.multi_enum_values.name
            - custom_fields.name
            - custom_fields.number_value
            - custom_fields.representation_type
            - custom_fields.resource_subtype
            - custom_fields.text_value
            - custom_fields.type
            - default_access_level
            - default_view
            - due_date
            - due_on
            - followers
            - followers.name
            - html_notes
            - icon
            - members
            - members.name
            - minimum_access_level_for_customization
            - minimum_access_level_for_sharing
            - modified_at
            - name
            - notes
            - owner
            - permalink_url
            - privacy_setting
            - project_brief
            - public
            - start_on
            - team
            - team.name
            - workspace
            - workspace.name
        style: form
        explode: false
      responses:
        200:
          description: Successfully retrieved the requested project.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ProjectResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
      security:
      - oauth2:
        - projects:read
      x-readme:
        code-samples:
        - language: java
          install: <dependency><groupId>com.asana</groupId><artifactId>asana</artifactId><version>1.0.0</version></dependency>
          code: "import com.asana.Client;\n\nClient client = Client.accessToken(\"PERSONAL_ACCESS_TOKEN\");\n\nProject result = client.projects.getProject(projectGid)\n    .option(\"pretty\", true)\n    .execute();"
        - language: node
          install: npm install asana
          code: "const Asana = require('asana');\n\nlet client = Asana.ApiClient.instance;\nlet token = client.authentications['token'];\ntoken.accessToken = '<YOUR_ACCESS_TOKEN>';\n\nlet projectsApiInstance = new Asana.ProjectsApi();\nlet project_gid = \"1331\"; // String | Globally unique identifier for the project.\nlet opts = { \n    'opt_fields': \"archived,color,completed,completed_at,completed_by,completed_by.name,created_at,created_from_template,created_from_template.name,current_status,current_status.author,current_status.author.name,current_status.color,current_status.created_at,current_status.created_by,current_status.created_by.name,current_status.html_text,current_status.modified_at,current_status.text,current_status.title,current_status_update,current_status_update.resource_subtype,current_status_update.title,custom_field_settings,custom_field_settings.custom_field,custom_field_settings.custom_field.asana_created_field,custom_field_settings.custom_field.created_by,custom_field_settings.custom_field.created_by.name,custom_field_settings.custom_field.currency_code,custom_field_settings.custom_field.custom_label,custom_field_settings.custom_field.custom_label_position,custom_field_settings.custom_field.date_value,custom_field_settings.custom_field.date_value.date,custom_field_settings.custom_field.date_value.date_time,custom_field_settings.custom_field.description,custom_field_settings.custom_field.display_value,custom_field_settings.custom_field.enabled,custom_field_settings.custom_field.enum_options,custom_field_settings.custom_field.enum_options.color,custom_field_settings.custom_field.enum_options.enabled,custom_field_settings.custom_field.enum_options.name,custom_field_settings.custom_field.enum_value,custom_field_settings.custom_field.enum_value.color,custom_field_settings.custom_field.enum_value.enabled,custom_field_settings.custom_field.enum_value.name,custom_field_settings.custom_field.format,custom_field_settings.custom_field.has_notifications_enabled,custom_field_settings.custom_field.id_prefix,custom_field_settings.custom_field.is_formula_field,custom_field_settings.custom_field.is_global_to_workspace,custom_field_settings.custom_field.is_value_read_only,custom_field_settings.custom_field.multi_enum_values,custom_field_settings.custom_field.multi_enum_values.color,custom_field_settings.custom_field.multi_enum_values.enabled,custom_field_settings.custom_field.multi_enum_values.name,custom_field_settings.custom_field.name,custom_field_settings.custom_field.number_value,custom_field_settings.custom_field.people_value,custom_field_settings.custom_field.people_value.name,custom_field_settings.custom_field.precision,custom_field_settings.custom_field.representation_type,custom_field_settings.custom_field.resource_subtype,custom_field_settings.custom_field.text_value,custom_field_settings.custom_field.type,custom_field_settings.is_important,custom_field_settings.parent,custom_field_settings.parent.name,custom_field_settings.project,custom_field_settings.project.name,custom_fields,custom_fields.date_value,custom_fields.date_value.date,custom_fields.date_value.date_time,custom_fields.display_value,custom_fields.enabled,custom_fields.enum_options,custom_fields.enum_options.color,custom_fields.enum_options.enabled,custom_fields.enum_options.name,custom_fields.enum_value,custom_fields.enum_value.color,custom_fields.enum_value.enabled,custom_fields.enum_value.name,custom_fields.id_prefix,custom_fields.is_formula_field,custom_fields.multi_enum_values,custom_fields.multi_enum_values.color,custom_fields.multi_enum_values.enabled,custom_fields.multi_enum_values.name,custom_fields.name,custom_fields.number_value,custom_fields.representation_type,custom_fields.resource_subtype,custom_fields.text_value,custom_fields.type,default_access_level,default_view,due_date,due_on,followers,followers.name,html_notes,icon,members,members.name,minimum_access_level_for_customization,minimum_access_level_for_sharing,modified_at,name,notes,owner,permalink_url,privacy_setting,project_brief,public,start_on,team,team.name,workspace,workspace.name\"\n};\nprojectsApiInstance.getProject(project_gid, opts).then((result) => {\n    console.log('API called successfully. Returned data: ' + JSON.stringify(result.data, null, 2));\n}, (error) => {\n    console.error(error.response.body);\n});"
          name: node-sdk-v3
        - language: node
          install: npm install asana@1.0.5
          code: "const asana = require('asana');\n\nconst client = asana.Client.create().useAccessToken('PERSONAL_ACCESS_TOKEN');\n\nclient.projects.getProject(projectGid, {param: \"value\", param: \"value\", opt_pretty: true})\n    .then((result) => {\n        console.log(result);\n    });"
          name: node-sdk-v1
        - language: python
          install: pip install asana
          code: "import asana\nfrom asana.rest import ApiException\nfrom pprint import pprint\n\nconfiguration = asana.Configuration()\nconfiguration.access_token = '<YOUR_ACCESS_TOKEN>'\napi_client = asana.ApiClient(configuration)\n\n# create an instance of the API class\nprojects_api_instance = asana.ProjectsApi(api_client)\nproject_gid = \"1331\" # str | Globally unique identifier for the project.\nopts = {\n    'opt_fields': \"archived,color,completed,completed_at,completed_by,completed_by.name,created_at,created_from_template,created_from_template.name,current_status,current_status.author,current_status.author.name,current_status.color,current_status.created_at,current_status.created_by,current_status.created_by.name,current_status.html_text,current_status.modified_at,current_status.text,current_status.title,current_status_update,current_status_update.resource_subtype,current_status_update.title,custom_field_settings,custom_field_settings.custom_field,custom_field_settings.custom_field.asana_created_field,custom_field_settings.custom_field.created_by,custom_field_settings.custom_field.created_by.name,custom_field_settings.custom_field.currency_code,custom_field_settings.custom_field.custom_label,custom_field_settings.custom_field.custom_label_position,custom_field_settings.custom_field.date_value,custom_field_settings.custom_field.date_value.date,custom_field_settings.custom_field.date_value.date_time,custom_field_settings.custom_field.description,custom_field_settings.custom_field.display_value,custom_field_settings.custom_field.enabled,custom_field_settings.custom_field.enum_options,custom_field_settings.custom_field.enum_options.color,custom_field_settings.custom_field.enum_options.enabled,custom_field_settings.custom_field.enum_options.name,custom_field_settings.custom_field.enum_value,custom_field_settings.custom_field.enum_value.color,custom_field_settings.custom_field.enum_value.enabled,custom_field_settings.custom_field.enum_value.name,custom_field_settings.custom_field.format,custom_field_settings.custom_field.has_notifications_enabled,custom_field_settings.custom_field.id_prefix,custom_field_settings.custom_field.is_formula_field,custom_field_settings.custom_field.is_global_to_workspace,custom_field_settings.custom_field.is_value_read_only,custom_field_settings.custom_field.multi_enum_values,custom_field_settings.custom_field.multi_enum_values.color,custom_field_settings.custom_field.multi_enum_values.enabled,custom_field_settings.custom_field.multi_enum_values.name,custom_field_settings.custom_field.name,custom_field_settings.custom_field.number_value,custom_field_settings.custom_field.people_value,custom_field_settings.custom_field.people_value.name,custom_field_settings.custom_field.precision,custom_field_settings.custom_field.representation_type,custom_field_settings.custom_field.resource_subtype,custom_field_settings.custom_field.text_value,custom_field_settings.custom_field.type,custom_field_settings.is_important,custom_field_settings.parent,custom_field_settings.parent.name,custom_field_settings.project,custom_field_settings.project.name,custom_fields,custom_fields.date_value,custom_fields.date_value.date,custom_fields.date_value.date_time,custom_fields.display_value,custom_fields.enabled,custom_fields.enum_options,custom_fields.enum_options.color,custom_fields.enum_options.enabled,custom_fields.enum_options.name,custom_fields.enum_value,custom_fields.enum_value.color,custom_fields.enum_value.enabled,custom_fields.enum_value.name,custom_fields.id_prefix,custom_fields.is_formula_field,custom_fields.multi_enum_values,custom_fields.multi_enum_values.color,custom_fields.multi_enum_values.enabled,custom_fields.multi_enum_values.name,custom_fields.name,custom_fields.number_value,custom_fields.representation_type,custom_fields.resource_subtype,custom_fields.text_value,custom_fields.type,default_access_level,default_view,due_date,due_on,followers,followers.name,html_notes,icon,members,members.name,minimum_access_level_for_customization,minimum_access_level_for_sharing,modified_at,name,notes,owner,permalink_url,privacy_setting,project_brief,public,start_on,team,team.name,workspace,workspace.name\", # list[str] | This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.\n}\n\ntry:\n    # Get a project\n    api_response = projects_api_instance.get_project(project_gid, opts)\n    pprint(api_response)\nexcept ApiException as e:\n    print(\"Exception when calling ProjectsApi->get_project: %s\\n\" % e)"
          name: python-sdk-v5
        - language: python
          install: pip install asana==3.2.3
          code: 'import asana


            client = asana.Client.access_token(''PERSONAL_ACCESS_TOKEN'')


            result = client.projects.get_project(project_gid, {''param'': ''value'', ''param'': ''value''}, opt_pretty=True)'
          name: python-sdk-v3
        - language: php
          install: composer require asana/asana
          code: '<?php

            require ''vendor/autoload.php'';


            $client = Asana\Client::accessToken(''PERSONAL_ACCESS_TOKEN'');


            $result = $client->projects->getProject($project_gid, array(''param'' => ''value'', ''param'' => ''value''), array(''opt_pretty'' => ''true''))'
        - language: ruby
          install: gem install asana
          code: "require 'asana'\n\nclient = Asana::Client.new do |c|\n    c.authentication :access_token, 'PERSONAL_ACCESS_TOKEN'\nend\n\nresult = client.projects.get_project(project_gid: 'project_gid', param: \"value\", param: \"value\", options: {pretty: true})"
    put:
      summary: Asana Update a project
      description: 'A specific, existing project can be updated by making a PUT request on

        the URL for that project. Only the fields provided in the `data` block

        will be updated; any unspecified fields will remain unchanged.


        When using this method, it is best to specify only those fields you wish

        to change, or else you may overwrite changes made by another user since

        you last retrieved the task.


        Returns the complete updated project record.'
      tags:
      - Projects
      operationId: updateProject
      parameters:
      - name: opt_fields
        in: query
        description: This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.
        required: false
        example:
        - archived
        - color
        - completed
        - completed_at
        - completed_by
        - completed_by.name
        - created_at
        - created_from_template
        - created_from_template.name
        - current_status
        - current_status.author
        - current_status.author.name
        - current_status.color
        - current_status.created_at
        - current_status.created_by
        - current_status.created_by.name
        - current_status.html_text
        - current_status.modified_at
        - current_status.text
        - current_status.title
        - current_status_update
        - current_status_update.resource_subtype
        - current_status_update.title
        - custom_field_settings
        - custom_field_settings.custom_field
        - custom_field_settings.custom_field.asana_created_field
        - custom_field_settings.custom_field.created_by
        - custom_field_settings.custom_field.created_by.name
        - custom_field_settings.custom_field.currency_code
        - custom_field_settings.custom_field.custom_label
        - custom_field_settings.custom_field.custom_label_position
        - custom_field_settings.custom_field.date_value
        - custom_field_settings.custom_field.date_value.date
        - custom_field_settings.custom_field.date_value.date_time
        - custom_field_settings.custom_field.description
        - custom_field_settings.custom_field.display_value
        - custom_field_settings.custom_field.enabled
        - custom_field_settings.custom_field.enum_options
        - custom_field_settings.custom_field.enum_options.color
        - custom_field_settings.custom_field.enum_options.enabled
        - custom_field_settings.custom_field.enum_options.name
        - custom_field_settings.custom_field.enum_value
        - custom_field_settings.custom_field.enum_value.color
        - custom_field_settings.custom_field.enum_value.enabled
        - custom_field_settings.custom_field.enum_value.name
        - custom_field_settings.custom_field.format
        - custom_field_settings.custom_field.has_notifications_enabled
        - custom_field_settings.custom_field.id_prefix
        - custom_field_settings.custom_field.is_formula_field
        - custom_field_settings.custom_field.is_global_to_workspace
        - custom_field_settings.custom_field.is_value_read_only
        - custom_field_settings.custom_field.multi_enum_values
        - custom_field_settings.custom_field.multi_enum_values.color
        - custom_field_settings.custom_field.multi_enum_values.enabled
        - custom_field_settings.custom_field.multi_enum_values.name
        - custom_field_settings.custom_field.name
        - custom_field_settings.custom_field.number_value
        - custom_field_settings.custom_field.people_value
        - custom_field_settings.custom_field.people_value.name
        - custom_field_settings.custom_field.precision
        - custom_field_settings.custom_field.representation_type
        - custom_field_settings.custom_field.resource_subtype
        - custom_field_settings.custom_field.text_value
        - custom_field_settings.custom_field.type
        - custom_field_settings.is_important
        - custom_field_settings.parent
        - custom_field_settings.parent.name
        - custom_field_settings.project
        - custom_field_settings.project.name
        - custom_fields
        - custom_fields.date_value
        - custom_fields.date_value.date
        - custom_fields.date_value.date_time
        - custom_fields.display_value
        - custom_fields.enabled
        - custom_fields.enum_options
        - custom_fields.enum_options.color
        - custom_fields.enum_options.enabled
        - custom_fields.enum_options.name
        - custom_fields.enum_value
        - custom_fields.enum_value.color
        - custom_fields.enum_value.enabled
        - custom_fields.enum_value.name
        - custom_fields.id_prefix
        - custom_fields.is_formula_field
        - custom_fields.multi_enum_values
        - custom_fields.multi_enum_values.color
        - custom_fields.multi_enum_values.enabled
        - custom_fields.multi_enum_values.name
        - custom_fields.name
        - custom_fields.number_value
        - custom_fields.representation_type
        - custom_fields.resource_subtype
        - custom_fields.text_value
        - custom_fields.type
        - default_access_level
        - default_view
        - due_date
        - due_on
        - followers
        - followers.name
        - html_notes
        - icon
        - members
        - members.name
        - minimum_access_level_for_customization
        - minimum_access_level_for_sharing
        - modified_at
        - name
        - notes
        - owner
        - permalink_url
        - privacy_setting
        - project_brief
        - public
        - start_on
        - team
        - team.name
        - workspace
        - workspace.name
        schema:
          type: array
          items:
            type: string
            enum:
            - archived
            - color
            - completed
            - completed_at
            - completed_by
            - completed_by.name
            - created_at
            - created_from_template
            - created_from_template.name
            - current_status
            - current_status.author
            - current_status.author.name
            - current_status.color
            - current_status.created_at
            - current_status.created_by
            - current_status.created_by.name
            - current_status.html_text
            - current_status.modified_at
            - current_status.text
            - current_status.title
            - current_status_update
            - current_status_update.resource_subtype
            - current_status_update.title
            - custom_field_settings
            - custom_field_settings.custom_field
            - custom_field_settings.custom_field.asana_created_field
            - custom_field_settings.custom_field.created_by
            - custom_field_settings.custom_field.created_by.name
            - custom_field_settings.custom_field.currency_code
            - custom_field_settings.custom_field.custom_label
            - custom_field_settings.custom_field.custom_label_position
            - custom_field_settings.custom_field.date_value
            - custom_field_settings.custom_field.date_value.date
            - custom_field_settings.custom_field.date_value.date_time
            - custom_field_settings.custom_field.description
            - custom_field_settings.custom_field.display_value
            - custom_field_settings.custom_field.enabled
            - custom_field_settings.custom_field.enum_options
            - custom_field_settings.custom_field.enum_options.color
            - custom_field_settings.custom_field.enum_options.enabled
            - custom_field_settings.custom_field.enum_options.name
            - custom_field_settings.custom_field.enum_value
            - custom_field_settings.custom_field.enum_value.color
            - custom_field_settings.custom_field.enum_value.enabled
            - custom_field_settings.custom_field.enum_value.name
            - custom_field_settings.custom_field.format
            - custom_field_settings.custom_field.has_notifications_enabled
            - custom_field_settings.custom_field.id_prefix
            - custom_field_settings.custom_field.is_formula_field
            - custom_field_settings.custom_field.is_global_to_workspace
            - custom_field_settings.custom_field.is_value_read_only
            - custom_field_settings.custom_field.multi_enum_values
            - custom_field_settings.custom_field.multi_enum_values.color
            - custom_field_settings.custom_field.multi_enum_values.enabled
            - custom_field_settings.custom_field.multi_enum_values.name
            - custom_field_settings.custom_field.name
            - custom_field_settings.custom_field.number_value
            - custom_field_settings.custom_field.people_value
            - custom_field_settings.custom_field.people_value.name
            - custom_field_settings.custom_field.precision
            - custom_field_settings.custom_field.representation_type
            - custom_field_settings.custom_field.resource_subtype
            - custom_field_settings.custom_field.text_value
            - custom_field_settings.custom_field.type
            - custom_field_settings.is_important
            - custom_field_settings.parent
            - custom_field_settings.parent.name
            - custom_field_settings.project
            - custom_field_settings.project.name
            - custom_fields
            - custom_fields.date_value
            - custom_fields.date_value.date
            - custom_fields.date_value.date_time
            - custom_fields.display_value
            - custom_fields.enabled
            - custom_fields.enum_options
            - custom_fields.enum_options.color
            - custom_fields.enum_options.enabled
            - custom_fields.enum_options.name
            - custom_fields.enum_value
            - custom_fields.enum_value.color
            - custom_fields.enum_value.enabled
            - custom_fields.enum_value.name
            - custom_fields.id_prefix
            - custom_fields.is_formula_field
            - custom_fields.multi_enum_values
            - custom_fields.multi_enum_values.color
            - custom_fields.multi_enum_values.enabled
            - custom_fields.multi_enum_values.name
            - custom_fields.name
            - custom_fields.number_value
            - custom_fields.representation_type
            - custom_fields.resource_subtype
            - custom_fields.text_value
            - custom_fields.type
            - default_access_level
            - default_view
            - due_date
            - due_on
            - followers
            - followers.name
            - html_notes
            - icon
            - members
            - members.name
            - minimum_access_level_for_customization
            - minimum_access_level_for_sharing
            - modified_at
            - name
            - notes
            - owner
            - permalink_url
            - privacy_setting
            - project_brief
            - public
            - start_on
            - team
            - team.name
            - workspace
            - workspace.name
        style: form
        explode: false
      requestBody:
        description: The updated fields for the project.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/ProjectUpdateRequest'
      responses:
        200:
          description: Successfully updated the project.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ProjectResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
      security:
      - oauth2:
        - projects:write
      x-readme:
        code-samples:
        - language: java
          install: <dependency><groupId>com.asana</groupId><artifactId>asana</artifactId><version>1.0.0</version></dependency>
          code: "import com.asana.Client;\n\nClient client = Client.accessToken(\"PERSONAL_ACCESS_TOKEN\");\n\nProject result = client.projects.updateProject(projectGid)\n    .data(\"field\", \"value\")\n    .data(\"field\", \"value\")\n    .option(\"pretty\", true)\n    .execute();"
        - language: node
          install: npm install asana
          code: "const Asana = require('asana');\n\nlet client = Asana.ApiClient.instance;\nlet token = client.authentications['token'];\ntoken.accessToken = '<YOUR_ACCESS_TOKEN>';\n\nlet projectsApiInstance = new Asana.ProjectsApi();\nlet body = {\"data\": {\"<PARAM_1>\": \"<VALUE_1>\", \"<PARAM_2>\": \"<VALUE_2>\",}}; // Object | The updated fields for the project.\nlet project_gid = \"1331\"; // String | Globally unique identifier for the project.\nlet opts = { \n    'opt_fields': \"archived,color,completed,completed_at,completed_by,completed_by.name,created_at,created_from_template,created_from_template.name,current_status,current_status.author,current_status.author.name,current_status.color,current_status.created_at,current_status.created_by,current_status.created_by.name,current_status.html_text,current_status.modified_at,current_status.text,current_status.title,current_status_update,current_status_update.resource_subtype,current_status_update.title,custom_field_settings,custom_field_settings.custom_field,custom_field_settings.custom_field.asana_created_field,custom_field_settings.custom_field.created_by,custom_field_settings.custom_field.created_by.name,custom_field_settings.custom_field.currency_code,custom_field_settings.custom_field.custom_label,custom_field_settings.custom_field.custom_label_position,custom_field_settings.custom_field.date_value,custom_field_settings.custom_field.date_value.date,custom_field_settings.custom_field.date_value.date_time,custom_field_settings.custom_field.description,custom_field_settings.custom_field.display_value,custom_field_settings.custom_field.enabled,custom_field_settings.custom_field.enum_options,custom_field_settings.custom_field.enum_options.color,custom_field_settings.custom_field.enum_options.enabled,custom_field_settings.custom_field.enum_options.name,custom_field_settings.custom_field.enum_value,custom_field_settings.custom_field.enum_value.color,custom_field_settings.custom_field.enum_value.enabled,custom_field_settings.custom_field.enum_value.name,custom_field_settings.custom_field.format,custom_field_settings.custom_field.has_notifications_enabled,custom_field_settings.custom_field.id_prefix,custom_field_settings.custom_field.is_formula_field,custom_field_settings.custom_field.is_global_to_workspace,custom_field_settings.custom_field.is_value_read_only,custom_field_settings.custom_field.multi_enum_values,custom_field_settings.custom_field.multi_enum_values.color,custom_field_settings.custom_field.multi_enum_values.enabled,custom_field_settings.custom_field.multi_enum_values.name,custom_field_settings.custom_field.name,custom_field_settings.custom_field.number_value,custom_field_settings.custom_field.people_value,custom_field_settings.custom_field.people_value.name,custom_field_settings.custom_field.precision,custom_field_settings.custom_field.representation_type,custom_field_settings.custom_field.resource_subtype,custom_field_settings.custom_field.text_value,custom_field_settings.custom_field.type,custom_field_settings.is_important,custom_field_settings.parent,custom_field_settings.parent.name,custom_field_settings.project,custom_field_settings.project.name,custom_fields,custom_fields.date_value,custom_fields.date_value.date,custom_fields.date_value.date_time,custom_fields.display_value,custom_fields.enabled,custom_fields.enum_options,custom_fields.enum_options.color,custom_fields.enum_options.enabled,custom_fields.enum_options.name,custom_fields.enum_value,custom_fields.enum_value.color,custom_fields.enum_value.enabled,custom_fields.enum_value.name,custom_fields.id_prefix,custom_fields.is_formula_field,custom_fields.multi_enum_values,custom_fields.multi_enum_values.color,custom_fields.multi_enum_values.enabled,custom_fields.multi_enum_values.name,custom_fields.name,custom_fields.number_value,custom_fields.representation_type,custom_fields.resource_subtype,custom_fields.text_value,custom_fields.type,default_access_level,default_view,due_date,due_on,followers,followers.name,html_notes,icon,members,members.name,minimum_access_level_for_customization,minimum_access_level_for_sharing,modified_at,name,notes,owner,permalink_url,privacy_setting,project_brief,public,start_on,team,team.name,workspace,workspace.name\"\n};\nprojectsApiInstance.updateProject(body, project_gid, opts).then((result) => {\n    console.log('API called successfully. Returned data: ' + JSON.stringify(result.data, null, 2));\n}, (error) => {\n    console.error(error.response.body);\n});"
          name: node-sdk-v3
        - language: node
          install: npm install asana@1.0.5
          code: "const asana = require('asana');\n\nconst client = asana.Client.create().useAccessToken('PERSONAL_ACCESS_TOKEN');\n\nclient.projects.updateProject(projectGid, {field: \"value\", field: \"value\", pretty: true})\n    .then((result) => {\n        console.log(result);\n    });"
          name: node-sdk-v1
        - language: python
          install: pip install asana
          code: "import asana\nfrom asana.rest import ApiException\nfrom pprint import pprint\n\nconfiguration = asana.Configuration()\nconfiguration.access_token = '<YOUR_ACCESS_TOKEN>'\napi_client = asana.ApiClient(configuration)\n\n# create an instance of the API class\nprojects_api_instance = asana.ProjectsApi(api_client)\nbody = {\"data\": {\"<PARAM_1>\": \"<VALUE_1>\", \"<PARAM_2>\": \"<VALUE_2>\",}} # dict | The updated fields for the project.\nproject_gid = \"1331\" # str | Globally unique identifier for the project.\nopts = {\n    'opt_fields': \"archived,color,completed,completed_at,completed_by,completed_by.name,created_at,created_from_template,created_from_template.name,current_status,current_status.author,current_status.author.name,current_status.color,current_status.created_at,current_status.created_by,current_status.created_by.name,current_status.html_text,current_status.modified_at,current_status.text,current_status.title,current_status_update,current_status_update.resource_subtype,current_status_update.title,custom_field_settings,custom_field_settings.custom_field,custom_field_settings.custom_field.asana_created_field,custom_field_settings.custom_field.created_by,custom_field_settings.custom_field.created_by.name,custom_field_settings.custom_field.currency_code,custom_field_settings.custom_field.custom_label,custom_field_settings.custom_field.custom_label_position,custom_field_settings.custom_field.date_value,custom_field_settings.custom_field.date_value.date,custom_field_settings.custom_field.date_value.date_time,custom_field_settings.custom_field.description,custom_field_settings.custom_field.display_value,custom_field_settings.custom_field.enabled,custom_field_settings.custom_field.enum_options,custom_field_settings.custom_field.enum_options.color,custom_field_settings.custom_field.enum_options.enabled,custom_field_settings.custom_field.enum_options.name,custom_field_settings.custom_field.enum_value,custom_field_settings.custom_field.enum_value.color,custom_field_settings.custom_field.enum_value.enabled,custom_field_settings.custom_field.enum_value.name,custom_field_settings.custom_field.format,custom_field_settings.custom_field.has_notifications_enabled,custom_field_settings.custom_field.id_prefix,custom_field_settings.custom_field.is_formula_field,custom_field_settings.custom_field.is_global_to_workspace,custom_field_settings.custom_field.is_value_read_only,custom_field_settings.custom_field.multi_enum_values,custom_field_settings.custom_field.multi_enum_values.color,custom_field_settings.custom_field.multi_enum_values.enabled,custom_field_settings.custom_field.multi_enum_values.name,custom_field_settings.custom_field.name,custom_field_settings.custom_field.number_value,custom_field_settings.custom_field.people_value,custom_field_settings.custom_field.people_value.name,custom_field_settings.custom_field.precision,custom_field_settings.custom_field.representation_type,custom_field_settings.custom_field.resource_subtype,custom_field_settings.custom_field.text_value,custom_field_settings.custom_field.type,custom_field_settings.is_important,custom_field_settings.parent,custom_field_settings.parent.name,custom_field_settings.project,custom_field_settings.project.name,custom_fields,custom_fields.date_value,custom_fields.date_value.date,custom_fields.date_value.date_time,custom_fields.display_value,custom_fields.enabled,custom_fields.enum_options,custom_fields.enum_options.color,custom_fields.enum_options.enabled,custom_fields.enum_options.name,custom_fields.enum_value,custom_fields.enum_value.color,custom_fields.enum_value.enabled,custom_fields.enum_value.name,custom_fields.id_prefix,custom_fields.is_formula_field,custom_fields.multi_enum_values,custom_fields.multi_enum_values.color,custom_fields.multi_enum_values.enabled,custom_fields.multi_enum_values.name,custom_fields.name,custom_fields.number_value,custom_fields.representation_type,custom_fields.resource_subtype,custom_fields.text_value,custom_fields.type,default_access_level,default_view,due_date,due_on,followers,followers.name,html_notes,icon,members,members.name,minimum_access_level_for_customization,minimum_access_level_for_sharing,modified_at,name,notes,owner,permalink_url,privacy_setting,project_brief,public,start_on,team,team.name,workspace,workspace.name\", # list[str] | This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.\n}\n\ntry:\n    # Update a project\n    api_response = projects_api_instance.update_project(body, project_gid, opts)\n    pprint(api_response)\nexcept ApiException as e:\n    print(\"Exception when calling ProjectsApi->update_project: %s\\n\" % e)"
          name: python-sdk-v5
        - language: python
          install: pip install asana==3.2.3
          code: 'import asana


            client = asana.Client.access_token(''PERSONAL_ACCESS_TOKEN'')


            result = client.projects.update_project(project_gid, {''field'': ''value'', ''field'': ''value''}, opt_pretty=True)'
          name: python-sdk-v3
        - language: php
          install: composer require asana/asana
          code: '<?php

            require ''vendor/autoload.php'';


            $client = Asana\Client::accessToken(''PERSONAL_ACCESS_TOKEN'');


            $result = $client->projects->updateProject($project_gid, array(''field'' => ''value'', ''field'' => ''value''), array(''opt_pretty'' => ''true''))'
        - language: ruby
          install: gem install asana
          code: "require 'asana'\n\nclient = Asana::Client.new do |c|\n    c.authentication :access_token, 'PERSONAL_ACCESS_TOKEN'\nend\n\nresult = client.projects.update_project(project_gid: 'project_gid', field: \"value\", field: \"value\", options: {pretty: true})"
    delete:
      summary: Asana Delete a project
      description: 'A specific, existing project can be deleted by making a DELETE request on

        the URL for that project.


        Returns an empty data record.'
      tags:
      - Projects
      operationId: deleteProject
      responses:
        200:
          description: Successfully deleted the specified project.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/EmptyResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
      security:
      - oauth2:
        - projects:delete
      x-readme:
        code-samples:
        - language: java
          install: <dependency><groupId>com.asana</groupId><artifactId>asana</artifactId><version>1.0.0</version></dependency>
          code: "import com.asana.Client;\n\nClient client = Client.accessToken(\"PERSONAL_ACCESS_TOKEN\");\n\nJsonElement result = client.projects.deleteProject(projectGid)\n    .option(\"pretty\", true)\n    .execute();"
        - language: node
          install: npm install asana
          code: "const Asana = require('asana');\n\nlet client = Asana.ApiClient.instance;\nlet token = client.authentications['token'];\ntoken.accessToken = '<YOUR_ACCESS_TOKEN>';\n\nlet projectsApiInstance = new Asana.ProjectsApi();\nlet project_gid = \"1331\"; // String | Globally unique identifier for the project.\n\nprojectsApiInstance.deleteProject(project_gid).then((result) => {\n    console.log('API called successfully. Returned data: ' + JSON.stringify(result.data, null, 2));\n}, (error) => {\n    console.error(error.response.body);\n});"
          name: node-sdk-v3
        - language: node
          install: npm install asana@1.0.5
          code: "const asana = require('asana');\n\nconst client = asana.Client.create().useAccessToken('PERSONAL_ACCESS_TOKEN');\n\nclient.projects.deleteProject(projectGid)\n    .then((result) => {\n        console.log(result);\n    });"
          name: node-sdk-v1
        - language: python
          install: pip install asana
[...]
