openapi: 3.1.0
info:
  title: Asana Allocations Time Tracking Entries API
  description: The Asana Allocations API allows users to manage and allocate resources within their Asana project management system. An allocation object represents how much of a resource (e.g. person, team) is dedicated to a specific work object (e.g. project, portfolio) over a specific period of time. The effort value can be a percentage or number of hours.
  version: '1.0'
  termsOfService: https://asana.com/terms
  contact:
    name: Asana Support
    url: https://asana.com/support
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://app.asana.com/api/1.0
  description: Main endpoint.
security:
- personalAccessToken: []
- oauth2: []
tags:
- name: Time Tracking Entries
  description: Asana’s native time tracking feature allows you to estimate the time needed to complete a task, as well as record the actual time spent.
paths:
  /tasks/{task_gid}/time_tracking_entries:
    parameters:
    - $ref: '#/components/parameters/task_path_gid'
    - $ref: '#/components/parameters/pretty'
    get:
      summary: Asana Get time tracking entries for a task
      description: Returns time tracking entries for a given task.
      tags:
      - Time Tracking Entries
      operationId: getTimeTrackingEntriesForTask
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - name: opt_fields
        in: query
        description: This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.
        required: false
        example:
        - created_by
        - created_by.name
        - duration_minutes
        - entered_on
        - offset
        - path
        - uri
        schema:
          type: array
          items:
            type: string
            enum:
            - created_by
            - created_by.name
            - duration_minutes
            - entered_on
            - offset
            - path
            - uri
        style: form
        explode: false
      responses:
        200:
          description: Successfully retrieved the requested time tracking entries.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TimeTrackingEntryCompact'
                  next_page:
                    $ref: '#/components/schemas/NextPage'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
      x-readme:
        code-samples:
        - language: node
          install: npm install asana
          code: "const Asana = require('asana');\n\nlet client = Asana.ApiClient.instance;\nlet token = client.authentications['token'];\ntoken.accessToken = '<YOUR_ACCESS_TOKEN>';\n\nlet timeTrackingEntriesApiInstance = new Asana.TimeTrackingEntriesApi();\nlet task_gid = \"321654\"; // String | The task to operate on.\nlet opts = { \n    'limit': 50, \n    'offset': \"eyJ0eXAiOJiKV1iQLCJhbGciOiJIUzI1NiJ9\", \n    'opt_fields': \"created_by,created_by.name,duration_minutes,entered_on,offset,path,uri\"\n};\ntimeTrackingEntriesApiInstance.getTimeTrackingEntriesForTask(task_gid, opts).then((result) => {\n    console.log('API called successfully. Returned data: ' + JSON.stringify(result.data, null, 2));\n}, (error) => {\n    console.error(error.response.body);\n});"
          name: node-sdk-v3
        - language: node
          install: npm install asana@1.0.5
          code: "const asana = require('asana');\n\nconst client = asana.Client.create().useAccessToken('PERSONAL_ACCESS_TOKEN');\n\nclient.timetrackingentries.getTimeTrackingEntriesForTask(taskGid, {param: \"value\", param: \"value\", opt_pretty: true})\n    .then((result) => {\n        console.log(result);\n    });"
          name: node-sdk-v1
        - language: python
          install: pip install asana
          code: "import asana\nfrom asana.rest import ApiException\nfrom pprint import pprint\n\nconfiguration = asana.Configuration()\nconfiguration.access_token = '<YOUR_ACCESS_TOKEN>'\napi_client = asana.ApiClient(configuration)\n\n# create an instance of the API class\ntime_tracking_entries_api_instance = asana.TimeTrackingEntriesApi(api_client)\ntask_gid = \"321654\" # str | The task to operate on.\nopts = {\n    'limit': 50, # int | Results per page. The number of objects to return per page. The value must be between 1 and 100.\n    'offset': \"eyJ0eXAiOJiKV1iQLCJhbGciOiJIUzI1NiJ9\", # str | Offset token. An offset to the next page returned by the API. A pagination request will return an offset token, which can be used as an input parameter to the next request. If an offset is not passed in, the API will return the first page of results. *Note: You can only pass in an offset that was returned to you via a previously paginated request.*\n    'opt_fields': \"created_by,created_by.name,duration_minutes,entered_on,offset,path,uri\", # list[str] | This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.\n}\n\ntry:\n    # Get time tracking entries for a task\n    api_response = time_tracking_entries_api_instance.get_time_tracking_entries_for_task(task_gid, opts)\n    for data in api_response:\n        pprint(data)\nexcept ApiException as e:\n    print(\"Exception when calling TimeTrackingEntriesApi->get_time_tracking_entries_for_task: %s\\n\" % e)"
          name: python-sdk-v5
        - language: python
          install: pip install asana==3.2.3
          code: 'import asana


            client = asana.Client.access_token(''PERSONAL_ACCESS_TOKEN'')


            result = client.time_tracking_entries.get_time_tracking_entries_for_task(task_gid, {''param'': ''value'', ''param'': ''value''}, opt_pretty=True)'
          name: python-sdk-v3
    post:
      summary: Asana Create a time tracking entry
      description: 'Creates a time tracking entry on a given task.


        Returns the record of the newly created time tracking entry.'
      tags:
      - Time Tracking Entries
      operationId: createTimeTrackingEntry
      parameters:
      - name: opt_fields
        in: query
        description: This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.
        required: false
        example:
        - created_at
        - created_by
        - created_by.name
        - duration_minutes
        - entered_on
        - task
        - task.created_by
        - task.name
        - task.resource_subtype
        schema:
          type: array
          items:
            type: string
            enum:
            - created_at
            - created_by
            - created_by.name
            - duration_minutes
            - entered_on
            - task
            - task.created_by
            - task.name
            - task.resource_subtype
        style: form
        explode: false
      requestBody:
        description: Information about the time tracking entry.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/CreateTimeTrackingEntryRequest'
      responses:
        201:
          description: Successfully created a time tracking entry for the task.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TimeTrackingEntryBase'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
      x-readme:
        code-samples:
        - language: node
          install: npm install asana
          code: "const Asana = require('asana');\n\nlet client = Asana.ApiClient.instance;\nlet token = client.authentications['token'];\ntoken.accessToken = '<YOUR_ACCESS_TOKEN>';\n\nlet timeTrackingEntriesApiInstance = new Asana.TimeTrackingEntriesApi();\nlet body = {\"data\": {\"<PARAM_1>\": \"<VALUE_1>\", \"<PARAM_2>\": \"<VALUE_2>\",}}; // Object | Information about the time tracking entry.\nlet task_gid = \"321654\"; // String | The task to operate on.\nlet opts = { \n    'opt_fields': \"created_at,created_by,created_by.name,duration_minutes,entered_on,task,task.created_by,task.name,task.resource_subtype\"\n};\ntimeTrackingEntriesApiInstance.createTimeTrackingEntry(body, task_gid, opts).then((result) => {\n    console.log('API called successfully. Returned data: ' + JSON.stringify(result.data, null, 2));\n}, (error) => {\n    console.error(error.response.body);\n});"
          name: node-sdk-v3
        - language: node
          install: npm install asana@1.0.5
          code: "const asana = require('asana');\n\nconst client = asana.Client.create().useAccessToken('PERSONAL_ACCESS_TOKEN');\n\nclient.timetrackingentries.createTimeTrackingEntry(taskGid, {field: \"value\", field: \"value\", pretty: true})\n    .then((result) => {\n        console.log(result);\n    });"
          name: node-sdk-v1
        - language: python
          install: pip install asana
          code: "import asana\nfrom asana.rest import ApiException\nfrom pprint import pprint\n\nconfiguration = asana.Configuration()\nconfiguration.access_token = '<YOUR_ACCESS_TOKEN>'\napi_client = asana.ApiClient(configuration)\n\n# create an instance of the API class\ntime_tracking_entries_api_instance = asana.TimeTrackingEntriesApi(api_client)\nbody = {\"data\": {\"<PARAM_1>\": \"<VALUE_1>\", \"<PARAM_2>\": \"<VALUE_2>\",}} # dict | Information about the time tracking entry.\ntask_gid = \"321654\" # str | The task to operate on.\nopts = {\n    'opt_fields': \"created_at,created_by,created_by.name,duration_minutes,entered_on,task,task.created_by,task.name,task.resource_subtype\", # list[str] | This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.\n}\n\ntry:\n    # Create a time tracking entry\n    api_response = time_tracking_entries_api_instance.create_time_tracking_entry(body, task_gid, opts)\n    pprint(api_response)\nexcept ApiException as e:\n    print(\"Exception when calling TimeTrackingEntriesApi->create_time_tracking_entry: %s\\n\" % e)"
          name: python-sdk-v5
        - language: python
          install: pip install asana==3.2.3
          code: 'import asana


            client = asana.Client.access_token(''PERSONAL_ACCESS_TOKEN'')


            result = client.time_tracking_entries.create_time_tracking_entry(task_gid, {''field'': ''value'', ''field'': ''value''}, opt_pretty=True)'
          name: python-sdk-v3
  /time_tracking_entries/{time_tracking_entry_gid}:
    parameters:
    - $ref: '#/components/parameters/time_tracking_entry_path_gid'
    - $ref: '#/components/parameters/pretty'
    get:
      summary: Asana Get a time tracking entry
      description: Returns the complete time tracking entry record for a single time tracking entry.
      tags:
      - Time Tracking Entries
      operationId: getTimeTrackingEntry
      parameters:
      - name: opt_fields
        in: query
        description: This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.
        required: false
        example:
        - created_at
        - created_by
        - created_by.name
        - duration_minutes
        - entered_on
        - task
        - task.created_by
        - task.name
        - task.resource_subtype
        schema:
          type: array
          items:
            type: string
            enum:
            - created_at
            - created_by
            - created_by.name
            - duration_minutes
            - entered_on
            - task
            - task.created_by
            - task.name
            - task.resource_subtype
        style: form
        explode: false
      responses:
        200:
          description: Successfully retrieved the requested time tracking entry.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TimeTrackingEntryBase'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
      x-readme:
        code-samples:
        - language: node
          install: npm install asana
          code: "const Asana = require('asana');\n\nlet client = Asana.ApiClient.instance;\nlet token = client.authentications['token'];\ntoken.accessToken = '<YOUR_ACCESS_TOKEN>';\n\nlet timeTrackingEntriesApiInstance = new Asana.TimeTrackingEntriesApi();\nlet time_tracking_entry_gid = \"917392\"; // String | Globally unique identifier for the time tracking entry.\nlet opts = { \n    'opt_fields': \"created_at,created_by,created_by.name,duration_minutes,entered_on,task,task.created_by,task.name,task.resource_subtype\"\n};\ntimeTrackingEntriesApiInstance.getTimeTrackingEntry(time_tracking_entry_gid, opts).then((result) => {\n    console.log('API called successfully. Returned data: ' + JSON.stringify(result.data, null, 2));\n}, (error) => {\n    console.error(error.response.body);\n});"
          name: node-sdk-v3
        - language: node
          install: npm install asana@1.0.5
          code: "const asana = require('asana');\n\nconst client = asana.Client.create().useAccessToken('PERSONAL_ACCESS_TOKEN');\n\nclient.timetrackingentries.getTimeTrackingEntry(timeTrackingEntryGid, {param: \"value\", param: \"value\", opt_pretty: true})\n    .then((result) => {\n        console.log(result);\n    });"
          name: node-sdk-v1
        - language: python
          install: pip install asana
          code: "import asana\nfrom asana.rest import ApiException\nfrom pprint import pprint\n\nconfiguration = asana.Configuration()\nconfiguration.access_token = '<YOUR_ACCESS_TOKEN>'\napi_client = asana.ApiClient(configuration)\n\n# create an instance of the API class\ntime_tracking_entries_api_instance = asana.TimeTrackingEntriesApi(api_client)\ntime_tracking_entry_gid = \"917392\" # str | Globally unique identifier for the time tracking entry.\nopts = {\n    'opt_fields': \"created_at,created_by,created_by.name,duration_minutes,entered_on,task,task.created_by,task.name,task.resource_subtype\", # list[str] | This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.\n}\n\ntry:\n    # Get a time tracking entry\n    api_response = time_tracking_entries_api_instance.get_time_tracking_entry(time_tracking_entry_gid, opts)\n    pprint(api_response)\nexcept ApiException as e:\n    print(\"Exception when calling TimeTrackingEntriesApi->get_time_tracking_entry: %s\\n\" % e)"
          name: python-sdk-v5
        - language: python
          install: pip install asana==3.2.3
          code: 'import asana


            client = asana.Client.access_token(''PERSONAL_ACCESS_TOKEN'')


            result = client.time_tracking_entries.get_time_tracking_entry(time_tracking_entry_gid, {''param'': ''value'', ''param'': ''value''}, opt_pretty=True)'
          name: python-sdk-v3
    put:
      summary: Asana Update a time tracking entry
      description: 'A specific, existing time tracking entry can be updated by making a `PUT` request on

        the URL for that time tracking entry. Only the fields provided in the `data` block

        will be updated; any unspecified fields will remain unchanged.


        When using this method, it is best to specify only those fields you wish

        to change, or else you may overwrite changes made by another user since

        you last retrieved the task.


        Returns the complete updated time tracking entry record.'
      tags:
      - Time Tracking Entries
      operationId: updateTimeTrackingEntry
      parameters:
      - name: opt_fields
        in: query
        description: This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.
        required: false
        example:
        - created_at
        - created_by
        - created_by.name
        - duration_minutes
        - entered_on
        - task
        - task.created_by
        - task.name
        - task.resource_subtype
        schema:
          type: array
          items:
            type: string
            enum:
            - created_at
            - created_by
            - created_by.name
            - duration_minutes
            - entered_on
            - task
            - task.created_by
            - task.name
            - task.resource_subtype
        style: form
        explode: false
      requestBody:
        description: The updated fields for the time tracking entry.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/UpdateTimeTrackingEntryRequest'
      responses:
        200:
          description: Successfully updated the time tracking entry.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TimeTrackingEntryBase'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
      x-readme:
        code-samples:
        - language: node
          install: npm install asana
          code: "const Asana = require('asana');\n\nlet client = Asana.ApiClient.instance;\nlet token = client.authentications['token'];\ntoken.accessToken = '<YOUR_ACCESS_TOKEN>';\n\nlet timeTrackingEntriesApiInstance = new Asana.TimeTrackingEntriesApi();\nlet body = {\"data\": {\"<PARAM_1>\": \"<VALUE_1>\", \"<PARAM_2>\": \"<VALUE_2>\",}}; // Object | The updated fields for the time tracking entry.\nlet time_tracking_entry_gid = \"917392\"; // String | Globally unique identifier for the time tracking entry.\nlet opts = { \n    'opt_fields': \"created_at,created_by,created_by.name,duration_minutes,entered_on,task,task.created_by,task.name,task.resource_subtype\"\n};\ntimeTrackingEntriesApiInstance.updateTimeTrackingEntry(body, time_tracking_entry_gid, opts).then((result) => {\n    console.log('API called successfully. Returned data: ' + JSON.stringify(result.data, null, 2));\n}, (error) => {\n    console.error(error.response.body);\n});"
          name: node-sdk-v3
        - language: node
          install: npm install asana@1.0.5
          code: "const asana = require('asana');\n\nconst client = asana.Client.create().useAccessToken('PERSONAL_ACCESS_TOKEN');\n\nclient.timetrackingentries.updateTimeTrackingEntry(timeTrackingEntryGid, {field: \"value\", field: \"value\", pretty: true})\n    .then((result) => {\n        console.log(result);\n    });"
          name: node-sdk-v1
        - language: python
          install: pip install asana
          code: "import asana\nfrom asana.rest import ApiException\nfrom pprint import pprint\n\nconfiguration = asana.Configuration()\nconfiguration.access_token = '<YOUR_ACCESS_TOKEN>'\napi_client = asana.ApiClient(configuration)\n\n# create an instance of the API class\ntime_tracking_entries_api_instance = asana.TimeTrackingEntriesApi(api_client)\nbody = {\"data\": {\"<PARAM_1>\": \"<VALUE_1>\", \"<PARAM_2>\": \"<VALUE_2>\",}} # dict | The updated fields for the time tracking entry.\ntime_tracking_entry_gid = \"917392\" # str | Globally unique identifier for the time tracking entry.\nopts = {\n    'opt_fields': \"created_at,created_by,created_by.name,duration_minutes,entered_on,task,task.created_by,task.name,task.resource_subtype\", # list[str] | This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.\n}\n\ntry:\n    # Update a time tracking entry\n    api_response = time_tracking_entries_api_instance.update_time_tracking_entry(body, time_tracking_entry_gid, opts)\n    pprint(api_response)\nexcept ApiException as e:\n    print(\"Exception when calling TimeTrackingEntriesApi->update_time_tracking_entry: %s\\n\" % e)"
          name: python-sdk-v5
        - language: python
          install: pip install asana==3.2.3
          code: 'import asana


            client = asana.Client.access_token(''PERSONAL_ACCESS_TOKEN'')


            result = client.time_tracking_entries.update_time_tracking_entry(time_tracking_entry_gid, {''field'': ''value'', ''field'': ''value''}, opt_pretty=True)'
          name: python-sdk-v3
    delete:
      summary: Asana Delete a time tracking entry
      description: 'A specific, existing time tracking entry can be deleted by making a `DELETE` request on

        the URL for that time tracking entry.


        Returns an empty data record.'
      tags:
      - Time Tracking Entries
      operationId: deleteTimeTrackingEntry
      responses:
        200:
          description: Successfully deleted the specified time tracking entry.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/EmptyResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
      x-readme:
        code-samples:
        - language: node
          install: npm install asana
          code: "const Asana = require('asana');\n\nlet client = Asana.ApiClient.instance;\nlet token = client.authentications['token'];\ntoken.accessToken = '<YOUR_ACCESS_TOKEN>';\n\nlet timeTrackingEntriesApiInstance = new Asana.TimeTrackingEntriesApi();\nlet time_tracking_entry_gid = \"917392\"; // String | Globally unique identifier for the time tracking entry.\n\ntimeTrackingEntriesApiInstance.deleteTimeTrackingEntry(time_tracking_entry_gid).then((result) => {\n    console.log('API called successfully. Returned data: ' + JSON.stringify(result.data, null, 2));\n}, (error) => {\n    console.error(error.response.body);\n});"
          name: node-sdk-v3
        - language: node
          install: npm install asana@1.0.5
          code: "const asana = require('asana');\n\nconst client = asana.Client.create().useAccessToken('PERSONAL_ACCESS_TOKEN');\n\nclient.timetrackingentries.deleteTimeTrackingEntry(timeTrackingEntryGid)\n    .then((result) => {\n        console.log(result);\n    });"
          name: node-sdk-v1
        - language: python
          install: pip install asana
          code: "import asana\nfrom asana.rest import ApiException\nfrom pprint import pprint\n\nconfiguration = asana.Configuration()\nconfiguration.access_token = '<YOUR_ACCESS_TOKEN>'\napi_client = asana.ApiClient(configuration)\n\n# create an instance of the API class\ntime_tracking_entries_api_instance = asana.TimeTrackingEntriesApi(api_client)\ntime_tracking_entry_gid = \"917392\" # str | Globally unique identifier for the time tracking entry.\n\n\ntry:\n    # Delete a time tracking entry\n    api_response = time_tracking_entries_api_instance.delete_time_tracking_entry(time_tracking_entry_gid)\n    pprint(api_response)\nexcept ApiException as e:\n    print(\"Exception when calling TimeTrackingEntriesApi->delete_time_tracking_entry: %s\\n\" % e)"
          name: python-sdk-v5
        - language: python
          install: pip install asana==3.2.3
          code: 'import asana


            client = asana.Client.access_token(''PERSONAL_ACCESS_TOKEN'')


            result = client.time_tracking_entries.delete_time_tracking_entry(time_tracking_entry_gid, opt_pretty=True)'
          name: python-sdk-v3
components:
  schemas:
    EmptyResponse:
      type: object
      description: An empty object. Some endpoints do not return an object on success. The success is conveyed through a 2-- status code and returning an empty object.
    UserCompact:
      description: A *user* object represents an account in Asana that can be given access to various workspaces, projects, and tasks.
      type: object
      properties:
        gid:
          description: Globally unique identifier of the resource, as a string.
          type: string
          readOnly: true
          example: '12345'
          x-insert-after: false
        resource_type:
          description: The base type of this resource.
          type: string
          readOnly: true
          example: user
          x-insert-after: gid
        name:
          type: string
          description: '*Read-only except when same user as requester*. The user’s name.'
          example: Greg Sanchez
    TimeTrackingEntryCompact:
      description: A generic Asana Resource, containing a globally unique identifier.
      type: object
      properties:
        gid:
          description: Globally unique identifier of the resource, as a string.
          type: string
          readOnly: true
          example: '12345'
          x-insert-after: false
        resource_type:
          description: The base type of this resource.
          type: string
          readOnly: true
          example: task
          x-insert-after: gid
        duration_minutes:
          description: Time in minutes tracked by the entry.
          type: integer
          example: 12
        entered_on:
          description: The day that this entry is logged on.
          type: string
          format: date
          example: '2015-03-14'
        created_by:
          $ref: '#/components/schemas/UserCompact'
          readOnly: true
    Error:
      type: object
      properties:
        message:
          type: string
          readOnly: true
          description: Message providing more detail about the error that occurred, if available.
          example: 'project: Missing input'
        help:
          type: string
          readOnly: true
          description: Additional information directing developers to resources on how to address and fix the problem, if available.
          example: 'For more information on API status codes and how to handle them, read the docs on errors: https://asana.github.io/developer-docs/#errors'''
        phrase:
          type: string
          readOnly: true
          description: '*500 errors only*. A unique error phrase which can be used when contacting developer support to help identify the exact occurrence of the problem in Asana’s logs.'
          example: 6 sad squid snuggle softly
    ErrorResponse:
      description: 'Sadly, sometimes requests to the API are not successful. Failures can

        occur for a wide range of reasons. In all cases, the API should return

        an HTTP Status Code that indicates the nature of the failure,

        with a response body in JSON format containing additional information.



        In the event of a server error the response body will contain an error

        phrase. These phrases are automatically generated using the

        [node-asana-phrase

        library](https://github.com/Asana/node-asana-phrase) and can be used by

        Asana support to quickly look up the incident that caused the server

        error.'
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    UpdateTimeTrackingEntryRequest:
      type: object
      properties:
        duration_minutes:
          description: '*Optional*. Time in minutes tracked by the entry'
          type: integer
          example: 12
        entered_on:
          description: '*Optional*. The day that this entry is logged on. Defaults to today if no day specified'
          type: string
          format: date
          example: '2023-03-19'
    CreateTimeTrackingEntryRequest:
      type: object
      properties:
        duration_minutes:
          description: Time in minutes tracked by the entry. Must be greater than 0
          type: integer
          example: 12
        entered_on:
          description: '*Optional*. The day that this entry is logged on. Defaults to today if not specified'
          type: string
          format: date
          example: '2023-03-19'
    NextPage:
      type: object
      nullable: true
      description: '*Conditional*. This property is only present when a limit query parameter is provided in the request. When making a paginated request, the API will return a number of results as specified by the limit parameter. If more results exist, then the response will contain a next_page attribute, which will include an offset, a relative path attribute, and a full uri attribute. If there are no more pages available, next_page will be null and no offset will be provided. Note that an offset token will expire after some time, as data may have changed.'
      properties:
        offset:
          type: string
          readOnly: true
          description: Pagination offset for the request.
          example: eyJ0eXAiOJiKV1iQLCJhbGciOiJIUzI1NiJ9
        path:
          type: string
          readOnly: true
          description: A relative path containing the query parameters to fetch for next_page
          example: /tasks/12345/attachments?limit=2&offset=eyJ0eXAiOJiKV1iQLCJhbGciOiJIUzI1NiJ9
        uri:
          type: string
          format: uri
          readOnly: true
          description: A full uri containing the query parameters to fetch for next_page
          example: https://app.asana.com/api/1.0/tasks/12345/attachments?limit=2&offset=eyJ0eXAiOJiKV1iQLCJhbGciOiJIUzI1NiJ9
    TimeTrackingEntryBase:
      allOf:
      - $ref: '#/components/schemas/TimeTrackingEntryCompact'
      - type: object
        properties:
          task:
            $ref: '#/components/schemas/TaskCompact'
            readOnly: true
          created_at:
            description: The time at which this resource was created.
            type: string
            format: date-time
            readOnly: true
            example: '2012-02-22T02:06:58.147Z'
    TaskCompact:
      description: The *task* is the basic object around which many operations in Asana are centered.
      type: object
      properties:
        gid:
          description: Globally unique identifier of the resource, as a string.
          type: string
          readOnly: true
          example: '12345'
          x-insert-after: false
        resource_type:
          description: The base type of this resource.
          type: string
          readOnly: true
          example: task
          x-insert-after: gid
        name:
          description: The name of the task.
          type: string
          example: Bug Task
        resource_subtype:
          type: string
          description: 'The subtype of this resource. Different subtypes retain many of the same fields and behavior, but may render differently in Asana or represent resources with different semantic meaning.

            The resource_subtype `milestone` represent a single moment in time. This means tasks with this subtype cannot have a start_date.'
          enum:
          - default_task
          - milestone
          - approval
          example: default_task
        created_by:
          type: object
          readOnly: true
          description: '[Opt In](/docs/inputoutput-options). A *user* object represents an account in Asana that can be given access to various workspaces, projects, and tasks.'
          properties:
            gid:
              description: Globally unique identifier of the resource.
              type: string
              example: '1111'
            resource_type:
              description: The type of resource.
              type: string
              example: user
  responses:
    NotFound:
      description: Either the request method and path supplied do not specify a known action in the API, or the object specified by the request does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerError:
      description: There was a problem on Asana’s end. In the event of a server error the response body should contain an error phrase. These phrases can be used by Asana support to quickly look up the incident that caused the server error. Some errors are due to server load, and will not supply an error phrase.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: The authentication and request syntax was valid but the server is refusing to complete the request. This can happen if you try to read or write to objects or properties that the user does not have access to.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: A valid authentication token was not provided with the request, so the API could not associate a user with the request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: This usually occurs because of a missing or malformed parameter. Check the documentation and the syntax of your request and try again.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    offset:
      name: offset
      in: query
      description: 'Offset token.

        An offset to the next page returned by the API. A pagination request will return an offset token, which can be used as an input parameter to the next request. If an offset is not passed in, the API will return the first page of results.

        *Note: You can only pass in an offset that was returned to you via a previously paginated request.*'
      example: eyJ0eXAiOJiKV1iQLCJhbGciOiJIUzI1NiJ9
      schema:
        type: string
    pretty:
      name: opt_pretty
      in: query
      description: 'Provides “pretty” output.

        Provides the response in a “pretty” format. In the case of JSON this means doing proper line breaking and indentation to make it readable. This will take extra time and increase the response size so it is advisable only to use this during debugging.'
      required: false
      allowEmptyValue: true
      schema:
        type: boolean
      style: form
      example: true
    task_path_gid:
      name: task_gid
      in: path
      required: true
      description: The task to operate on.
      schema:
        type: string
      example: '321654'
      x-env-variable: task
    time_tracking_entry_path_gid:
      name: time_tracking_entry_gid
      in: path
      description: Globally unique identifier for the time tracking entry.
      required: true
      schema:
        type: string
      example: '917392'
      x-env-variable: time_tracking_entry
    limit:
      name: limit
      in: query
      description: 'Results per page.

        The number of objects to return per page. The value must be between 1 and 100.'
      example: 50
      schema:
        type: integer
        minimum: 1
        maximum: 100
  securitySchemes:
    personalAccessToken:
      type: http
      description: A personal access token for the Asana API.
      scheme: bearer
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization code flow.
      flows:
        authorizationCode:
          authorizationUrl: https://app.asana.com/-/oauth_authorize
          tokenUrl: https://app.asana.com/-/oauth_token
          scopes:
            default: Provides access to all endpoints documented in the API reference.
