openapi: 3.1.0
info:
  title: Asana Allocations Tasks API
  description: The Asana Allocations API allows users to manage and allocate resources within their Asana project management system. An allocation object represents how much of a resource (e.g. person, team) is dedicated to a specific work object (e.g. project, portfolio) over a specific period of time. The effort value can be a percentage or number of hours.
  version: '1.0'
  termsOfService: https://asana.com/terms
  contact:
    name: Asana Support
    url: https://asana.com/support
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://app.asana.com/api/1.0
  description: Main endpoint.
security:
- personalAccessToken: []
- oauth2: []
tags:
- name: Tasks
  description: 'The task is the basic object around which many operations in Asana are centered. In the Asana application, multiple tasks populate the middle pane according to some view parameters, and the set of selected tasks determines the more detailed information presented in the details pane.


    Sections are unique in that they will be included in the `memberships` field of task objects returned in the API when the task is within a section. They can also be used to manipulate the ordering of a task within a project.


    [Queries](/reference/gettasks) return a [compact representation of each task object](/reference/tasks). To retrieve *all* fields or *specific set* of the fields, use [field selectors](/docs/inputoutput-options) to manipulate what data is included in a response.'
paths:
  /tasks/{task_gid}/tags:
    parameters:
    - $ref: '#/components/parameters/task_path_gid'
    - $ref: '#/components/parameters/pretty'
    - $ref: '#/components/parameters/limit'
    - $ref: '#/components/parameters/offset'
    get:
      summary: Asana Get a task's tags
      description: Get a compact representation of all of the tags the task has.
      tags:
      - Tasks
      operationId: getTagsForTask
      parameters:
      - name: opt_fields
        in: query
        description: This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.
        required: false
        example:
        - color
        - created_at
        - followers
        - followers.name
        - name
        - notes
        - offset
        - path
        - permalink_url
        - uri
        - workspace
        - workspace.name
        schema:
          type: array
          items:
            type: string
            enum:
            - color
            - created_at
            - followers
            - followers.name
            - name
            - notes
            - offset
            - path
            - permalink_url
            - uri
            - workspace
            - workspace.name
        style: form
        explode: false
      responses:
        200:
          description: Successfully retrieved the tags for the given task.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TagCompact'
                  next_page:
                    $ref: '#/components/schemas/NextPage'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
      x-readme:
        code-samples:
        - language: java
          install: <dependency><groupId>com.asana</groupId><artifactId>asana</artifactId><version>1.0.0</version></dependency>
          code: "import com.asana.Client;\n\nClient client = Client.accessToken(\"PERSONAL_ACCESS_TOKEN\");\n\nList<Tag> result = client.tags.getTagsForTask(taskGid)\n    .option(\"pretty\", true)\n    .execute();"
        - language: node
          install: npm install asana
          code: "const Asana = require('asana');\n\nlet client = Asana.ApiClient.instance;\nlet token = client.authentications['token'];\ntoken.accessToken = '<YOUR_ACCESS_TOKEN>';\n\nlet tagsApiInstance = new Asana.TagsApi();\nlet task_gid = \"321654\"; // String | The task to operate on.\nlet opts = { \n    'limit': 50, \n    'offset': \"eyJ0eXAiOJiKV1iQLCJhbGciOiJIUzI1NiJ9\", \n    'opt_fields': \"color,created_at,followers,followers.name,name,notes,offset,path,permalink_url,uri,workspace,workspace.name\"\n};\ntagsApiInstance.getTagsForTask(task_gid, opts).then((result) => {\n    console.log('API called successfully. Returned data: ' + JSON.stringify(result.data, null, 2));\n}, (error) => {\n    console.error(error.response.body);\n});"
          name: node-sdk-v3
        - language: node
          install: npm install asana@1.0.5
          code: "const asana = require('asana');\n\nconst client = asana.Client.create().useAccessToken('PERSONAL_ACCESS_TOKEN');\n\nclient.tags.getTagsForTask(taskGid, {param: \"value\", param: \"value\", opt_pretty: true})\n    .then((result) => {\n        console.log(result);\n    });"
          name: node-sdk-v1
        - language: python
          install: pip install asana
          code: "import asana\nfrom asana.rest import ApiException\nfrom pprint import pprint\n\nconfiguration = asana.Configuration()\nconfiguration.access_token = '<YOUR_ACCESS_TOKEN>'\napi_client = asana.ApiClient(configuration)\n\n# create an instance of the API class\ntags_api_instance = asana.TagsApi(api_client)\ntask_gid = \"321654\" # str | The task to operate on.\nopts = {\n    'limit': 50, # int | Results per page. The number of objects to return per page. The value must be between 1 and 100.\n    'offset': \"eyJ0eXAiOJiKV1iQLCJhbGciOiJIUzI1NiJ9\", # str | Offset token. An offset to the next page returned by the API. A pagination request will return an offset token, which can be used as an input parameter to the next request. If an offset is not passed in, the API will return the first page of results. *Note: You can only pass in an offset that was returned to you via a previously paginated request.*\n    'opt_fields': \"color,created_at,followers,followers.name,name,notes,offset,path,permalink_url,uri,workspace,workspace.name\", # list[str] | This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.\n}\n\ntry:\n    # Get a task's tags\n    api_response = tags_api_instance.get_tags_for_task(task_gid, opts)\n    for data in api_response:\n        pprint(data)\nexcept ApiException as e:\n    print(\"Exception when calling TagsApi->get_tags_for_task: %s\\n\" % e)"
          name: python-sdk-v5
        - language: python
          install: pip install asana==3.2.3
          code: 'import asana


            client = asana.Client.access_token(''PERSONAL_ACCESS_TOKEN'')


            result = client.tags.get_tags_for_task(task_gid, {''param'': ''value'', ''param'': ''value''}, opt_pretty=True)'
          name: python-sdk-v3
        - language: php
          install: composer require asana/asana
          code: '<?php

            require ''vendor/autoload.php'';


            $client = Asana\Client::accessToken(''PERSONAL_ACCESS_TOKEN'');


            $result = $client->tags->getTagsForTask($task_gid, array(''param'' => ''value'', ''param'' => ''value''), array(''opt_pretty'' => ''true''))'
        - language: ruby
          install: gem install asana
          code: "require 'asana'\n\nclient = Asana::Client.new do |c|\n    c.authentication :access_token, 'PERSONAL_ACCESS_TOKEN'\nend\n\nresult = client.tags.get_tags_for_task(task_gid: 'task_gid', param: \"value\", param: \"value\", options: {pretty: true})"
  /tasks:
    parameters:
    - $ref: '#/components/parameters/pretty'
    get:
      summary: Asana Get multiple tasks
      description: 'Returns the compact task records for some filtered set of tasks. Use one or more of the parameters provided to filter the tasks returned. You must specify a `project` or `tag` if you do not specify `assignee` and `workspace`.


        For more complex task retrieval, use [workspaces/{workspace_gid}/tasks/search](/reference/searchtasksforworkspace).'
      tags:
      - Tasks
      operationId: getTasks
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - name: assignee
        in: query
        description: 'The assignee to filter tasks on. If searching for unassigned tasks, assignee.any = null can be specified.

          *Note: If you specify `assignee`, you must also specify the `workspace` to filter on.*'
        schema:
          type: string
        x-env-variable: assignee
        example: '14641'
      - name: project
        in: query
        description: The project to filter tasks on.
        schema:
          type: string
        example: '321654'
        x-env-variable: project
      - name: section
        in: query
        description: The section to filter tasks on.
        schema:
          type: string
        example: '321654'
        x-env-variable: section
      - name: workspace
        in: query
        description: 'The workspace to filter tasks on.

          *Note: If you specify `workspace`, you must also specify the `assignee` to filter on.*'
        schema:
          type: string
        example: '321654'
        x-env-variable: workspace
      - name: completed_since
        in: query
        description: Only return tasks that are either incomplete or that have been completed since this time.
        schema:
          type: string
          format: date-time
          example: '2012-02-22T02:06:58.158Z'
      - name: modified_since
        in: query
        description: 'Only return tasks that have been modified since the given time.


          *Note: A task is considered “modified” if any of its properties

          change, or associations between it and other objects are modified

          (e.g.  a task being added to a project). A task is not considered

          modified just because another object it is associated with (e.g. a

          subtask) is modified. Actions that count as modifying the task

          include assigning, renaming, completing, and adding stories.*'
        schema:
          type: string
          format: date-time
        example: '2012-02-22T02:06:58.158Z'
      - name: opt_fields
        in: query
        description: This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.
        required: false
        example:
        - actual_time_minutes
        - approval_status
        - assignee
        - assignee.name
        - assignee_section
        - assignee_section.name
        - assignee_status
        - completed
        - completed_at
        - completed_by
        - completed_by.name
        - created_at
        - created_by
        - custom_fields
        - custom_fields.asana_created_field
        - custom_fields.created_by
        - custom_fields.created_by.name
        - custom_fields.currency_code
        - custom_fields.custom_label
        - custom_fields.custom_label_position
        - custom_fields.date_value
        - custom_fields.date_value.date
        - custom_fields.date_value.date_time
        - custom_fields.description
        - custom_fields.display_value
        - custom_fields.enabled
        - custom_fields.enum_options
        - custom_fields.enum_options.color
        - custom_fields.enum_options.enabled
        - custom_fields.enum_options.name
        - custom_fields.enum_value
        - custom_fields.enum_value.color
        - custom_fields.enum_value.enabled
        - custom_fields.enum_value.name
        - custom_fields.format
        - custom_fields.has_notifications_enabled
        - custom_fields.id_prefix
        - custom_fields.is_formula_field
        - custom_fields.is_global_to_workspace
        - custom_fields.is_value_read_only
        - custom_fields.multi_enum_values
        - custom_fields.multi_enum_values.color
        - custom_fields.multi_enum_values.enabled
        - custom_fields.multi_enum_values.name
        - custom_fields.name
        - custom_fields.number_value
        - custom_fields.people_value
        - custom_fields.people_value.name
        - custom_fields.precision
        - custom_fields.representation_type
        - custom_fields.resource_subtype
        - custom_fields.text_value
        - custom_fields.type
        - dependencies
        - dependents
        - due_at
        - due_on
        - external
        - external.data
        - followers
        - followers.name
        - hearted
        - hearts
        - hearts.user
        - hearts.user.name
        - html_notes
        - is_rendered_as_separator
        - liked
        - likes
        - likes.user
        - likes.user.name
        - memberships
        - memberships.project
        - memberships.project.name
        - memberships.section
        - memberships.section.name
        - modified_at
        - name
        - notes
        - num_hearts
        - num_likes
        - num_subtasks
        - offset
        - parent
        - parent.created_by
        - parent.name
        - parent.resource_subtype
        - path
        - permalink_url
        - projects
        - projects.name
        - resource_subtype
        - start_at
        - start_on
        - tags
        - tags.name
        - uri
        - workspace
        - workspace.name
        schema:
          type: array
          items:
            type: string
            enum:
            - actual_time_minutes
            - approval_status
            - assignee
            - assignee.name
            - assignee_section
            - assignee_section.name
            - assignee_status
            - completed
            - completed_at
            - completed_by
            - completed_by.name
            - created_at
            - created_by
            - custom_fields
            - custom_fields.asana_created_field
            - custom_fields.created_by
            - custom_fields.created_by.name
            - custom_fields.currency_code
            - custom_fields.custom_label
            - custom_fields.custom_label_position
            - custom_fields.date_value
            - custom_fields.date_value.date
            - custom_fields.date_value.date_time
            - custom_fields.description
            - custom_fields.display_value
            - custom_fields.enabled
            - custom_fields.enum_options
            - custom_fields.enum_options.color
            - custom_fields.enum_options.enabled
            - custom_fields.enum_options.name
            - custom_fields.enum_value
            - custom_fields.enum_value.color
            - custom_fields.enum_value.enabled
            - custom_fields.enum_value.name
            - custom_fields.format
            - custom_fields.has_notifications_enabled
            - custom_fields.id_prefix
            - custom_fields.is_formula_field
            - custom_fields.is_global_to_workspace
            - custom_fields.is_value_read_only
            - custom_fields.multi_enum_values
            - custom_fields.multi_enum_values.color
            - custom_fields.multi_enum_values.enabled
            - custom_fields.multi_enum_values.name
            - custom_fields.name
            - custom_fields.number_value
            - custom_fields.people_value
            - custom_fields.people_value.name
            - custom_fields.precision
            - custom_fields.representation_type
            - custom_fields.resource_subtype
            - custom_fields.text_value
            - custom_fields.type
            - dependencies
            - dependents
            - due_at
            - due_on
            - external
            - external.data
            - followers
            - followers.name
            - hearted
            - hearts
            - hearts.user
            - hearts.user.name
            - html_notes
            - is_rendered_as_separator
            - liked
            - likes
            - likes.user
            - likes.user.name
            - memberships
            - memberships.project
            - memberships.project.name
            - memberships.section
            - memberships.section.name
            - modified_at
            - name
            - notes
            - num_hearts
            - num_likes
            - num_subtasks
            - offset
            - parent
            - parent.created_by
            - parent.name
            - parent.resource_subtype
            - path
            - permalink_url
            - projects
            - projects.name
            - resource_subtype
            - start_at
            - start_on
            - tags
            - tags.name
            - uri
            - workspace
            - workspace.name
        style: form
        explode: false
      responses:
        200:
          description: Successfully retrieved requested tasks.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TaskCompact'
                  next_page:
                    $ref: '#/components/schemas/NextPage'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
      security:
      - oauth2:
        - tasks:read
      x-readme:
        code-samples:
        - language: java
          install: <dependency><groupId>com.asana</groupId><artifactId>asana</artifactId><version>1.0.0</version></dependency>
          code: "import com.asana.Client;\n\nClient client = Client.accessToken(\"PERSONAL_ACCESS_TOKEN\");\n\nList<Task> result = client.tasks.getTasks(modifiedSince, completedSince, workspace, section, project, assignee)\n    .option(\"pretty\", true)\n    .execute();"
        - language: node
          install: npm install asana
          code: "const Asana = require('asana');\n\nlet client = Asana.ApiClient.instance;\nlet token = client.authentications['token'];\ntoken.accessToken = '<YOUR_ACCESS_TOKEN>';\n\nlet tasksApiInstance = new Asana.TasksApi();\nlet opts = { \n    'limit': 50, \n    'offset': \"eyJ0eXAiOJiKV1iQLCJhbGciOiJIUzI1NiJ9\", \n    'assignee': \"14641\", \n    'project': \"321654\", \n    'section': \"321654\", \n    'workspace': \"321654\", \n    'completed_since': \"2012-02-22T02:06:58.158Z\", \n    'modified_since': \"2012-02-22T02:06:58.158Z\", \n    'opt_fields': \"actual_time_minutes,approval_status,assignee,assignee.name,assignee_section,assignee_section.name,assignee_status,completed,completed_at,completed_by,completed_by.name,created_at,created_by,custom_fields,custom_fields.asana_created_field,custom_fields.created_by,custom_fields.created_by.name,custom_fields.currency_code,custom_fields.custom_label,custom_fields.custom_label_position,custom_fields.date_value,custom_fields.date_value.date,custom_fields.date_value.date_time,custom_fields.description,custom_fields.display_value,custom_fields.enabled,custom_fields.enum_options,custom_fields.enum_options.color,custom_fields.enum_options.enabled,custom_fields.enum_options.name,custom_fields.enum_value,custom_fields.enum_value.color,custom_fields.enum_value.enabled,custom_fields.enum_value.name,custom_fields.format,custom_fields.has_notifications_enabled,custom_fields.id_prefix,custom_fields.is_formula_field,custom_fields.is_global_to_workspace,custom_fields.is_value_read_only,custom_fields.multi_enum_values,custom_fields.multi_enum_values.color,custom_fields.multi_enum_values.enabled,custom_fields.multi_enum_values.name,custom_fields.name,custom_fields.number_value,custom_fields.people_value,custom_fields.people_value.name,custom_fields.precision,custom_fields.representation_type,custom_fields.resource_subtype,custom_fields.text_value,custom_fields.type,dependencies,dependents,due_at,due_on,external,external.data,followers,followers.name,hearted,hearts,hearts.user,hearts.user.name,html_notes,is_rendered_as_separator,liked,likes,likes.user,likes.user.name,memberships,memberships.project,memberships.project.name,memberships.section,memberships.section.name,modified_at,name,notes,num_hearts,num_likes,num_subtasks,offset,parent,parent.created_by,parent.name,parent.resource_subtype,path,permalink_url,projects,projects.name,resource_subtype,start_at,start_on,tags,tags.name,uri,workspace,workspace.name\"\n};\ntasksApiInstance.getTasks(opts).then((result) => {\n    console.log('API called successfully. Returned data: ' + JSON.stringify(result.data, null, 2));\n}, (error) => {\n    console.error(error.response.body);\n});"
          name: node-sdk-v3
        - language: node
          install: npm install asana@1.0.5
          code: "const asana = require('asana');\n\nconst client = asana.Client.create().useAccessToken('PERSONAL_ACCESS_TOKEN');\n\nclient.tasks.getTasks({param: \"value\", param: \"value\", opt_pretty: true})\n    .then((result) => {\n        console.log(result);\n    });"
          name: node-sdk-v1
        - language: python
          install: pip install asana
          code: "import asana\nfrom asana.rest import ApiException\nfrom pprint import pprint\n\nconfiguration = asana.Configuration()\nconfiguration.access_token = '<YOUR_ACCESS_TOKEN>'\napi_client = asana.ApiClient(configuration)\n\n# create an instance of the API class\ntasks_api_instance = asana.TasksApi(api_client)\nopts = {\n    'limit': 50, # int | Results per page. The number of objects to return per page. The value must be between 1 and 100.\n    'offset': \"eyJ0eXAiOJiKV1iQLCJhbGciOiJIUzI1NiJ9\", # str | Offset token. An offset to the next page returned by the API. A pagination request will return an offset token, which can be used as an input parameter to the next request. If an offset is not passed in, the API will return the first page of results. *Note: You can only pass in an offset that was returned to you via a previously paginated request.*\n    'assignee': \"14641\", # str | The assignee to filter tasks on. If searching for unassigned tasks, assignee.any = null can be specified. *Note: If you specify `assignee`, you must also specify the `workspace` to filter on.*\n    'project': \"321654\", # str | The project to filter tasks on.\n    'section': \"321654\", # str | The section to filter tasks on.\n    'workspace': \"321654\", # str | The workspace to filter tasks on. *Note: If you specify `workspace`, you must also specify the `assignee` to filter on.*\n    'completed_since': '2012-02-22T02:06:58.158Z', # datetime | Only return tasks that are either incomplete or that have been completed since this time.\n    'modified_since': '2012-02-22T02:06:58.158Z', # datetime | Only return tasks that have been modified since the given time.  *Note: A task is considered “modified” if any of its properties change, or associations between it and other objects are modified (e.g.  a task being added to a project). A task is not considered modified just because another object it is associated with (e.g. a subtask) is modified. Actions that count as modifying the task include assigning, renaming, completing, and adding stories.*\n    'opt_fields': \"actual_time_minutes,approval_status,assignee,assignee.name,assignee_section,assignee_section.name,assignee_status,completed,completed_at,completed_by,completed_by.name,created_at,created_by,custom_fields,custom_fields.asana_created_field,custom_fields.created_by,custom_fields.created_by.name,custom_fields.currency_code,custom_fields.custom_label,custom_fields.custom_label_position,custom_fields.date_value,custom_fields.date_value.date,custom_fields.date_value.date_time,custom_fields.description,custom_fields.display_value,custom_fields.enabled,custom_fields.enum_options,custom_fields.enum_options.color,custom_fields.enum_options.enabled,custom_fields.enum_options.name,custom_fields.enum_value,custom_fields.enum_value.color,custom_fields.enum_value.enabled,custom_fields.enum_value.name,custom_fields.format,custom_fields.has_notifications_enabled,custom_fields.id_prefix,custom_fields.is_formula_field,custom_fields.is_global_to_workspace,custom_fields.is_value_read_only,custom_fields.multi_enum_values,custom_fields.multi_enum_values.color,custom_fields.multi_enum_values.enabled,custom_fields.multi_enum_values.name,custom_fields.name,custom_fields.number_value,custom_fields.people_value,custom_fields.people_value.name,custom_fields.precision,custom_fields.representation_type,custom_fields.resource_subtype,custom_fields.text_value,custom_fields.type,dependencies,dependents,due_at,due_on,external,external.data,followers,followers.name,hearted,hearts,hearts.user,hearts.user.name,html_notes,is_rendered_as_separator,liked,likes,likes.user,likes.user.name,memberships,memberships.project,memberships.project.name,memberships.section,memberships.section.name,modified_at,name,notes,num_hearts,num_likes,num_subtasks,offset,parent,parent.created_by,parent.name,parent.resource_subtype,path,permalink_url,projects,projects.name,resource_subtype,start_at,start_on,tags,tags.name,uri,workspace,workspace.name\", # list[str] | This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.\n}\n\ntry:\n    # Get multiple tasks\n    api_response = tasks_api_instance.get_tasks(opts)\n    for data in api_response:\n        pprint(data)\nexcept ApiException as e:\n    print(\"Exception when calling TasksApi->get_tasks: %s\\n\" % e)"
          name: python-sdk-v5
        - language: python
          install: pip install asana==3.2.3
          code: 'import asana


            client = asana.Client.access_token(''PERSONAL_ACCESS_TOKEN'')


            result = client.tasks.get_tasks({''param'': ''value'', ''param'': ''value''}, opt_pretty=True)'
          name: python-sdk-v3
        - language: php
          install: composer require asana/asana
          code: '<?php

            require ''vendor/autoload.php'';


            $client = Asana\Client::accessToken(''PERSONAL_ACCESS_TOKEN'');


            $result = $client->tasks->getTasks(array(''param'' => ''value'', ''param'' => ''value''), array(''opt_pretty'' => ''true''))'
        - language: ruby
          install: gem install asana
          code: "require 'asana'\n\nclient = Asana::Client.new do |c|\n    c.authentication :access_token, 'PERSONAL_ACCESS_TOKEN'\nend\n\nresult = client.tasks.get_tasks(param: \"value\", param: \"value\", options: {pretty: true})"
    post:
      summary: Asana Create a task
      description: 'Creating a new task is as easy as POSTing to the `/tasks` endpoint with a

        data block containing the fields you’d like to set on the task. Any

        unspecified fields will take on default values.


        Every task is required to be created in a specific workspace, and this

        workspace cannot be changed once set. The workspace need not be set

        explicitly if you specify `projects` or a `parent` task instead.'
      tags:
      - Tasks
      operationId: createTask
      parameters:
      - name: opt_fields
        in: query
        description: This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.
        required: false
        example:
        - actual_time_minutes
        - approval_status
        - assignee
        - assignee.name
        - assignee_section
        - assignee_section.name
        - assignee_status
        - completed
        - completed_at
        - completed_by
        - completed_by.name
        - created_at
        - created_by
        - custom_fields
        - custom_fields.asana_created_field
        - custom_fields.created_by
        - custom_fields.created_by.name
        - custom_fields.currency_code
        - custom_fields.custom_label
        - custom_fields.custom_label_position
        - custom_fields.date_value
        - custom_fields.date_value.date
        - custom_fields.date_value.date_time
        - custom_fields.description
        - custom_fields.display_value
        - custom_fields.enabled
        - custom_fields.enum_options
        - custom_fields.enum_options.color
        - custom_fields.enum_options.enabled
        - custom_fields.enum_options.name
        - custom_fields.enum_value
        - custom_fields.enum_value.color
        - custom_fields.enum_value.enabled
        - custom_fields.enum_value.name
        - custom_fields.format
        - custom_fields.has_notifications_enabled
        - custom_fields.id_prefix
        - custom_fields.is_formula_field
        - custom_fields.is_global_to_workspace
        - custom_fields.is_value_read_only
        - custom_fields.multi_enum_values
        - custom_fields.multi_enum_values.color
        - custom_fields.multi_enum_values.enabled
        - custom_fields.multi_enum_values.name
        - custom_fields.name
        - custom_fields.number_value
        - custom_fields.people_value
        - custom_fields.people_value.name
        - custom_fields.precision
        - custom_fields.representation_type
        - custom_fields.resource_subtype
        - custom_fields.text_value
        - custom_fields.type
        - dependencies
        - dependents
        - due_at
        - due_on
        - external
        - external.data
        - followers
        - followers.name
        - hearted
        - hearts
        - hearts.user
        - hearts.user.name
        - html_notes
        - is_rendered_as_separator
        - liked
        - likes
        - likes.user
        - likes.user.name
        - memberships
        - memberships.project
        - memberships.project.name
        - memberships.section
        - memberships.section.name
        - modified_at
        - name
        - notes
        - num_hearts
        - num_likes
        - num_subtasks
        - parent
        - parent.created_by
        - parent.name
        - parent.resource_subtype
        - permalink_url
        - projects
        - projects.name
        - resource_subtype
        - start_at
        - start_on
        - tags
        - tags.name
        - workspace
        - workspace.name
        schema:
          type: array
          items:
            type: string
            enum:
            - actual_time_minutes
            - approval_status
            - assignee
            - assignee.name
            - assignee_section
            - assignee_section.name
            - assignee_status
            - completed
            - completed_at
            - completed_by
            - completed_by.name
            - created_at
            - created_by
            - custom_fields
            - custom_fields.asana_created_field
            - custom_fields.created_by
            - custom_fields.created_by.name
            - custom_fields.currency_code
            - custom_fields.custom_label
            - custom_fields.custom_label_position
            - custom_fields.date_value
            - custom_fields.date_value.date
            - custom_fields.date_value.date_time
            - custom_fields.description
            - custom_fields.display_value
            - custom_fields.enabled
            - custom_fields.enum_options
            - custom_fields.enum_options.color
            - custom_fields.enum_options.enabled
            - custom_fields.enum_options.name
            - custom_fields.enum_value
            - custom_fields.enum_value.color
            - custom_fields.enum_value.enabled
            - custom_fields.enum_value.name
            - custom_fields.format
            - custom_fields.has_notifications_enabled
            - custom_fields.id_prefix
            - custom_fields.is_formula_field
            - custom_fields.is_global_to_workspace
            - custom_fields.is_value_read_only
            - custom_fields.multi_enum_values
            - custom_fields.multi_enum_values.color
            - custom_fields.multi_enum_values.enabled
            - custom_fields.multi_enum_values.name
            - custom_fields.name
            - custom_fields.number_value
            - custom_fields.people_value
            - custom_fields.people_value.name
            - custom_fields.precision
            - custom_fields.representation_type
            - custom_fields.resource_subtype
            - custom_fields.text_value
            - custom_fields.type
            - dependencies
            - dependents
            - due_at
            - due_on
            - external
            - external.data
            - followers
            - followers.name
            - hearted
            - hearts
            - hearts.user
            - hearts.user.name
            - html_notes
            - is_rendered_as_separator
            - liked
            - likes
            - likes.user
            - likes.user.name
            - memberships
            - memberships.project
            - memberships.project.name
            - memberships.section
            - memberships.section.name
            - modified_at
            - name
            - notes
            - num_hearts
            - num_likes
            - num_subtasks
            - parent
            - parent.created_by
            - parent.name
            - parent.resource_subtype
            - permalink_url
            - projects
            - projects.name
            - resource_subtype
            - start_at
            - start_on
            - tags
            - tags.name
            - workspace
            - workspace.name
        style: form
        explode: false
      requestBody:
        description: The task to create.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/TaskRequest'
      responses:
        201:
          description: Successfully created a new task.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TaskResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
      security:
      - oauth2:
        - tasks:write
      x-readme:
        code-samples:
        - language: java
          install: <dependency><groupId>com.asana</groupId><artifactId>asana</artifactId><version>1.0.0</version></dependency>
          code: "import com.asana.Client;\n\nClient client = Client.accessToken(\"PERSONAL_ACCESS_TOKEN\");\n\nTask result = client.tasks.createTask()\n    .data(\"field\", \"value\")\n    .data(\"field\", \"value\")\n    .option(\"pretty\", true)\n    .execute();"
        - language: node
          install: npm install asana
          code: "const Asana = require('asana');\n\nlet client = Asana.ApiClient.instance;\nlet token = client.authentications['token'];\ntoken.accessToken = '<YOUR_ACCESS_TOKEN>';\n\nlet tasksApiInstance = new Asana.TasksApi();\nlet body = {\"data\": {\"<PARAM_1>\": \"<VALUE_1>\", \"<PARAM_2>\": \"<VALUE_2>\",}}; // Object | The task to create.\nlet opts = { \n    'opt_fields': \"actual_time_minutes,approval_status,assignee,assignee.name,assignee_section,assignee_section.name,assignee_status,completed,completed_at,completed_by,completed_by.name,created_at,created_by,custom_fields,custom_fields.asana_created_field,custom_fields.created_by,custom_fields.created_by.name,custom_fields.currency_code,custom_fields.custom_label,custom_fields.custom_label_position,custom_fields.date_value,custom_fields.date_value.date,custom_fields.date_value.date_time,custom_fields.description,custom_fields.display_value,custom_fields.enabled,custom_fields.enum_options,custom_fields.enum_options.color,custom_fields.enum_options.enabled,custom_fields.enum_options.name,custom_fields.enum_value,custom_fields.enum_value.color,custom_fields.enum_value.enabled,custom_fields.enum_value.name,custom_fields.format,custom_fields.has_notifications_enabled,custom_fields.id_prefix,custom_fields.is_formula_field,custom_fields.is_global_to_workspace,custom_fields.is_value_read_only,custom_fields.multi_enum_values,custom_fields.multi_enum_values.color,custom_fields.multi_enum_values.enabled,custom_fields.multi_enum_values.name,custom_fields.name,custom_fields.number_value,custom_fields.people_value,custom_fields.people_value.name,custom_fields.precision,custom_fields.representation_type,custom_fields.resource_subtype,custom_fields.text_value,custom_fields.type,dependencies,dependents,due_at,due_on,external,external.data,followers,followers.name,hearted,hearts,hearts.user,hearts.user.name,html_notes,is_rendered_as_separator,liked,likes,likes.user,likes.user.name,memberships,memberships.project,memberships.project.name,memberships.section,memberships.section.name,modified_at,name,notes,num_hearts,num_likes,num_subtasks,parent,parent.created_by,parent.name,parent.resource_subtype,permalink_url,projects,projects.name,resource_subtype,start_at,start_on,tags,tags.name,workspace,workspace.name\"\n};\ntasksApiInstance.createTask(body, opts).then((result) => {\n    console.log('API called successfully. Returned data: ' + JSON.stringify(result.data, null, 2));\n}, (error) => {\n    console.error(error.response.body);\n});"
          name: node-sdk-v3
        - language: node
          install: npm install asana@1.0.5
          code: "const asana = require('asana');\n\nconst client = asana.Client.create().useAccessToken('PERSONAL_ACCESS_TOKEN');\n\nclient.tasks.createTask({field: \"value\", field: \"value\", pretty: true})\n    .then((result) => {\n        console.log(result);\n    });"
          name: node-sdk-v1
        - language: python
          install: pip install asana
          code: "import asana\nfrom asana.rest import ApiException\nfrom pprint import pprint\n\nconfiguration = asana.Configuration()\nconfiguration.access_token = '<YOUR_ACCESS_TOKEN>'\napi_client = asana.ApiClient(configuration)\n\n# create an instance of the API class\ntasks_api_instance = asana.TasksApi(api_client)\nbody = {\"data\": {\"<PARAM_1>\": \"<VALUE_1>\", \"<PARAM_2>\": \"<VALUE_2>\",}} # dict | The task to create.\nopts = {\n    'opt_fields': \"actual_time_minutes,approval_status,assignee,assignee.name,assignee_section,assignee_section.name,assignee_status,completed,completed_at,completed_by,completed_by.name,created_at,created_by,custom_fields,custom_fields.asana_created_field,custom_fields.created_by,custom_fields.created_by.name,custom_fields.currency_code,custom_fields.custom_label,custom_fields.custom_label_position,custom_fields.date_value,custom_fields.date_value.date,custom_fields.date_value.date_time,custom_fields.description,custom_fields.display_value,custom_fields.enabled,custom_fields.enum_options,custom_fields.enum_options.color,custom_fields.enum_options.enabled,custom_fields.enum_options.name,custom_fields.enum_value,custom_fields.enum_value.color,custom_fields.enum_value.enabled,custom_fields.enum_value.name,custom_fields.format,custom_fields.has_notifications_enabled,custom_fields.id_prefix,custom_fields.is_formula_field,custom_fields.is_global_to_workspace,custom_fields.is_value_read_only,custom_fields.multi_enum_values,custom_fields.multi_enum_values.color,custom_fields.multi_enum_values.enabled,custom_fields.multi_enum_values.name,custom_fields.name,custom_fields.number_value,custom_fields.people_value,custom_fields.people_value.name,custom_fields.precision,custom_fields.representation_type,custom_fields.resource_subtype,custom_fields.text_value,custom_fields.type,dependencies,dependents,due_at,due_on,external,external.data,followers,followers.name,hearted,hearts,hearts.user,hearts.user.name,html_notes,is_rendered_as_separator,liked,likes,likes.user,likes.user.name,memberships,memberships.project,memberships.project.name,memberships.section,memberships.section.name,modified_at,name,notes,num_hearts,num_likes,num_subtasks,parent,parent.created_by,parent.name,parent.resource_subtype,permalink_url,projects,projects.name,resource_subtype,start_at,start_on,tags,tags.name,workspace,workspace.name\", # list[str] | This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.\n}\n\ntry:\n    # Create a task\n    api_response = tasks_api_instance.create_task(body, opts)\n    pprint(api_response)\nexcept ApiException as e:\n    print(\"Exception when calling TasksApi->create_task: %s\\n\" % e)"
          name: python-sdk-v5
        - language: python
          install: pip install asana==3.2.3
          code: 'import asana


            client = asana.Client.access_token(''PERSONAL_ACCESS_TOKEN'')


            result = client.tasks.create_task({''field'': ''value'', ''field'': ''value''}, opt_pretty=True)'
          name: python-sdk-v3
        - language: php
          install: composer require asana/asana
          code: '<?php

            require ''vendor/autoload.php'';


            $client = Asana\Client::accessToken(''PERSONAL_ACCESS_TOKEN'');


            $result = $client->tasks->createTask(array(''field'' => ''value'', ''field'' => ''value''), array(''opt_pretty'' => ''true''))'
        - language: ruby
          install: gem install asana
          code: "require 'asana'\n\nclient = Asana::Client.new do |c|\n    c.authentication :access_token, 'PERSONAL_ACCESS_TOKEN'\nend\n\nresult = client.tasks.create_task(field: \"value\", field: \"value\", options: {pretty: true})"
  /tasks/{task_gid}:
    parameters:
    - $ref: '#/components/parameters/task_path_gid'
    - $ref: '#/components/parameters/pretty'
    get:
      summary: Asana Get a task
      description: Returns the complete task record for a single task.
      tags:
      - Tasks
      operationId: getTask
      parameters:
      - name: opt_fields
        in: query
        description: This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.
        required: false
        example:
        - actual_time_minutes
        - approval_status
        - assignee
        - assignee.name
        - assignee_section
        - assignee_section.name
        - assignee_status
        - completed
        - completed_at
        - completed_by
        - completed_by.name
        - created_at
        - created_by
        - custom_fields
        - custom_fields.asana_created_field
        - custom_fields.created_by
        - custom_fields.created_by.name
        - custom_fields.currency_code
        - custom_fields.custom_label
        - custom_fields.custom_label_position
        - custom_fields.date_value
        - custom_fields.date_value.date
        - custom_fields.date_value.date_time
        - custom_fields.description
        - custom_fields.display_value
        - custom_fields.enabled
        - custom_fields.enum_options
        - custom_fields.enum_options.color
        - custom_fields.enum_options.enabled
        - custom_fields.enum_options.name
        - custom_fields.enum_value
        - custom_fields.enum_value.color
        - custom_fields.enum_value.enabled
        - custom_fields.enum_value.name
        - custom_fields.format
        - custom_fields.has_notifications_enabled
        - custom_fields.id_prefix
        - custom_fields.is_formula_field
        - custom_fields.is_global_to_workspace
        - custom_fields.is_value_read_only
        - custom_fields.multi_enum_values
        - custom_fields.multi_enum_values.color
        - custom_fields.multi_enum_values.enabled
        - custom_fields.multi_enum_values.name
        - custom_fields.name
        - custom_fields.number_value
        - custom_fields.people_value
        - custom_fields.people_value.name
        - custom_fields.precision
        - custom_fields.representation_type
        - custom_fields.resource_subtype
        - custom_fields.text_value
        - custom_fields.type
        - dependencies
        - dependents
        - due_at
        - due_on
        - external
        - external.data
        - followers
        - followers.name
        - hearted
        - hearts
        - hearts.user
        - hearts.user.name
        - html_notes
        - is_rendered_as_separator
        - liked
        - likes
        - likes.user
        - likes.user.name
        - memberships
        - memberships.project
        - memberships.project.name
        - memberships.section
        - memberships.section.name
        - modified_at
        - name
        - notes
        - num_hearts
        - num_likes
        - num_subtasks
        - parent
        - parent.created_by
        - parent.name
        - parent.resource_subtype
        - permalink_url
        - projects
        - projects.name
        - resource_subtype
        - start_at
        - start_on
        - tags
        - tags.name
        - workspace
        - workspace.name
        schema:
          type: array
          items:
            type: string
            enum:
            - actual_time_minutes
            - approval_status
            - assignee
            - assignee.name
            - assignee_section
            - assignee_section.name
            - assignee_status
            - completed
            - completed_at
            - completed_by
            - completed_by.name
            - created_at
            - created_by
            - custom_fields
            - custom_fields.asana_created_field
            - custom_fields.created_by
            - custom_fields.created_by.name
            - custom_fields.currency_code
            - custom_fields.custom_label
            - custom_fields.custom_label_position
            - custom_fields.date_value
            - custom_fields.date_value.date
            - custom_fields.date_value.date_time
            - custom_fields.description
            - custom_fields.display_value
            - custom_fields.enabled
            - custom_fields.enum_options
            - custom_fields.enum_options.color
            - custom_fields.enum_options.enabled
            - custom_fields.enum_options.name
            - custom_fields.enum_value
            - custom_fields.enum_value.color
            - custom_fields.enum_value.enabled
            - custom_fields.enum_value.name
            - custom_fields.format
            - custom_fields.has_notifications_enabled
            - custom_fields.id_prefix
            - custom_fields.is_formula_field
            - custom_fields.is_global_to_workspace
            - custom_fields.is_value_read_only
            - custom_fields.multi_enum_values
            - custom_fields.multi_enum_values.color
            - custom_fields.multi_enum_values.enabled
            - custom_fields.multi_enum_values.name
            - custom_fields.name
            - custom_fields.number_value
            - custom_fields.people_value
            - custom_fields.people_value.name
            - custom_fields.precision
            - custom_fields.representation_type
            - custom_fields.resource_subtype
            - custom_fields.text_value
            - custom_fields.type
            - dependencies
            - dependents
            - due_at
            - due_on
            - external
            - external.data
            - followers
            - followers.name
            - hearted
            - hearts
            - hearts.user
            - hearts.user.name
            - html_notes
            - is_rendered_as_separator
            - liked
            - likes
            - likes.user
            - likes.user.name
            - memberships
            - memberships.project
            - memberships.project.name
            - memberships.section
            - memberships.section.name
            - modified_at
            - name
            - notes
            - num_hearts
            - num_likes
            - num_subtasks
            - parent
            - parent.created_by
            - parent.name
            - parent.resource_subtype
            - permalink_url
            - projects
            - projects.name
            - resource_subtype
            - start_at
            - start_on
            - tags
            - tags.name
            - workspace
            - workspace.name
        style: form
        explode: false
      responses:
        200:
          description: Successfully retrieved the specified task.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TaskResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
      security:
      - oauth2:
        - tasks:read
      x-readme:
        code-samples:
        - language: java
          install: <dependency><groupId>com.asana</groupId><artifactId>asana</artifactId><version>1.0.0</version></dependency>
          code: "import com.asana.Client;\n\nClient client = Client.accessToken(\"PERSONAL_ACCESS_TOKEN\");\n\nTask result = client.tasks.getTask(taskGid)\n    .option(\"pretty\", true)\n    .execute();"
        - language: node
          install: npm install asana
          code: "const Asana = require('asana');\n\nlet client = Asana.ApiClient.instance;\nlet token = client.authentications['token'];\ntoken.accessToken = '<YOUR_ACCESS_TOKEN>';\n\nlet tasksApiInstance = new Asana.TasksApi();\nlet task_gid = \"321654\"; // String | The task to operate on.\nlet opts = { \n    'opt_fields': \"actual_time_minutes,approval_status,assignee,assignee.name,assignee_section,assignee_section.name,assignee_status,completed,completed_at,completed_by,completed_by.name,created_at,created_by,custom_fields,custom_fields.asana_created_field,custom_fields.created_by,custom_fields.created_by.name,custom_fields.currency_code,custom_fields.custom_label,custom_fields.custom_label_position,custom_fields.date_value,custom_fields.date_value.date,custom_fields.date_value.date_time,custom_fields.description,custom_fields.display_value,custom_fields.enabled,custom_fields.enum_options,custom_fields.enum_options.color,custom_fields.enum_options.enabled,custom_fields.enum_options.name,custom_fields.enum_value,custom_fields.enum_value.color,custom_fields.enum_value.enabled,custom_fields.enum_value.name,custom_fields.format,custom_fields.has_notifications_enabled,custom_fields.id_prefix,custom_fields.is_formula_field,custom_fields.is_global_to_workspace,custom_fields.is_value_read_only,custom_fields.multi_enum_values,custom_fields.multi_enum_values.color,custom_fields.multi_enum_values.enabled,custom_fields.multi_enum_values.name,custom_fields.name,custom_fields.number_value,custom_fields.people_value,custom_fields.people_value.name,custom_fields.precision,custom_fields.representation_type,custom_fields.resource_subtype,custom_fields.text_value,custom_fields.type,dependencies,dependents,due_at,due_on,external,external.data,followers,followers.name,hearted,hearts,hearts.user,hearts.user.name,html_notes,is_rendered_as_separator,liked,likes,likes.user,likes.user.name,memberships,memberships.project,memberships.project.name,memberships.section,memberships.section.name,modified_at,name,notes,num_hearts,num_likes,num_subtasks,parent,parent.created_by,parent.name,parent.resource_subtype,permalink_url,projects,projects.name,resource_subtype,start_at,start_on,tags,tags.name,workspace,workspace.name\"\n};\ntasksApiInstance.getTask(task_gid, opts).then((result) => {\n    console.log('API called successfully. Returned data: ' + JSON.stringify(result.data, null, 2));\n}, (error) => {\n    console.error(error.response.body);\n});"
          name: node-sdk-v3
        - language: node
          install: npm install asana@1.0.5
          code: "const asana = require('asana');\n\nconst client = asana.Client.create().useAccessToken('PERSONAL_ACCESS_TOKEN');\n\nclient.tasks.getTask(taskGid, {param: \"value\", param: \"value\", opt_pretty: true})\n    .then((result) => {\n        console.log(result);\n    });"
          name: node-sdk-v1
        - language: python
          install: pip install asana
          code: "import asana\nfrom asana.rest import ApiException\nfrom pprint import pprint\n\nconfiguration = asana.Configuration()\nconfiguration.access_token = '<YOUR_ACCESS_TOKEN>'\napi_client = asana.ApiClient(configuration)\n\n# create an instance of the API class\ntasks_api_instance = asana.TasksApi(api_client)\ntask_gid = \"321654\" # str | The task to operate on.\nopts = {\n    'opt_fields': \"actual_time_minutes,approval_status,assignee,assignee.name,assignee_section,assignee_section.name,assignee_status,completed,completed_at,completed_by,completed_by.name,created_at,created_by,custom_fields,custom_fields.asana_created_field,custom_fields.created_by,custom_fields.created_by.name,custom_fields.currency_code,custom_fields.custom_label,custom_fields.custom_label_position,custom_fields.date_value,custom_fields.date_value.date,custom_fields.date_value.date_time,custom_fields.description,custom_fields.display_value,custom_fields.enabled,custom_fields.enum_options,custom_fields.enum_options.color,custom_fields.enum_options.enabled,custom_fields.enum_options.name,custom_fields.enum_value,custom_fields.enum_value.color,custom_fields.enum_value.enabled,custom_fields.enum_value.name,custom_fields.format,custom_fields.has_notifications_enabled,custom_fields.id_prefix,custom_fields.is_formula_field,custom_fields.is_global_to_workspace,custom_fields.is_value_read_only,custom_fields.multi_enum_values,custom_fields.multi_enum_values.color,custom_fields.multi_enum_values.enabled,custom_fields.multi_enum_values.name,custom_fields.name,custom_fields.number_value,custom_fields.people_value,custom_fields.people_value.name,custom_fields.precision,custom_fields.representation_type,custom_fields.resource_subtype,custom_fields.text_value,custom_fields.type,dependencies,dependents,due_at,due_on,external,external.data,followers,followers.name,hearted,hearts,hearts.user,hearts.user.name,html_notes,is_rendered_as_separator,liked,likes,likes.user,likes.user.name,memberships,memberships.project,memberships.project.name,memberships.section,memberships.section.name,modified_at,name,notes,num_hearts,num_likes,num_subtasks,parent,parent.created_by,parent.name,parent.resource_subtype,permalink_url,projects,projects.name,resource_subtype,start_at,start_on,tags,tags.name,workspace,workspace.name\", # list[str] | This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.\n}\n\ntry:\n    # Get a task\n    api_response = tasks_api_instance.get_task(task_gid, opts)\n    pprint(api_response)\nexcept ApiException as e:\n    print(\"Exception when calling TasksApi->get_task: %s\\n\" % e)"
          name: python-sdk-v5
        - language: python
          install: pip install asana==3.2.3
          code: 'import asana


            client = asana.Client.access_token(''PERSONAL_ACCESS_TOKEN'')


            result = client.tasks.get_task(task_gid, {''param'': ''value'', ''param'': ''value''}, opt_pretty=True)'
          name: python-sdk-v3
        - language: php
          install: composer require asana/asana
          code: '<?php

            require ''vendor/autoload.php'';


            $client = Asana\Client::accessToken(''PERSONAL_ACCESS_TOKEN'');


            $result = $client->tasks->getTask($task_gid, array(''param'' => ''value'', ''param'' => ''value''), array(''opt_pretty'' => ''true''))'
        - language: ruby
          install: gem install asana
          code: "require 'asana'\n\nclient = Asana::Client.new do |c|\n    c.authentication :access_token, 'PERSONAL_ACCESS_TOKEN'\nend\n\nresult = client.tasks.get_task(task_gid: 'task_gid', param: \"value\", param: \"value\", options: {pretty: true})"
    put:
      summary: Asana Update a task
      description: 'A specific, existing task can be updated by making a PUT request on the

        URL for that task. Only the fields provided in the `data` block will be

        updated; any unspecified fields will remain unchanged.


        When using this method, it is best to specify only those fields you wish

        to change, or else you may overwrite changes made by another user since

        you last retrieved the task.


        Returns the complete updated task record.'
      tags:
      - Tasks
      operationId: updateTask
      parameters:
      - name: opt_fields
        in: query
        description: This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.
        required: false
        example:
        - actual_time_minutes
        - approval_status
        - assignee
        - assignee.name
        - assignee_section
        - assignee_section.name
        - assignee_status
        - completed
        - completed_at
        - completed_by
        - completed_by.name
        - created_at
        - created_by
        - custom_fields
        - custom_fields.asana_created_field
        - custom_fields.created_by
        - custom_fields.created_by.name
        - custom_fields.currency_code
        - custom_fields.custom_label
        - custom_fields.custom_label_position
        - custom_fields.date_value
        - custom_fields.date_value.date
        - custom_fields.date_value.date_time
        - custom_fields.description
        - custom_fields.display_value
        - custom_fields.enabled
        - custom_fields.enum_options
        - custom_fields.enum_options.color
        - custom_fields.enum_options.enabled
        - custom_fields.enum_options.name
        - custom_fields.enum_value
        - custom_fields.enum_value.color
        - custom_fields.enum_value.enabled
        - custom_fields.enum_value.name
        - custom_fields.format
        - custom_fields.has_notifications_enabled
        - custom_fields.id_prefix
        - custom_fields.is_formula_field
        - custom_fields.is_global_to_workspace
        - custom_fields.is_value_read_only
        - custom_fields.multi_enum_values
        - custom_fields.multi_enum_values.color
        - custom_fields.multi_enum_values.enabled
        - custom_fields.multi_enum_values.name
        - custom_fields.name
        - custom_fields.number_value
        - custom_fields.people_value
        - custom_fields.people_value.name
        - custom_fields.precision
        - custom_fields.representation_type
        - custom_fields.resource_subtype
        - custom_fields.text_value
        - custom_fields.type
        - dependencies
        - dependents
        - due_at
        - due_on
        - external
        - external.data
        - followers
        - followers.name
        - hearted
        - hearts
        - hearts.user
        - hearts.user.name
        - html_notes
        - is_rendered_as_separator
        - liked
        - likes
        - likes.user
        - likes.user.name
        - memberships
        - memberships.project
        - memberships.project.name
        - memberships.section
        - memberships.section.name
        - modified_at
        - name
        - notes
        - num_hearts
        - num_likes
        - num_subtasks
        - parent
        - parent.created_by
        - parent.name
        - parent.resource_subtype
        - permalink_url
        - projects
        - projects.name
        - resource_subtype
        - start_at
        - start_on
        - tags
        - tags.name
        - workspace
        - workspace.name
        schema:
          type: array
          items:
            type: string
            enum:
            - actual_time_minutes
            - approval_status
            - assignee
            - assignee.name
            - assignee_section
            - assignee_section.name
            - assignee_status
            - completed
            - completed_at
            - completed_by
            - completed_by.name
            - created_at
            - created_by
            - custom_fields
            - custom_fields.asana_created_field
            - custom_fields.created_by
            - custom_fields.created_by.name
            - custom_fields.currency_code
            - custom_fields.custom_label
            - custom_fields.custom_label_position
            - custom_fields.date_value
            - custom_fields.date_value.date
            - custom_fields.date_value.date_time
            - custom_fields.description
            - custom_fields.display_value
            - custom_fields.enabled
            - custom_fields.enum_options
            - custom_fields.enum_options.color
            - custom_fields.enum_options.enabled
            - custom_fields.enum_options.name
            - custom_fields.enum_value
            - custom_fields.enum_value.color
            - custom_fields.enum_value.enabled
            - custom_fields.enum_value.name
            - custom_fields.format
            - custom_fields.has_notifications_enabled
            - custom_fields.id_prefix
            - custom_fields.is_formula_field
            - custom_fields.is_global_to_workspace
            - custom_fields.is_value_read_only
            - custom_fields.multi_enum_values
            - custom_fields.multi_enum_values.color
            - custom_fields.multi_enum_values.enabled
            - custom_fields.multi_enum_values.name
            - custom_fields.name
            - custom_fields.number_value
            - custom_fields.people_value
            - custom_fields.people_value.name
            - custom_fields.precision
            - custom_fields.representation_type
            - custom_fields.resource_subtype
            - custom_fields.text_value
            - custom_fields.type
            - dependencies
            - dependents
            - due_at
            - due_on
            - external
            - external.data
            - followers
            - followers.name
            - hearted
            - hearts
            - hearts.user
            - hearts.user.name
            - html_notes
            - is_rendered_as_separator
            - liked
            - likes
            - likes.user
            - likes.user.name
            - memberships
            - memberships.project
            - memberships.project.name
            - memberships.section
            - memberships.section.name
            - modified_at
            - name
            - notes
            - num_hearts
            - num_likes
            - num_subtasks
            - parent
            - parent.created_by
            - parent.name
            - parent.resource_subtype
            - permalink_url
            - projects
            - projects.name
            - resource_subtype
            - start_at
            - start_on
            - tags
            - tags.name
            - workspace
            - workspace.name
        style: form
        explode: false
      requestBody:
        description: The task to update.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/TaskRequest'
      responses:
        200:
          description: Successfully updated the specified task.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TaskResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
      security:
      - oauth2:
        - tasks:write
      x-readme:
        code-samples:
        - language: java
          install: <dependency><groupId>com.asana</groupId><artifactId>asana</artifactId><version>1.0.0</version></dependency>
          code: "import com.asana.Client;\n\nClient client = Client.accessToken(\"PERSONAL_ACCESS_TOKEN\");\n\nTask result = client.tasks.updateTask(taskGid)\n    .data(\"field\", \"value\")\n    .data(\"field\", \"value\")\n    .option(\"pretty\", true)\n    .execute();"
        - language: node
          install: npm install asana
          code: "const Asana = require('asana');\n\nlet client = Asana.ApiClient.instance;\nlet token = client.authentications['token'];\ntoken.accessToken = '<YOUR_ACCESS_TOKEN>';\n\nlet tasksApiInstance = new Asana.TasksApi();\nlet body = {\"data\": {\"<PARAM_1>\": \"<VALUE_1>\", \"<PARAM_2>\": \"<VALUE_2>\",}}; // Object | The task to update.\nlet task_gid = \"321654\"; // String | The task to operate on.\nlet opts = { \n    'opt_fields': \"actual_time_minutes,approval_status,assignee,assignee.name,assignee_section,assignee_section.name,assignee_status,completed,completed_at,completed_by,completed_by.name,created_at,created_by,custom_fields,custom_fields.asana_created_field,custom_fields.created_by,custom_fields.created_by.name,custom_fields.currency_code,custom_fields.custom_label,custom_fields.custom_label_position,custom_fields.date_value,custom_fields.date_value.date,custom_fields.date_value.date_time,custom_fields.description,custom_fields.display_value,custom_fields.enabled,custom_fields.enum_options,custom_fields.enum_options.color,custom_fields.enum_options.enabled,custom_fields.enum_options.name,custom_fields.enum_value,custom_fields.enum_value.color,custom_fields.enum_value.enabled,custom_fields.enum_value.name,custom_fields.format,custom_fields.has_notifications_enabled,custom_fields.id_prefix,custom_fields.is_formula_field,custom_fields.is_global_to_workspace,custom_fields.is_value_read_only,custom_fields.multi_enum_values,custom_fields.multi_enum_values.color,custom_fields.multi_enum_values.enabled,custom_fields.multi_enum_values.name,custom_fields.name,custom_fields.number_value,custom_fields.people_value,custom_fields.people_value.name,custom_fields.precision,custom_fields.representation_type,custom_fields.resource_subtype,custom_fields.text_value,custom_fields.type,dependencies,dependents,due_at,due_on,external,external.data,followers,followers.name,hearted,hearts,hearts.user,hearts.user.name,html_notes,is_rendered_as_separator,liked,likes,likes.user,likes.user.name,memberships,memberships.project,memberships.project.name,memberships.section,memberships.section.name,modified_at,name,notes,num_hearts,num_likes,num_subtasks,parent,parent.created_by,parent.name,parent.resource_subtype,permalink_url,projects,projects.name,resource_subtype,start_at,start_on,tags,tags.name,workspace,workspace.name\"\n};\ntasksApiInstance.updateTask(body, task_gid, opts).then((result) => {\n    console.log('API called successfully. Returned data: ' + JSON.stringify(result.data, null, 2));\n}, (error) => {\n    console.error(error.response.body);\n});"
          name: node-sdk-v3
        - language: node
          install: npm install asana@1.0.5
          code: "const asana = require('asana');\n\nconst client = asana.Client.create().useAccessToken('PERSONAL_ACCESS_TOKEN');\n\nclient.tasks.updateTask(taskGid, {field: \"value\", field: \"value\", pretty: true})\n    .then((result) => {\n        console.log(result);\n    });"
          name: node-sdk-v1
        - language: python
          install: pip install asana
          code: "import asana\nfrom asana.rest import ApiException\nfrom pprint import pprint\n\nconfiguration = asana.Configuration()\nconfiguration.access_token = '<YOUR_ACCESS_TOKEN>'\napi_client = asana.ApiClient(configuration)\n\n# create an instance of the API class\ntasks_api_instance = asana.TasksApi(api_client)\nbody = {\"data\": {\"<PARAM_1>\": \"<VALUE_1>\", \"<PARAM_2>\": \"<VALUE_2>\",}} # dict | The task to update.\ntask_gid = \"321654\" # str | The task to operate on.\nopts = {\n    'opt_fields': \"actual_time_minutes,approval_status,assignee,assignee.name,assignee_section,assignee_section.name,assignee_status,completed,completed_at,completed_by,completed_by.name,created_at,created_by,custom_fields,custom_fields.asana_created_field,custom_fields.created_by,custom_fields.created_by.name,custom_fields.currency_code,custom_fields.custom_label,custom_fields.custom_label_position,custom_fields.date_value,custom_fields.date_value.date,custom_fields.date_value.date_time,custom_fields.description,custom_fields.display_value,custom_fields.enabled,custom_fields.enum_options,custom_fields.enum_options.color,custom_fields.enum_options.enabled,custom_fields.enum_options.name,custom_fields.enum_value,custom_fields.enum_value.color,custom_fields.enum_value.enabled,custom_fields.enum_value.name,custom_fields.format,custom_fields.has_notifications_enabled,custom_fields.id_prefix,custom_fields.is_formula_field,custom_fields.is_global_to_workspace,custom_fields.is_value_read_only,custom_fields.multi_enum_values,custom_fields.multi_enum_values.color,custom_fields.multi_enum_values.enabled,custom_fields.multi_enum_values.name,custom_fields.name,custom_fields.number_value,custom_fields.people_value,custom_fields.people_value.name,custom_fields.precision,custom_fields.representation_type,custom_fields.resource_subtype,custom_fields.text_value,custom_fields.type,dependencies,dependents,due_at,due_on,external,external.data,followers,followers.name,hearted,hearts,hearts.user,hearts.user.name,html_notes,is_rendered_as_separator,liked,likes,likes.user,likes.user.name,memberships,memberships.project,memberships.project.name,memberships.section,memberships.section.name,modified_at,name,notes,num_hearts,num_likes,num_subtasks,parent,parent.created_by,parent.name,parent.resource_subtype,permalink_url,projects,projects.name,resource_subtype,start_at,start_on,tags,tags.name,workspace,workspace.name\", # list[str] | This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.\n}\n\ntry:\n    # Update a task\n    api_response = tasks_api_instance.update_task(body, task_gid, opts)\n    pprint(api_response)\nexcept ApiException as e:\n    print(\"Exception when calling TasksApi->update_task: %s\\n\" % e)"
          name: python-sdk-v5
        - language: python
          install: pip install asana==3.2.3
          code: 'import asana


            client = asana.Client.access_token(''PERSONAL_ACCESS_TOKEN'')


            result = client.tasks.update_task(task_gid, {''field'': ''value'', ''field'': ''value''}, opt_pretty=True)'
          name: python-sdk-v3
        - language: php
          install: composer require asana/asana
          code: '<?php

            require ''vendor/autoload.php'';


            $client = Asana\Client::accessToken(''PERSONAL_ACCESS_TOKEN'');


            $result = $client->tasks->updateTask($task_gid, array(''field'' => ''value'', ''field'' => ''value''), array(''opt_pretty'' => ''true''))'
        - language: ruby
          install: gem install asana
          code: "require 'asana'\n\nclient = Asana::Client.new do |c|\n    c.authentication :access_token, 'PERSONAL_ACCESS_TOKEN'\nend\n\nresult = client.tasks.update_task(task_gid: 'task_gid', field: \"value\", field: \"value\", options: {pretty: true})"
    delete:
      summary: Asana Delete a task
      description: 'A specific, existing task can be deleted by making a DELETE request on

        the URL for that task. Deleted tasks go into the “trash” of the user

        making the delete request. Tasks can be recovered from the trash within a

        period of 30 days; afterward they are completely removed from the system.


        Returns an empty data record.'
      tags:
      - Tasks
      operationId: deleteTask
      responses:
        200:
          description: Successfully deleted the specified task.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/EmptyResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
      security:
      - oauth2:
        - tasks:delete
      x-readme:
        code-samples:
        - language: java
          install: <dependency><groupId>com.asana</groupId><artifactId>asana</artifactId><version>1.0.0</version></dependency>
          code: "import com.asana.Client;\n\nClient client = Client.accessToken(\"PERSONAL_ACCESS_TOKEN\");\n\nJsonElement result = client.tasks.deleteTask(taskGid)\n    .option(\"pretty\", true)\n    .execute();"
        - language: node
          install: npm install asana
          code: "const Asana = require('asana');\n\nlet client = Asana.ApiClient.instance;\nlet token = client.authentications['token'];\ntoken.accessToken = '<YOUR_ACCESS_TOKEN>';\n\nlet tasksApiInstance = new Asana.TasksApi();\nlet task_gid = \"321654\"; // String | The task to operate on.\n\ntasksApiInstance.deleteTask(task_gid).then((result) => {\n    console.log('API called successfully. Returned data: ' + JSON.stringify(result.data, null, 2));\n}, (error) => {\n    console.error(error.response.body);\n});"
          name: node-sdk-v3
        - language: node
          install: npm install asana@1.0.5
          code: "const asana = require('asana');\n\nconst client = asana.Client.create().useAccessToken('PERSONAL_ACCESS_TOKEN');\n\nclient.tasks.deleteTask(taskGid)\n    .then((result) => {\n        console.log(result);\n    });"
          name: node-sdk-v1
        - language: python
          install: pip install asana
          code: "import asana\nfrom asana.rest import ApiException\nfrom pprint import pprint\n\nconfiguration = asana.Configuration()\nconfiguration.access_token = '<YOUR_ACCESS_TOKEN>'\napi_client = asana.ApiClient(configuration)\n\n# create an instance of the API class\ntasks_api_instance = asana.TasksApi(api_client)\ntask_gid = \"321654\" # str | The task to operate on.\n\n\ntry:\n    # Delete a task\n    api_response = tasks_api_instance.delete_task(task_gid)\n    pprint(api_response)\nexcept ApiException as e:\n    print(\"Exception when calling TasksApi->delete_task: %s\\n\" % e)"
          name: python-sdk-v5
        - language: python
          install: pip install asana==3.2.3
          code: 'import asana


            client = asana.Client.access_token(''PERSONAL_ACCESS_TOKEN'')


            result = client.tasks.delete_task(task_gid, opt_pretty=True)'
          name: python-sdk-v3
        - language: php
          install: composer require asana/asana
          code: '<?php

            require ''vendor/autoload.php'';


            $client = Asana\Client::accessToken(''PERSONAL_ACCESS_TOKEN'');


            $result = $client->tasks->deleteTask($task_gid, array(''opt_pretty'' => ''true''))'
        - language: ruby
          install: gem install asana
          code: "require 'asana'\n\nclient = Asana::Client.new do |c|\n    c.authentication :access_token, 'PERSONAL_ACCESS_TOKEN'\nend\n\nresult = client.tasks.delete_task(task_gid: 'task_gid', options: {pretty: true})"
  /tasks/{task_gid}/duplicate:
    parameters:
    - $ref: '#/components/parameters/task_path_gid'
    - $ref: '#/components/parameters/pretty'
    post:
      summary: Asana Duplicate a task
      description: Creates and returns a job that will asynchronously handle the duplication.
      tags:
      - Tasks
      operationId: duplicateTask
      parameters:
      - name: opt_fields
        in: query
        description: This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.
        required: false
        example:
        - new_project
        - new_project.name
        - new_project_template
        - new_project_template.name
        - new_task
        - new_task.created_by
        - new_task.name
        - new_task.resource_subtype
        - new_task_template
        - new_task_template.name
        - resource_subtype
        - status
        schema:
          type: array
          items:
            type: string
            enum:
            - new_project
            - new_project.name
            - new_project_template
            - new_project_template.name
            - new_task
            - new_task.created_by
            - new_task.name
            - new_task.resource_subtype
            - new_task_template
            - new_task_template.name
            - resource_subtype
            - status
        style: form
        explode: false
      requestBody:
        description: Describes the duplicate's name and the fields that will be duplicated.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/TaskDuplicateRequest'
      responses:
        201:
          description: Successfully created the job to handle duplication.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/JobResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
      security:
      - oauth2:
        - tasks:write
      x-readme:
        code-samples:
        - language: java
          install: <dependency><groupId>com.asana</groupId><artifactId>asana</artifactId><version>1.0.0</version></dependency>
          code: "import com.asana.Client;\n\nClient client = Client.accessToken(\"PERSONAL_ACCESS_TOKEN\");\n\nJob result = client.tasks.duplicateTask(taskGid)\n    .data(\"field\", \"value\")\n    .data(\"field\", \"value\")\n    .option(\"pretty\", true)\n    .execute();"
        - language: node
          install: npm install asana
          code: "const Asana = require('asana');\n\nlet client = Asana.ApiClient.instance;\nlet token = client.authentications['token'];\ntoken.accessToken = '<YOUR_ACCESS_TOKEN>';\n\nlet tasksApiInstance = new Asana.TasksApi();\nlet body = {\"data\": {\"<PARAM_1>\": \"<VALUE_1>\", \"<PARAM_2>\": \"<VALUE_2>\",}}; // Object | Describes the duplicate's name and the fields that will be duplicated.\nlet task_gid = \"321654\"; // String | The task to operate on.\nlet opts = { \n    'opt_fields': \"new_project,new_project.name,new_project_template,new_project_template.name,new_task,new_task.created_by,new_task.name,new_task.resource_subtype,resource_subtype,status\"\n};\ntasksApiInstance.duplicateTask(body, task_gid, opts).then((result) => {\n    console.log('API called successfully. Returned data: ' + JSON.stringify(result.data, null, 2));\n}, (error) => {\n    console.error(error.response.body);\n});"
          name: node-sdk-v3
        - language: node
          install: npm install asana@1.0.5
          code: "const asana = require('asana');\n\nconst client = asana.Client.create().useAccessToken('PERSONAL_ACCESS_TOKEN');\n\nclient.tasks.duplicateTask(taskGid, {field: \"value\", field: \"value\", pretty: true})\n    .then((result) => {\n        console.log(result);\n    });"
          name: node-sdk-v1
        - language: python
          install: pip install asana
          code: "import asana\nfrom asana.rest import ApiException\nfrom pprint import pprint\n\nconfiguration = asana.Configuration()\nconfiguration.access_token = '<YOUR_ACCESS_TOKEN>'\napi_client = asana.ApiClient(configuration)\n\n# create an instance of the API class\ntasks_api_instance = asana.TasksApi(api_client)\nbody = {\"data\": {\"<PARAM_1>\": \"<VALUE_1>\", \"<PARAM_2>\": \"<VALUE_2>\",}} # dict | Describes the duplicate's name and the fields that will be duplicated.\ntask_gid = \"321654\" # str | The task to operate on.\nopts = {\n    'opt_fields': \"new_project,new_project.name,new_project_template,new_project_template.name,new_task,new_task.created_by,new_task.name,new_task.resource_subtype,resource_subtype,status\", # list[str] | This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.\n}\n\ntry:\n    # Duplicate a task\n    api_response = tasks_api_instance.duplicate_task(body, task_gid, opts)\n    pprint(api_response)\nexcept ApiException as e:\n    print(\"Exception when calling TasksApi->duplicate_task: %s\\n\" % e)"
          name: python-sdk-v5
        - language: python
          install: pip install asana==3.2.3
          code: 'import asana


            client = asana.Client.access_token(''PERSONAL_ACCESS_TOKEN'')


            result = client.tasks.duplicate_task(task_gid, {''field'': ''value'', ''field'': ''value''}, opt_pretty=True)'
          name: python-sdk-v3
        - language: php
          install: composer require asana/asana
          code: '<?php

            require ''vendor/autoload.php'';


            $client = Asana\Client::accessToken(''PERSONAL_ACCESS_TOKEN'');


            $result = $client->tasks->duplicateTask($task_gid, array(''field'' => ''value'', ''field'' => ''value''), array(''opt_pretty'' => ''true''))'
        - language: ruby
          install: gem install asana
          code: "require 'asana'\n\nclient = Asana::Client.new do |c|\n    c.authentication :access_token, 'PERSONAL_ACCESS_TOKEN'\nend\n\nresult = client.tasks.duplicate_task(task_gid: 'task_gid', field: \"value\", field: \"value\", options: {pretty: true})"
  /projects/{project_gid}/tasks:
    parameters:
    - $ref: '#/components/parameters/completed_since'
    - $ref: '#/components/parameters/project_path_gid'
    - $ref: '#/components/parameters/pretty'
    - $ref: '#/components/parameters/limit'
    - $ref: '#/components/parameters/offset'
    get:
      summary: Asana Get tasks from a project
      description: Returns the compact task records for all tasks within the given project, ordered by their priority within the project. Tasks can exist in more than one project at a time.
      tags:
      - Tasks
      operationId: getTasksForProject
      parameters:
      - name: opt_fields
        in: query
        description: This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.
        required: false
        example:
        - actual_time_minutes
        - approval_status
        - assignee
        - assignee.name
        - assignee_section
        - assignee_section.name
        - assignee_status
        - completed
        - completed_at
        - completed_by
        - completed_by.name
        - created_at
        - created_by
        - custom_fields
        - custom_fields.asana_created_field
        - custom_fields.created_by
        - custom_fields.created_by.name
        - custom_fields.currency_code
        - custom_fields.custom_label
        - custom_fields.custom_label_position
        - custom_fields.date_value
        - custom_fields.date_value.date
        - custom_fields.date_value.date_time
        - custom_fields.description
        - custom_fields.display_value
        - custom_fields.enabled
        - custom_fields.enum_options
        - custom_fields.enum_options.color
        - custom_fields.enum_options.enabled
        - custom_fields.enum_options.name
        - custom_fields.enum_value
        - custom_fields.enum_value.color
        - custom_fields.enum_value.enabled
        - custom_fields.enum_value.name
        - custom_fields.format
        - custom_fields.has_notifications_enabled
        - custom_fields.id_prefix
        - custom_fields.is_formula_field
        - custom_fields.is_global_to_workspace
        - custom_fields.is_value_read_only
        - custom_fields.multi_enum_values
        - custom_fields.multi_enum_values.color
        - custom_fields.multi_enum_values.enabled
        - custom_fields.multi_enum_values.name
        - custom_fields.name
        - custom_fields.number_value
        - custom_fields.people_value
        - custom_fields.people_value.name
        - custom_fields.precision
        - custom_fields.representation_type
        - custom_fields.resource_subtype
        - custom_fields.text_value
        - custom_fields.type
        - dependencies
        - dependents
        - due_at
        - due_on
        - external
        - external.data
        - followers
        - followers.name
        - hearted
        - hearts
        - hearts.user
        - hearts.user.name
        - html_notes
        - is_rendered_as_separator
        - liked
        - likes
        - likes.user
        - likes.user.name
        - memberships
        - memberships.project
        - memberships.project.name
        - memberships.section
        - memberships.section.name
        - modified_at
        - name
        - notes
        - num_hearts
        - num_likes
        - num_subtasks
        - offset
        - parent
        - parent.created_by
        - parent.name
        - parent.resource_subtype
        - path
        - permalink_url
        - projects
        - projects.name
        - resource_subtype
        - start_at
        - start_on
        - tags
        - tags.name
        - uri
        - workspace
        - workspace.name
        schema:
          type: array
          items:
            type: string
            enum:
            - actual_time_minutes
            - approval_status
            - assignee
            - assignee.name
            - assignee_section
            - assignee_section.name
            - assignee_status
            - completed
            - completed_at
            - completed_by
            - completed_by.name
            - created_at
            - created_by
            - custom_fields
            - custom_fields.asana_created_field
            - custom_fields.created_by
            - custom_fields.created_by.name
            - custom_fields.currency_code
            - custom_fields.custom_label
            - custom_fields.custom_label_position
            - custom_fields.date_value
            - custom_fields.date_value.date
            - custom_fields.date_value.date_time
            - custom_fields.description
            - custom_fields.display_value
            - custom_fields.enabled
            - custom_fields.enum_options
            - custom_fields.enum_options.color
            - custom_fields.enum_options.enabled
            - custom_fields.enum_options.name
            - custom_fields.enum_value
            - custom_fields.enum_value.color
            - custom_fields.enum_value.enabled
            - custom_fields.enum_value.name
            - custom_fields.format
            - custom_fields.has_notifications_enabled
            - custom_fields.id_prefix
            - custom_fields.is_formula_field
            - custom_fields.is_global_to_workspace
            - custom_fields.is_value_read_only
            - custom_fields.multi_enum_values
            - custom_fields.multi_enum_values.color
            - custom_fields.multi_enum_values.enabled
            - custom_fields.multi_enum_values.name
            - custom_fields.name
            - custom_fields.number_value
            - custom_fields.people_value
            - custom_fields.people_value.name
            - custom_fields.precision
            - custom_fields.representation_type
            - custom_fields.resource_subtype
            - custom_fields.text_value
            - custom_fields.type
            - dependencies
            - dependents
            - due_at
            - due_on
            - external
            - external.data
            - followers
            - followers.name
            - hearted
            - hearts
            - hearts.user
            - hearts.user.name
            - html_notes
            - is_rendered_as_separator
            - liked
            - likes
            - likes.user
            - likes.user.name
            - memberships
            - memberships.project
            - memberships.project.name
            - memberships.section
            - memberships.section.name
            - modified_at
            - name
            - notes
            - num_hearts
            - num_likes
            - num_subtasks
            - offset
            - parent
            - parent.created_by
            - parent.name
            - parent.resource_subtype
            - path
            - permalink_url
            - projects
            - projects.name
            - resource_subtype
            - start_at
            - start_on
            - tags
            - tags.name
            - uri
            - workspace
            - workspace.name
        style: form
        explode: false
      responses:
        200:
          description: Successfully retrieved the requested project's tasks.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TaskCompact'
                  next_page:
                    $ref: '#/components/schemas/NextPage'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
      security:
      - oauth2:
        - tasks:read
      x-readme:
        code-samples:
        - language: java
          install: <dependency><groupId>com.asana</groupId><artifactId>asana</artifactId><version>1.0.0</version></dependency>
          code: "import com.asana.Client;\n\nClient client = Client.accessToken(\"PERSONAL_ACCESS_TOKEN\");\n\nList<Task> result = client.tasks.getTasksForProject(projectGid, completedSince)\n    .option(\"pretty\", true)\n    .execute();"
        - language: node
          install: npm install asana
          code: "const Asana = require('asana');\n\nlet client = Asana.ApiClient.instance;\nlet token = client.authentications['token'];\ntoken.accessToken = '<YOUR_ACCESS_TOKEN>';\n\nlet tasksApiInstance = new Asana.TasksApi();\nlet project_gid = \"1331\"; // String | Globally unique identifier for the project.\nlet opts = { \n    'completed_since': \"2012-02-22T02:06:58.158Z\", \n    'limit': 50, \n    'offset': \"eyJ0eXAiOJiKV1iQLCJhbGciOiJIUzI1NiJ9\", \n    'opt_fields': \"actual_time_minutes,approval_status,assignee,assignee.name,assignee_section,assignee_section.name,assignee_status,completed,completed_at,completed_by,completed_by.name,created_at,created_by,custom_fields,custom_fields.asana_created_field,custom_fields.created_by,custom_fields.created_by.name,custom_fields.currency_code,custom_fields.custom_label,custom_fields.custom_label_position,custom_fields.date_value,custom_fields.date_value.date,custom_fields.date_value.date_time,custom_fields.description,custom_fields.display_value,custom_fields.enabled,custom_fields.enum_options,custom_fields.enum_options.color,custom_fields.enum_options.enabled,custom_fields.enum_options.name,custom_fields.enum_value,custom_fields.enum_value.color,custom_fields.enum_value.enabled,custom_fields.enum_value.name,custom_fields.format,custom_fields.has_notifications_enabled,custom_fields.id_prefix,custom_fields.is_formula_field,custom_fields.is_global_to_workspace,custom_fields.is_value_read_only,custom_fields.multi_enum_values,custom_fields.multi_enum_values.color,custom_fields.multi_enum_values.enabled,custom_fields.multi_enum_values.name,custom_fields.name,custom_fields.number_value,custom_fields.people_value,custom_fields.people_value.name,custom_fields.precision,custom_fields.representation_type,custom_fields.resource_subtype,custom_fields.text_value,custom_fields.type,dependencies,dependents,due_at,due_on,external,external.data,followers,followers.name,hearted,hearts,hearts.user,hearts.user.name,html_notes,is_rendered_as_separator,liked,likes,likes.user,likes.user.name,memberships,memberships.project,memberships.project.name,memberships.section,memberships.section.name,modified_at,name,notes,num_hearts,num_likes,num_subtasks,offset,parent,parent.created_by,parent.name,parent.resource_subtype,path,permalink_url,projects,projects.name,resource_subtype,start_at,start_on,tags,tags.name,uri,workspace,workspace.name\"\n};\ntasksApiInstance.getTasksForProject(project_gid, opts).then((result) => {\n    console.log('API called successfully. Returned data: ' + JSON.stringify(result.data, null, 2));\n}, (error) => {\n    console.error(error.response.body);\n});"
          name: node-sdk-v3
        - language: node
          install: npm install asana@1.0.5
          code: "const asana = require('asana');\n\nconst client = asana.Client.create().useAccessToken('PERSONAL_ACCESS_TOKEN');\n\nclient.tasks.getTasksForProject(projectGid, {param: \"value\", param: \"value\", opt_pretty: true})\n    .then((result) => {\n        console.log(result);\n    });"
          name: node-sdk-v1
        - language: python
          install: pip install asana
          code: "import asana\nfrom asana.rest import ApiException\nfrom pprint import pprint\n\nconfiguration = asana.Configuration()\nconfiguration.access_token = '<YOUR_ACCESS_TOKEN>'\napi_client = asana.ApiClient(configuration)\n\n# create an instance of the API class\ntasks_api_instance = asana.TasksApi(api_client)\nproject_gid = \"1331\" # str | Globally unique identifier for the project.\nopts = {\n    'completed_since': \"2012-02-22T02:06:58.158Z\", # str | Only return tasks that are either incomplete or that have been completed since this time. Accepts a date-time string or the keyword *now*. \n    'limit': 50, # int | Results per page. The number of objects to return per page. The value must be between 1 and 100.\n    'offset': \"eyJ0eXAiOJiKV1iQLCJhbGciOiJIUzI1NiJ9\", # str | Offset token. An offset to the next page returned by the API. A pagination request will return an offset token, which can be used as an input parameter to the next request. If an offset is not passed in, the API will return the first page of results. *Note: You can only pass in an offset that was returned to you via a previously paginated request.*\n    'opt_fields': \"actual_time_minutes,approval_status,assignee,assignee.name,assignee_section,assignee_section.name,assignee_status,completed,completed_at,completed_by,completed_by.name,created_at,created_by,custom_fields,custom_fields.asana_created_field,custom_fields.created_by,custom_fields.created_by.name,custom_fields.currency_code,custom_fields.custom_label,custom_fields.custom_label_position,custom_fields.date_value,custom_fields.date_value.date,custom_fields.date_value.date_time,custom_fields.description,custom_fields.display_value,custom_fields.enabled,custom_fields.enum_options,custom_fields.enum_options.color,custom_fields.enum_options.enabled,custom_fields.enum_options.name,custom_fields.enum_value,custom_fields.enum_value.color,custom_fields.enum_value.enabled,custom_fields.enum_value.name,custom_fields.format,custom_fields.has_notifications_enabled,custom_fields.id_prefix,custom_fields.is_formula_field,custom_fields.is_global_to_workspace,custom_fields.is_value_read_only,custom_fields.multi_enum_values,custom_fields.multi_enum_values.color,custom_fields.multi_enum_values.enabled,custom_fields.multi_enum_values.name,custom_fields.name,custom_fields.number_value,custom_fields.people_value,custom_fields.people_value.name,custom_fields.precision,custom_fields.representation_type,custom_fields.resource_subtype,custom_fields.text_value,custom_fields.type,dependencies,dependents,due_at,due_on,external,external.data,followers,followers.name,hearted,hearts,hearts.user,hearts.user.name,html_notes,is_rendered_as_separator,liked,likes,likes.user,likes.user.name,memberships,memberships.project,memberships.project.name,memberships.section,memberships.section.name,modified_at,name,notes,num_hearts,num_likes,num_subtasks,offset,parent,parent.created_by,parent.name,parent.resource_subtype,path,permalink_url,projects,projects.name,resource_subtype,start_at,start_on,tags,tags.name,uri,workspace,workspace.name\", # list[str] | This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.\n}\n\ntry:\n    # Get tasks from a project\n    api_response = tasks_api_instance.get_tasks_for_project(project_gid, opts)\n    for data in api_response:\n        pprint(data)\nexcept ApiException as e:\n    print(\"Exception when calling TasksApi->get_tasks_for_project: %s\\n\" % e)"
          name: python-sdk-v5
        - language: python
          install: pip install asana==3.2.3
          code: 'import asana


            client = asana.Client.access_token(''PERSONAL_ACCESS_TOKEN'')


            result = client.tasks.get_tasks_for_project(project_gid, {''param'': ''value'', ''param'': ''value''}, opt_pretty=True)'
          name: python-sdk-v3
        - language: php
[...]
