openapi: 3.1.0
info:
  title: Asana Allocations Task Templates API
  description: The Asana Allocations API allows users to manage and allocate resources within their Asana project management system. An allocation object represents how much of a resource (e.g. person, team) is dedicated to a specific work object (e.g. project, portfolio) over a specific period of time. The effort value can be a percentage or number of hours.
  version: '1.0'
  termsOfService: https://asana.com/terms
  contact:
    name: Asana Support
    url: https://asana.com/support
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://app.asana.com/api/1.0
  description: Main endpoint.
security:
- personalAccessToken: []
- oauth2: []
tags:
- name: Task Templates
  description: 'A task template is an object that allows new tasks to be created with a predefined setup, which may include followers, dependencies, custom fields, etc. It simplifies the process of running a workflow that involves a similar set of work every time.

    Task templates are contained within a single project.'
paths:
  /task_templates:
    parameters:
    - $ref: '#/components/parameters/pretty'
    get:
      summary: Asana Get multiple task templates
      description: Returns the compact task template records for some filtered set of task templates. You must specify a `project`
      tags:
      - Task Templates
      operationId: getTaskTemplates
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - name: project
        in: query
        description: The project to filter task templates on.
        schema:
          type: string
        example: '321654'
        x-env-variable: project
      - name: opt_fields
        in: query
        description: This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.
        required: false
        example:
        - created_at
        - created_by
        - name
        - project
        - template
        schema:
          type: array
          items:
            type: string
            enum:
            - created_at
            - created_by
            - name
            - project
            - template
        style: form
        explode: false
      responses:
        200:
          description: Successfully retrieved requested task templates
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TaskTemplateCompact'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
      x-readme:
        code-samples:
        - language: node
          install: npm install asana
          code: "const Asana = require('asana');\n\nlet client = Asana.ApiClient.instance;\nlet token = client.authentications['token'];\ntoken.accessToken = '<YOUR_ACCESS_TOKEN>';\n\nlet taskTemplatesApiInstance = new Asana.TaskTemplatesApi();\nlet opts = { \n    'limit': 50, \n    'offset': \"eyJ0eXAiOJiKV1iQLCJhbGciOiJIUzI1NiJ9\", \n    'project': \"321654\", \n    'opt_fields': \"created_at,created_by,name,project,template\"\n};\ntaskTemplatesApiInstance.getTaskTemplates(opts).then((result) => {\n    console.log('API called successfully. Returned data: ' + JSON.stringify(result.data, null, 2));\n}, (error) => {\n    console.error(error.response.body);\n});"
          name: node-sdk-v3
        - language: node
          install: npm install asana@1.0.5
          code: "const asana = require('asana');\n\nconst client = asana.Client.create().useAccessToken('PERSONAL_ACCESS_TOKEN');\n\nclient.tasktemplates.getTaskTemplates({param: \"value\", param: \"value\", opt_pretty: true})\n    .then((result) => {\n        console.log(result);\n    });"
          name: node-sdk-v1
        - language: python
          install: pip install asana
          code: "import asana\nfrom asana.rest import ApiException\nfrom pprint import pprint\n\nconfiguration = asana.Configuration()\nconfiguration.access_token = '<YOUR_ACCESS_TOKEN>'\napi_client = asana.ApiClient(configuration)\n\n# create an instance of the API class\ntask_templates_api_instance = asana.TaskTemplatesApi(api_client)\nopts = {\n    'limit': 50, # int | Results per page. The number of objects to return per page. The value must be between 1 and 100.\n    'offset': \"eyJ0eXAiOJiKV1iQLCJhbGciOiJIUzI1NiJ9\", # str | Offset token. An offset to the next page returned by the API. A pagination request will return an offset token, which can be used as an input parameter to the next request. If an offset is not passed in, the API will return the first page of results. *Note: You can only pass in an offset that was returned to you via a previously paginated request.*\n    'project': \"321654\", # str | The project to filter task templates on.\n    'opt_fields': \"created_at,created_by,name,project,template\", # list[str] | This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.\n}\n\ntry:\n    # Get multiple task templates\n    api_response = task_templates_api_instance.get_task_templates(opts)\n    for data in api_response:\n        pprint(data)\nexcept ApiException as e:\n    print(\"Exception when calling TaskTemplatesApi->get_task_templates: %s\\n\" % e)"
          name: python-sdk-v5
        - language: python
          install: pip install asana==3.2.3
          code: 'import asana


            client = asana.Client.access_token(''PERSONAL_ACCESS_TOKEN'')


            result = client.task_templates.get_task_templates({''param'': ''value'', ''param'': ''value''}, opt_pretty=True)'
          name: python-sdk-v3
  /task_templates/{task_template_gid}:
    parameters:
    - $ref: '#/components/parameters/task_template_path_gid'
    - $ref: '#/components/parameters/pretty'
    get:
      summary: Asana Get a task template
      description: Returns the complete task template record for a single task template.
      tags:
      - Task Templates
      operationId: getTaskTemplate
      parameters:
      - name: opt_fields
        in: query
        description: This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.
        required: false
        example:
        - created_at
        - created_by
        - name
        - project
        - template
        schema:
          type: array
          items:
            type: string
            enum:
            - created_at
            - created_by
            - name
            - project
            - template
        style: form
        explode: false
      responses:
        200:
          description: Successfully retrieved requested task template
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TaskTemplateResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
      x-readme:
        code-samples:
        - language: node
          install: npm install asana
          code: "const Asana = require('asana');\n\nlet client = Asana.ApiClient.instance;\nlet token = client.authentications['token'];\ntoken.accessToken = '<YOUR_ACCESS_TOKEN>';\n\nlet taskTemplatesApiInstance = new Asana.TaskTemplatesApi();\nlet task_template_gid = \"1331\"; // String | Globally unique identifier for the task template.\nlet opts = { \n    'opt_fields': \"created_at,created_by,name,project,template\"\n};\ntaskTemplatesApiInstance.getTaskTemplate(task_template_gid, opts).then((result) => {\n    console.log('API called successfully. Returned data: ' + JSON.stringify(result.data, null, 2));\n}, (error) => {\n    console.error(error.response.body);\n});"
          name: node-sdk-v3
        - language: node
          install: npm install asana@1.0.5
          code: "const asana = require('asana');\n\nconst client = asana.Client.create().useAccessToken('PERSONAL_ACCESS_TOKEN');\n\nclient.tasktemplates.getTaskTemplate(taskTemplateGid, {param: \"value\", param: \"value\", opt_pretty: true})\n    .then((result) => {\n        console.log(result);\n    });"
          name: node-sdk-v1
        - language: python
          install: pip install asana
          code: "import asana\nfrom asana.rest import ApiException\nfrom pprint import pprint\n\nconfiguration = asana.Configuration()\nconfiguration.access_token = '<YOUR_ACCESS_TOKEN>'\napi_client = asana.ApiClient(configuration)\n\n# create an instance of the API class\ntask_templates_api_instance = asana.TaskTemplatesApi(api_client)\ntask_template_gid = \"1331\" # str | Globally unique identifier for the task template.\nopts = {\n    'opt_fields': \"created_at,created_by,name,project,template\", # list[str] | This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.\n}\n\ntry:\n    # Get a task template\n    api_response = task_templates_api_instance.get_task_template(task_template_gid, opts)\n    pprint(api_response)\nexcept ApiException as e:\n    print(\"Exception when calling TaskTemplatesApi->get_task_template: %s\\n\" % e)"
          name: python-sdk-v5
        - language: python
          install: pip install asana==3.2.3
          code: 'import asana


            client = asana.Client.access_token(''PERSONAL_ACCESS_TOKEN'')


            result = client.task_templates.get_task_template(task_template_gid, {''param'': ''value'', ''param'': ''value''}, opt_pretty=True)'
          name: python-sdk-v3
    delete:
      summary: Asana Delete a task template
      description: A specific, existing task template can be deleted by making a DELETE request on the URL for that task template. Returns an empty data record.
      tags:
      - Task Templates
      operationId: deleteTaskTemplate
      responses:
        200:
          description: Successfully deleted the specified task template.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/EmptyResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        402:
          $ref: '#/components/responses/PaymentRequired'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
      x-readme:
        code-samples:
        - language: node
          install: npm install asana
          code: "const Asana = require('asana');\n\nlet client = Asana.ApiClient.instance;\nlet token = client.authentications['token'];\ntoken.accessToken = '<YOUR_ACCESS_TOKEN>';\n\nlet taskTemplatesApiInstance = new Asana.TaskTemplatesApi();\nlet task_template_gid = \"1331\"; // String | Globally unique identifier for the task template.\n\ntaskTemplatesApiInstance.deleteTaskTemplate(task_template_gid).then((result) => {\n    console.log('API called successfully. Returned data: ' + JSON.stringify(result.data, null, 2));\n}, (error) => {\n    console.error(error.response.body);\n});"
          name: node-sdk-v3
        - language: node
          install: npm install asana@1.0.5
          code: "const asana = require('asana');\n\nconst client = asana.Client.create().useAccessToken('PERSONAL_ACCESS_TOKEN');\n\nclient.tasktemplates.deleteTaskTemplate(taskTemplateGid)\n    .then((result) => {\n        console.log(result);\n    });"
          name: node-sdk-v1
        - language: python
          install: pip install asana
          code: "import asana\nfrom asana.rest import ApiException\nfrom pprint import pprint\n\nconfiguration = asana.Configuration()\nconfiguration.access_token = '<YOUR_ACCESS_TOKEN>'\napi_client = asana.ApiClient(configuration)\n\n# create an instance of the API class\ntask_templates_api_instance = asana.TaskTemplatesApi(api_client)\ntask_template_gid = \"1331\" # str | Globally unique identifier for the task template.\n\n\ntry:\n    # Delete a task template\n    api_response = task_templates_api_instance.delete_task_template(task_template_gid)\n    pprint(api_response)\nexcept ApiException as e:\n    print(\"Exception when calling TaskTemplatesApi->delete_task_template: %s\\n\" % e)"
          name: python-sdk-v5
        - language: python
          install: pip install asana==3.2.3
          code: 'import asana


            client = asana.Client.access_token(''PERSONAL_ACCESS_TOKEN'')


            result = client.task_templates.delete_task_template(task_template_gid, opt_pretty=True)'
          name: python-sdk-v3
  /task_templates/{task_template_gid}/instantiateTask:
    parameters:
    - $ref: '#/components/parameters/task_template_path_gid'
    - $ref: '#/components/parameters/pretty'
    post:
      summary: Asana Instantiate a task from a task template
      description: Creates and returns a job that will asynchronously handle the task instantiation.
      tags:
      - Task Templates
      operationId: instantiateTask
      parameters:
      - name: opt_fields
        in: query
        description: This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.
        required: false
        example:
        - new_project
        - new_project.name
        - new_project_template
        - new_project_template.name
        - new_task
        - new_task.created_by
        - new_task.name
        - new_task.resource_subtype
        - new_task_template
        - new_task_template.name
        - resource_subtype
        - status
        schema:
          type: array
          items:
            type: string
            enum:
            - new_project
            - new_project.name
            - new_project_template
            - new_project_template.name
            - new_task
            - new_task.created_by
            - new_task.name
            - new_task.resource_subtype
            - new_task_template
            - new_task_template.name
            - resource_subtype
            - status
        style: form
        explode: false
      requestBody:
        description: Describes the inputs used for instantiating a task - the task's name.
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/TaskTemplateInstantiateTaskRequest'
      responses:
        201:
          description: Successfully created the job to handle task instantiation.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/JobResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        403:
          $ref: '#/components/responses/Forbidden'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/InternalServerError'
      x-readme:
        code-samples:
        - language: node
          install: npm install asana
          code: "const Asana = require('asana');\n\nlet client = Asana.ApiClient.instance;\nlet token = client.authentications['token'];\ntoken.accessToken = '<YOUR_ACCESS_TOKEN>';\n\nlet taskTemplatesApiInstance = new Asana.TaskTemplatesApi();\nlet task_template_gid = \"1331\"; // String | Globally unique identifier for the task template.\nlet opts = { \n    'body': {\"data\": {\"<PARAM_1>\": \"<VALUE_1>\", \"<PARAM_2>\": \"<VALUE_2>\",}}, \n    'opt_fields': \"new_project,new_project.name,new_project_template,new_project_template.name,new_task,new_task.created_by,new_task.name,new_task.resource_subtype,resource_subtype,status\"\n};\ntaskTemplatesApiInstance.instantiateTask(task_template_gid, opts).then((result) => {\n    console.log('API called successfully. Returned data: ' + JSON.stringify(result.data, null, 2));\n}, (error) => {\n    console.error(error.response.body);\n});"
          name: node-sdk-v3
        - language: node
          install: npm install asana@1.0.5
          code: "const asana = require('asana');\n\nconst client = asana.Client.create().useAccessToken('PERSONAL_ACCESS_TOKEN');\n\nclient.tasktemplates.instantiateTask(taskTemplateGid, {field: \"value\", field: \"value\", pretty: true})\n    .then((result) => {\n        console.log(result);\n    });"
          name: node-sdk-v1
        - language: python
          install: pip install asana
          code: "import asana\nfrom asana.rest import ApiException\nfrom pprint import pprint\n\nconfiguration = asana.Configuration()\nconfiguration.access_token = '<YOUR_ACCESS_TOKEN>'\napi_client = asana.ApiClient(configuration)\n\n# create an instance of the API class\ntask_templates_api_instance = asana.TaskTemplatesApi(api_client)\ntask_template_gid = \"1331\" # str | Globally unique identifier for the task template.\nopts = {\n    'body': {\"data\": {\"<PARAM_1>\": \"<VALUE_1>\", \"<PARAM_2>\": \"<VALUE_2>\",}}, # dict | Describes the inputs used for instantiating a task - the task's name.\n    'opt_fields': \"new_project,new_project.name,new_project_template,new_project_template.name,new_task,new_task.created_by,new_task.name,new_task.resource_subtype,resource_subtype,status\", # list[str] | This endpoint returns a compact resource, which excludes some properties by default. To include those optional properties, set this query parameter to a comma-separated list of the properties you wish to include.\n}\n\ntry:\n    # Instantiate a task from a task template\n    api_response = task_templates_api_instance.instantiate_task(task_template_gid, opts)\n    pprint(api_response)\nexcept ApiException as e:\n    print(\"Exception when calling TaskTemplatesApi->instantiate_task: %s\\n\" % e)"
          name: python-sdk-v5
        - language: python
          install: pip install asana==3.2.3
          code: 'import asana


            client = asana.Client.access_token(''PERSONAL_ACCESS_TOKEN'')


            result = client.task_templates.instantiate_task(task_template_gid, {''field'': ''value'', ''field'': ''value''}, opt_pretty=True)'
          name: python-sdk-v3
components:
  schemas:
    EmptyResponse:
      type: object
      description: An empty object. Some endpoints do not return an object on success. The success is conveyed through a 2-- status code and returning an empty object.
    TaskTemplateInstantiateTaskRequest:
      type: object
      properties:
        name:
          description: The name of the new task. If not provided, the name of the task template will be used.
          type: string
          example: New Task
    UserCompact:
      description: A *user* object represents an account in Asana that can be given access to various workspaces, projects, and tasks.
      type: object
      properties:
        gid:
          description: Globally unique identifier of the resource, as a string.
          type: string
          readOnly: true
          example: '12345'
          x-insert-after: false
        resource_type:
          description: The base type of this resource.
          type: string
          readOnly: true
          example: user
          x-insert-after: gid
        name:
          type: string
          description: '*Read-only except when same user as requester*. The user’s name.'
          example: Greg Sanchez
    Error:
      type: object
      properties:
        message:
          type: string
          readOnly: true
          description: Message providing more detail about the error that occurred, if available.
          example: 'project: Missing input'
        help:
          type: string
          readOnly: true
          description: Additional information directing developers to resources on how to address and fix the problem, if available.
          example: 'For more information on API status codes and how to handle them, read the docs on errors: https://asana.github.io/developer-docs/#errors'''
        phrase:
          type: string
          readOnly: true
          description: '*500 errors only*. A unique error phrase which can be used when contacting developer support to help identify the exact occurrence of the problem in Asana’s logs.'
          example: 6 sad squid snuggle softly
    TaskTemplateRecipeCompact:
      type: object
      properties:
        name:
          description: Name of the task that will be created from this template.
          type: string
          example: Bug Report
        task_resource_subtype:
          type: string
          description: The subtype of the task that will be created from this template.
          enum:
          - default_task
          - milestone_task
          - approval_task
          example: default_task
    ErrorResponse:
      description: 'Sadly, sometimes requests to the API are not successful. Failures can

        occur for a wide range of reasons. In all cases, the API should return

        an HTTP Status Code that indicates the nature of the failure,

        with a response body in JSON format containing additional information.



        In the event of a server error the response body will contain an error

        phrase. These phrases are automatically generated using the

        [node-asana-phrase

        library](https://github.com/Asana/node-asana-phrase) and can be used by

        Asana support to quickly look up the incident that caused the server

        error.'
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    ProjectCompact:
      description: A *project* represents a prioritized list of tasks in Asana or a board with columns of tasks represented as cards. It exists in a single workspace or organization and is accessible to a subset of users in that workspace or organization, depending on its permissions.
      type: object
      properties:
        gid:
          description: Globally unique identifier of the resource, as a string.
          type: string
          readOnly: true
          example: '12345'
          x-insert-after: false
        resource_type:
          description: The base type of this resource.
          type: string
          readOnly: true
          example: project
          x-insert-after: gid
        name:
          description: Name of the project. This is generally a short sentence fragment that fits on a line in the UI for maximum readability. However, it can be longer.
          type: string
          example: Stuff to buy
    EnumOption:
      description: 'Enum options are the possible values which an enum custom field can adopt. An enum custom field must contain at least 1 enum option but no more than 500.


        You can add enum options to a custom field by using the `POST /custom_fields/custom_field_gid/enum_options` endpoint.


        **It is not possible to remove or delete an enum option**. Instead, enum options can be disabled by updating the `enabled` field to false with the `PUT /enum_options/enum_option_gid` endpoint. Other attributes can be updated similarly.


        On creation of an enum option, `enabled` is always set to `true`, meaning the enum option is a selectable value for the custom field. Setting `enabled=false` is equivalent to “trashing” the enum option in the Asana web app within the “Edit Fields” dialog. The enum option will no longer be selectable but, if the enum option value was previously set within a task, the task will retain the value.


        Enum options are an ordered list and by default new enum options are inserted at the end. Ordering in relation to existing enum options can be specified on creation by using `insert_before` or `insert_after` to reference an existing enum option. Only one of `insert_before` and `insert_after` can be provided when creating a new enum option.


        An enum options list can be reordered with the `POST /custom_fields/custom_field_gid/enum_options/insert` endpoint.'
      type: object
      properties:
        gid:
          description: Globally unique identifier of the resource, as a string.
          type: string
          readOnly: true
          example: '12345'
          x-insert-after: false
        resource_type:
          description: The base type of this resource.
          type: string
          readOnly: true
          example: enum_option
          x-insert-after: gid
        name:
          description: The name of the enum option.
          type: string
          example: Low
        enabled:
          description: Whether or not the enum option is a selectable value for the custom field.
          type: boolean
          example: true
        color:
          description: The color of the enum option. Defaults to ‘none’.
          type: string
          example: blue
    ProjectTemplateCompact:
      description: A *project template* is an object that allows new projects to be created with a predefined setup, which may include tasks, sections, Rules, etc. It simplifies the process of running a workflow that involves a similar set of work every time.
      type: object
      properties:
        gid:
          description: Globally unique identifier of the resource, as a string.
          type: string
          readOnly: true
          example: '12345'
          x-insert-after: false
        resource_type:
          description: The base type of this resource.
          type: string
          readOnly: true
          example: project_template
          x-insert-after: gid
        name:
          description: Name of the project template.
          type: string
          example: Packing list
    JobResponse:
      $ref: '#/components/schemas/JobBase'
    JobBase:
      $ref: '#/components/schemas/JobCompact'
    CustomFieldCompact:
      description: 'Custom Fields store the metadata that is used in order to add user-specified information to tasks in Asana. Be sure to reference the [custom fields](/reference/custom-fields) developer documentation for more information about how custom fields relate to various resources in Asana.


        Users in Asana can [lock custom fields](https://asana.com/guide/help/premium/custom-fields#gl-lock-fields), which will make them read-only when accessed by other users. Attempting to edit a locked custom field will return HTTP error code `403 Forbidden`.'
      type: object
      properties:
        gid:
          description: Globally unique identifier of the resource, as a string.
          type: string
          readOnly: true
          example: '12345'
          x-insert-after: false
        resource_type:
          description: The base type of this resource.
          type: string
          readOnly: true
          example: custom_field
          x-insert-after: gid
        name:
          description: The name of the custom field.
          type: string
          example: Status
        resource_subtype:
          description: 'The type of the custom field. Must be one of the given values.

            '
          type: string
          readOnly: true
          example: text
          enum:
          - text
          - enum
          - multi_enum
          - number
          - date
          - people
        type:
          description: '*Deprecated: new integrations should prefer the resource_subtype field.* The type of the custom field. Must be one of the given values.

            '
          type: string
          readOnly: true
          enum:
          - text
          - enum
          - multi_enum
          - number
          - date
          - people
        enum_options:
          description: '*Conditional*. Only relevant for custom fields of type `enum`. This array specifies the possible values which an `enum` custom field can adopt. To modify the enum options, refer to [working with enum options](/reference/createenumoptionforcustomfield).'
          type: array
          items:
            $ref: '#/components/schemas/EnumOption'
        enabled:
          description: '*Conditional*. Determines if the custom field is enabled or not.'
          type: boolean
          readOnly: true
          example: true
        representation_type:
          description: This field tells the type of the custom field.
          type: string
          example: number
          readOnly: true
          enum:
          - text
          - enum
          - multi_enum
          - number
          - date
          - people
          - formula
          - custom_id
        id_prefix:
          description: This field is the unique custom ID string for the custom field.
          type: string
          nullable: true
          example: ID
        is_formula_field:
          description: '*Conditional*. This flag describes whether a custom field is a formula custom field.'
          type: boolean
          example: false
        date_value:
          description: '*Conditional*. Only relevant for custom fields of type `date`. This object reflects the chosen date (and optionally, time) value of a `date` custom field. If no date is selected, the value of `date_value` will be `null`.'
          type: object
          nullable: true
          properties:
            date:
              type: string
              description: A string representing the date in YYYY-MM-DD format.
              example: '2024-08-23'
            date_time:
              type: string
              description: A string representing the date in ISO 8601 format. If no time value is selected, the value of `date-time` will be `null`.
              example: '2024-08-23T22:00:00.000Z'
        enum_value:
          allOf:
          - $ref: '#/components/schemas/EnumOption'
          - type: object
            nullable: true
            description: '*Conditional*. Only relevant for custom fields of type `enum`. This object is the chosen value of an `enum` custom field.'
        multi_enum_values:
          description: '*Conditional*. Only relevant for custom fields of type `multi_enum`. This object is the chosen values of a `multi_enum` custom field.'
          type: array
          items:
            $ref: '#/components/schemas/EnumOption'
        number_value:
          description: '*Conditional*. This number is the value of a `number` custom field.'
          type: number
          nullable: true
          example: 5.2
        text_value:
          description: '*Conditional*. This string is the value of a `text` custom field.'
          type: string
          nullable: true
          example: Some Value
        display_value:
          description: A string representation for the value of the custom field. Integrations that don't require the underlying type should use this field to read values. Using this field will future-proof an app against new custom field types.
          type: string
          readOnly: true
          example: blue
          nullable: true
    AttachmentCompact:
      description: An *attachment* object represents any file attached to a task in Asana, whether it’s an uploaded file or one associated via a third-party service such as Dropbox or Google Drive.
      type: object
      properties:
        gid:
          description: Globally unique identifier of the resource, as a string.
          type: string
          readOnly: true
          example: '12345'
          x-insert-after: false
        resource_type:
          description: The base type of this resource.
          type: string
          readOnly: true
          example: attachment
          x-insert-after: gid
        name:
          description: The name of the file.
          type: string
          readOnly: true
          example: Screenshot.png
        resource_subtype:
          description: The service hosting the attachment. Valid values are `asana`, `dropbox`, `gdrive`, `onedrive`, `box`, `vimeo`, and `external`.
          type: string
          example: dropbox
    TaskTemplateRecipe:
      allOf:
      - $ref: '#/components/schemas/TaskTemplateRecipeCompact'
      - type: object
        properties:
          description:
            description: Description of the task that will be created from this template.
            type: string
            example: Please describe the bug you found and how to reproduce it.
          html_description:
            description: HTML description of the task that will be created from this template.
            type: string
            example: Please describe the bug you found and how to reproduce it.
          memberships:
            description: Array of projects that the task created from this template will be added to
            type: array
            items:
              $ref: '#/components/schemas/ProjectCompact'
          relative_start_on:
            nullable: true
            description: The number of days after the task has been instantiated on which that the task will start
            type: integer
            example: 1
          relative_due_on:
            nullable: true
            description: The number of days after the task has been instantiated on which that the task will be due
            type: integer
            example: 2
          due_time:
            nullable: true
            description: The time of day that the task will be due
            type: string
            example: 13:15:00.000Z
          dependencies:
            description: Array of task templates that the task created from this template will depend on
            type: array
            items:
              $ref: '#/components/schemas/TaskTemplateRecipeCompact'
          dependents:
            description: Array of task templates that will depend on the task created from this template
            type: array
            items:
              $ref: '#/components/schemas/TaskTemplateRecipeCompact'
          followers:
            description: Array of users that will be added as followers to the task created from this template
            type: array
            items:
              $ref: '#/components/schemas/UserCompact'
          attachments:
            description: Array of attachments that will be added to the task created from this template
            type: array
            items:
              $ref: '#/components/schemas/AttachmentCompact'
          subtasks:
            description: Array of subtasks that will be added to the task created from this template
            type: array
            items:
              $ref: '#/components/schemas/TaskTemplateRecipeCompact'
          custom_fields:
            description: Array of custom fields that will be added to the task created from this template
            type: array
            items:
              $ref: '#/components/schemas/CustomFieldCompact'
    JobCompact:
      description: A *job* is an object representing a process that handles asynchronous work.
      type: object
      properties:
        gid:
          description: Globally unique identifier of the resource, as a string.
          type: string
          readOnly: true
          example: '12345'
          x-insert-after: false
        resource_type:
          description: The base type of this resource.
          type: string
          readOnly: true
          example: job
          x-insert-after: gid
        resource_subtype:
          description: The subtype of this resource. Different subtypes retain many of the same fields and behavior, but may render differently in Asana or represent resources with different semantic meaning.
          type: string
          readOnly: true
          example: duplicate_task
        status:
          description: 'The current status of this job. The value is one of: `not_started`, `in_progress`, `succeeded`, or `failed`.'
          type: string
          enum:
          - not_started
          - in_progress
          - succeeded
          - failed
          readOnly: true
          example: in_progress
        new_project:
          $ref: '#/components/schemas/ProjectCompact'
        new_task:
          allOf:
          - $ref: '#/components/schemas/TaskCompact'
          - type: object
            nullable: true
        new_project_template:
          $ref: '#/components/schemas/ProjectTemplateCompact'
    TaskTemplateCompact:
      description: A *task template* is an object that allows new tasks to be created with a predefined setup.
      type: object
      properties:
        gid:
          description: Globally unique identifier of the resource, as a string.
          type: string
          readOnly: true
          example: '12345'
          x-insert-after: false
        resource_type:
          description: The base type of this resource.
          type: string
          readOnly: true
          example: task_template
          x-insert-after: gid
        name:
          description: Name of the task template.
          type: string
          example: Packing list
    TaskTemplateBase:
      allOf:
      - $ref: '#/components/schemas/TaskTemplateCompact'
    TaskTemplateResponse:
      allOf:
      - $ref: '#/components/schemas/TaskTemplateBase'
      - type: object
        properties:
          name:
            description: Name of the task template.
            type: string
            example: Bug Report Template
          project:
            description: The project that this task template belongs to.
            nullable: true
            allOf:
            - $ref: '#/components/schemas/ProjectCompact'
          template:
            description: The configuration for the task that will be created from this template.
            allOf:
            - $ref: '#/components/schemas/TaskTemplateRecipe'
          created_by:
            description: The user who created this task template.
            allOf:
            - $ref: '#/components/schemas/UserCompact'
          created_at:
            description: The time at which this task template was created.
            type: string
            format: date-time
            example: '2019-01-01T00:00:00.000Z'
    TaskCompact:
      description: The *task* is the basic object around which many operations in Asana are centered.
      type: object
      properties:
        gid:
          description: Globally unique identifier of the resource, as a string.
          type: string
          readOnly: true
          example: '12345'
          x-insert-after: false
        resource_type:
          description: The base type of this resource.
          type: string
          readOnly: true
          example: task
          x-insert-after: gid
        name:
          description: The name of the task.
          type: string
          example: Bug Task
        resource_subtype:
          type: string
          description: 'The subtype of this resource. Different subtypes retain many of the same fields and behavior, but may render differently in Asana or represent resources with different semantic meaning.

            The resource_subtype `milestone` represent a single moment in time. This means tasks with this subtype cannot have a start_date.'
          enum:
          - default_task
          - milestone
          - approval
          example: default_task
        created_by:
          type: object
          readOnly: true
          description: '[Opt In](/docs/inputoutput-options). A *user* object represents an account in Asana that can be given access to various workspaces, projects, and tasks.'
          properties:
            gid:
              description: Globally unique identifier of the resource.
              type: string
              example: '1111'
            resource_type:
              description: The type of resource.
              type: string
              example: user
  responses:
    NotFound:
      description: Either the request method and path supplied do not specify a known action in the API, or the object specified by the request does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    PaymentRequired:
      description: The request was valid, but the queried object or object mutation specified in the request is above your current premium level.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerError:
      description: There was a problem on Asana’s end. In the event of a server error the response body should contain an error phrase. These phrases can be used by Asana support to quickly look up the incident that caused the server error. Some errors are due to server load, and will not supply an error phrase.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: The authentication and request syntax was valid but the server is refusing to complete the request. This can happen if you try to read or write to objects or properties that the user does not have access to.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: A valid authentication token was not provided with the request, so the API could not associate a user with the request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: This usually occurs because of a missing or malformed parameter. Check the documentation and the syntax of your request and try again.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    offset:
      name: offset
      in: query
      description: 'Offset token.

        An offset to the next page returned by the API. A pagination request will return an offset token, which can be used as an input parameter to the next request. If an offset is not passed in, the API will return the first page of results.

        *Note: You can only pass in an offset that was returned to you via a previously paginated request.*'
      example: eyJ0eXAiOJiKV1iQLCJhbGciOiJIUzI1NiJ9
      schema:
        type: string
    pretty:
      name: opt_pretty
      in: query
      description: 'Provides “pretty” output.

        Provides the response in a “pretty” format. In the case of JSON this means doing proper line breaking and indentation to make it readable. This will take extra time and increase the response size so it is advisable only to use this during debugging.'
      required: false
      allowEmptyValue: true
      schema:
        type: boolean
      style: form
      example: true
    task_template_path_gid:
      name: task_template_gid
      in: path
      description: Globally unique identifier for the task template.
      required: true
      schema:
        type: string
      example: '1331'
      x-env-variable: task_template
    limit:
      name: limit
      in: query
      description: 'Results per page.

        The number of objects to return per page. The value must be between 1 and 100.'
      example: 50
      schema:
        type: integer
        minimum: 1
        maximum: 100
  securitySchemes:
    personalAccessToken:
      type: http
      description: A personal access token for the Asana API.
      scheme: bearer
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization code flow.
      flows:
        authorizationCode:
          authorizationUrl: https://app.asana.com/-/oauth_authorize
          tokenUrl: https://app.asana.com/-/oauth_token
          scopes:
            default: Provides access to all endpoints documented in the API reference.
